# Binary files
*.pdf binary
*.jpg binary
*.png binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.zip binary
*.7z binary
*.ttf binary
*.pptx binary
*.tgz binary
*.tar.gz binary
*.exe binary