.primary-icon {
  color: var(--seeds-color-primary-dark);
}

.muted-card {
  --card-spacing-sm: var(--seeds-s4);
  --card-border-color: var(--seeds-color-primary-light);
  --card-border-width: var(--seeds-border-2);
  --card-background-color: var(--seeds-bg-color-surface-primary);
  --card-divider-color: var(--seeds-border-color);
  --card-divider-width: var(--seeds-border-1);
}

.mobile-full-width-card {
  margin-block-start: var(--seeds-s6);
  @media (--sm-only) {
    margin-block-start: 0;
    border-radius: 0;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
  }
}

.mobile-full-width-muted-card {
  margin-block-start: var(--seeds-s6);
  @media (--sm-only) {
    margin-block-start: 0;
    border-radius: 0;
    border-right: 0;
    border-left: 0;
  }
}

.mobile-collapse {
  @media (--sm-only) {
    padding-inline: var(--seeds-s4);
  }
}

.inline-collapse-padding {
  padding-inline-start: var(--seeds-s6);
  @media (--sm-only) {
    padding-inline: var(--seeds-s4);
  }
}

.card-heading {
  margin-bottom: var(--seeds-s2);
}

.listing-heading {
  font-size: var(--seeds-type-heading-size-3xl);
  @media (--sm-only) {
    font-size: var(--seeds-type-heading-size-2xl);
  }
}

.listing-tags {
  margin-block: var(--seeds-s2);

  span {
    &:not(:last-child) {
      margin-right: var(--seeds-s2);
    }
  }
}

.listing-main-details {
  margin-top: var(--seeds-s4);
  h1 {
    margin-bottom: var(--seeds-s2);
  }
  @media (--sm-only) {
    padding-inline: var(--seeds-s4);
  }
}

.listing-address {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

// DueDate
.application-date-card {
  color: var(--seeds-text-color);
  font-size: var(--seeds-type-label-size);
  svg {
    margin-right: var(--seeds-s2);
  }
  .application-date-content {
    display: flex;
  }
}

// ListingMainDetails
.listing-info-card {
  .card-note {
    font-size: var(--seeds-type-label-size);
  }
}

.heading-group {
  --heading-color: var(--seeds-text-color-darker);
  --subheading-margin: var(--seeds-s1);
  --subheading-margin-sm: var(--seeds-s2);
}

.emphasized-heading-group {
  p {
    font-weight: var(--seeds-font-weight-semibold);
  }
}

.features-heading-group {
  --heading-color: var(--seeds-text-color-darker);
}

// GetApplication
.card-section-background {
  background-color: var(--seeds-bg-color-surface-primary);
}

.address-markdown {
  font-size: var(--seeds-type-label-size);
}

.slim-heading {
  font-size: var(--seeds-type-heading-size-lg);
  color: var(--seeds-text-color-darker);
}

.split-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.split-card-cell {
  @media (--md-and-up) {
    flex-basis: 50%;
  }
  &:not(:last-child) {
    padding-inline-end: var(--seeds-s4);
  }
  margin-block-end: var(--seeds-s6);
}

.emphasized {
  font-weight: var(--seeds-font-weight-bold);
  font-size: var(--seeds-type-heading-size-lg);
}

.listing-detail-view {
  color: var(--seeds-text-color);
  button {
    width: 100%;
    margin-top: var(--seeds-s2);
  }
  .full-width-button {
    margin-top: var(--seeds-s2);
    width: 100%;
  }
  display: flex;
  width: 100%;
  justify-content: center;
  // flex flex-wrap relative max-w-5xl m-auto mt-4
}

.content-wrapper {
  max-width: var(--seeds-width-5xl);
  display: flex;
  flex-direction: column;
  @media (--sm-and-up) {
    padding-inline: var(--seeds-s2);
    flex-direction: row;
  }
}

.right-bar {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 3);
  @media (--sm-only) {
    display: none;
  }
}

.left-bar {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 3 * 2);
  @media (--sm-and-up) {
    padding-inline-end: var(--seeds-s6);
  }
}

.image-card {
  display: flex;
  flex-direction: column;
}

.rent-summary {
  flex-direction: column;
  display: flex;
  margin-block-start: var(--seeds-s6);
}

.main-content {
  display: flex;
  flex-direction: column;
  margin-block-start: var(--seeds-s6);
}

.hide-desktop {
  @media (--sm-and-up) {
    display: none;
  }
}
