.account-card-container {
  padding-inline: var(--seeds-s6);
  @media (max-width: theme("screens.sm")) {
    padding-inline: 0rem;
    padding-block: var(--seeds-s4);
  }
}

.account-card-section {
  @media (min-width: theme("screens.sm")) {
    --card-content-padding-inline: var(--seeds-s12);
  }
}

.account-settings-label {
  font-size: var(--seeds-font-size-sm);
  font-weight: var(--seeds-font-weight-bold);
}

.application-no-results {
  padding: var(--seeds-s4);
  background-color: var(--seeds-color-secondary-lighter);
}
.application-no-results-text {
  padding-bottom: var(--seeds-s6);
  font-weight: var(--seeds-font-weight-regular);
}
