.account-card-settings-section {
  --card-content-padding-inline: var(--seeds-s12);
  @media (max-width: theme("screens.sm")) {
    --card-content-padding-inline: var(--seeds-s4);
    --card-content-padding-block: var(--seeds-s6);
  }
}

.account-settings-label {
  font-size: var(--seeds-font-size-sm);
  font-weight: var(--seeds-font-weight-bold);
  color: var(--seeds-input-text-label-color);
}
.account-settings-disclaimer {
  font-size: var(--seeds-font-size-xs);
  color: var(--seeds-text-color-light);
}

.dashboard-max-width-layout {
  padding-block: var(--seeds-s4);
  @media (--md-and-up) {
    padding-block: var(--seeds-spacer-container);
  }
}