.account-card-settings-section {
  --card-content-padding-inline: var(--seeds-s12);
  @media (max-width: theme("screens.sm")) {
    --card-content-padding-inline: var(--seeds-s4);
    --card-content-padding-block: var(--seeds-s6);
  }
  a:not(:global(.seeds-button)) {
    text-decoration: underline;
  }
}

.account-settings-label {
  font-size: var(--seeds-font-size-sm);
  font-weight: var(--seeds-font-weight-bold);
  color: var(--seeds-input-text-label-color);
}

.dashboard-max-width-layout {
  padding-block: var(--seeds-s4);
  @media (--md-and-up) {
    padding-block: var(--seeds-spacer-container);
  }
}

.card-content {
  color: var(--seeds-text-color);
  font-size: var(--seeds-font-size-base);
}

.section-sub-note {
  color: var(--seeds-color-gray-750);
  font-size: var(--seeds-font-size-sm);
  margin-block-start: var(--seeds-s6);
}

.settings-page-view {
  background-color: var(--seeds-bg-color-canvas);
  border-top: 1px solid var(--seeds-border-color);

  &-section {
    padding-block: var(--seeds-s12);
    padding-inline: var(--seeds-s12);
    margin-inline: auto;
    max-width: unset;
  }
}
