.account-card-container {
  padding-inline: 1.5rem;
  @media (max-width: theme("screens.md")) {
    padding-inline: 0rem;
    padding-block: 1rem;
  }
}

.account-card {
  width: 100%;
  @media (min-width: theme("screens.md")) {
    --card-header-padding-inline: var(--seeds-s12);
  }
}

.acccount-card-icon {
  margin-bottom: var(--seeds-s3);
}
.account-card-header {
  --subheading-margin: var(--seeds-s3);
  --heading-margin: var(--seeds-s3);
}

.account-card-section {
  @media (min-width: theme("screens.md")) {
    --card-content-padding-inline: var(--seeds-s12);
  }
}

.application-card-section {
  --card-content-padding-block: var(--seeds-s6);
}
