.loading-overlay {
  --padding: inherit;
  padding: var(--padding);
  @apply relative;
  @apply pointer-events-none;

  &:before {
    content: "";
    @apply absolute;
    @apply top-0;
    @apply left-0;
    @apply w-full;
    @apply h-full;
    @apply z-10;
    background-color: rgba(215, 215, 215, 0.5);
  }

  .loading-overlay__spinner {
    @apply absolute;
    left: 50%;
    top: 50%;
    @apply text-white;
    @apply -mt-8;
    @apply -ml-8;
    @apply z-10;
  }
}
