.modal {
  /* Component Variables */
  --title-color: var(--bloom-color-gray-950);
  --title-font-size: var(--bloom-font-size-lg);
  --title-font-family: var(--bloom-font-sans);
  --content-font-color: var(--bloom-color-gray-700);
  --content-padding-block: 0 var(--bloom-s6);
  --content-padding-inline: var(--bloom-s6);
  --content-margin-top: var(--bloom-s6);
  --title-padding-block: var(--bloom-s6);
  --title-padding-inline: var(--bloom-s6) var(--bloom-s12);
  --footer-padding-block: var(--bloom-s6);
  --footer-padding-inline: var(--bloom-s6);
  --max-width: var(--bloom-width-5xl);
  --desktop-min-width: var(--bloom-width-xl);
  --scroll-max-height: 100vh;
  --footer-background-color: var(--bloom-color-white);
  --border-radius: var(--bloom-rounded);
  --mobile-border-radius: 0;
  --background-color: var(--bloom-color-white);
  --modal-shadow: var(--bloom-shadow-md);
  --modal-border: var(--bloom-border-1) solid var(--bloom-color-gray-400);
  --footer-justify: normal;
  --max-height: 100vh;
  --overflow: auto;
  --width: 100vw;
  --modal-header-min-height: auto;
  --modal-margin-top: auto;

  overflow: var(--overflow);
  -webkit-overflow-scrolling: touch;

  display: flex;
  flex-direction: column;

  position: relative;
  max-width: var(--max-width);
  max-height: var(--max-height);
  margin: var(--modal-margin-top) auto auto;
  border: var(--modal-border);
  background-color: var(--background-color);
  box-shadow: var(--modal-shadow);
  width: var(--width);
  border-radius: var(--mobile-border-radius);

  @media (min-width: $screen-sm) {
    border-radius: var(--border-radius);
    min-width: var(--desktop-min-width);
    width: auto;
  }

  max-height: 100vh;
  max-width: 100vw;
  @media (min-width: $screen-md) {
    max-height: calc(100vh - var(--bloom-s6));
    max-width: calc(100vw - var(--bloom-s6));
  }
}

.modal__header {
  min-height: var(--modal-header-min-height);
  border-bottom: 2px solid var(--bloom-color-gray-450);
}

.modal__title {
  padding-block: var(--title-padding-block);
  padding-inline: var(--title-padding-inline);
  color: var(--title-color);
  font-size: var(--title-font-size);
  font-family: var(--title-font-family);
}

.modal__inner {
  padding-block: var(--content-padding-block);
  padding-inline: var(--content-padding-inline);
  margin-top: var(--content-margin-top);

  &:last-of-type {
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }

  &.is-scrollable {
    max-height: var(--scroll-max-height);
    max-width: 100vw;
    @media (min-width: $screen-md) {
      max-height: calc(100vh - var(--bloom-s6));
      max-width: calc(100vw - var(--bloom-s6));
      margin-bottom: auto;
    }
    overflow-y: auto;
  }

  p {
    color: var(--content-font-color);
  }
}

.modal__footer {
  padding-block: var(--footer-padding-block);
  padding-inline: var(--footer-padding-inline);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-top: 2px solid var(--bloom-color-gray-450);
  background-color: var(--footer-background-color);

  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: var(--bloom-s5);
  justify-content: var(--footer-justify);
  align-items: center;

  @media (max-width: $screen-md) {
    margin-bottom: var(--bloom-s28);
  };
}

.modal__close {
  position: absolute;
  top: var(--bloom-s5);
  right: var(--bloom-s5);
  cursor: pointer;
}

.modal__loading {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: var(--bloom-s48);
}

.modal__footer-desktop {
  display: none;

  @media (min-width: $screen-md) {
    display: inherit;
  }
}

.modal__footer-mobile {
  display: inherit;

  @media (min-width: $screen-md) {
    display: none;
  }
}

.modal.modal__inner-with-footer {
  @media (min-width: $screen-md) {
    --modal-margin-top: var(--bloom-s6);
  }
}
