@import "../global/mixins.scss";

.fixed-overlay {
  --overlay-background-color: var(--bloom-color-gray-950);
  --overlay-opacity: 0.5;
  --overlay-height: 100vh;

  position: fixed;
  display: flex;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: var(--overlay-height);
  z-index: 50;

  &.is-backdrop:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-background-color);
    opacity: var(--overlay-opacity);
    transition-property: opacity;
    transition-duration: 0.1s;
    transition-timing-function: cubic-bezier(0.475, 0.335, 0.43, 0.94);
  }

  &.overlay-effect-enter,
  &.overlay-effect-exit-active {
    .fixed-overlay__inner {
      opacity: 0;
      transform: translate(0px, 14px);
    }
    &.is-backdrop:before {
      opacity: 0;
    }
  }

  &.overlay-effect-enter-active {
    .fixed-overlay__inner {
      opacity: 1;
      transform: translate(0px, 0px);
    }
    &.is-backdrop:before {
      opacity: var(--overlay-opacity);
    }
  }
}

.fixed-overlay__inner {
  transition-property: transform, opacity;
  margin: auto;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.475, 0.335, 0.43, 0.94);
}

.fixed-overlay__inner-slim {
  width: 90vw;

  @media (min-width: $screen-md) {
    width: 75vw;
  }
}
