.button {
  @apply text-sm;
  border-radius: 60px;
  letter-spacing: initial;
  padding: 0.5rem 1rem;
  text-transform: initial;

  @screen md {
    @apply text-base;
  }

  &:hover {
    background-color: $tailwind-primary;
    border-color: $tailwind-primary;

    .ui-icon svg {
      fill: white;
    }
  }

  .ui-icon {
    &.button__icon {
      margin: 0 0.5rem 0 0;
    }

    &.ui-base svg {
      height: 1rem;
      width: 1rem;

      @screen md {
        height: 1.5rem;
        width: 1.5rem;
      }
    }

    svg {
      fill: $tailwind-primary;
    }
  }
}

.button.is-primary:hover {
  @apply text-primary-darker;
  background-color: white;
}

.button.is-secondary {
  border-color: $tailwind-primary-darker;
  color: $tailwind-primary-darker;

  &:hover {
    background-color: $tailwind-primary-darker;

    .ui-icon svg {
      fill: white;
    }
  }

  &.has-icon-right .button__icon {
    margin: 0 0 0 0.5rem;
  }

  .ui-icon svg {
    fill: $tailwind-primary-darker;
  }
}
