.create-account-field {
  color: var(--seeds-input-text-label-color);
  font-size: var(--seeds-font-size-sm);
  display: block;
}

.create-account-input {
  border-radius: var(--bloom-rounded-lg);
  margin-top: var(--bloom-s2);
}

.footer-card-section {
  background-color: var(--seeds-color-primary-lighter);
}
