.create-account-field {
  color: var(--seeds-input-text-label-color);
  font-size: var(--seeds-font-size-sm);
  display: block;
}

.create-account-input {
  border-radius: var(--bloom-rounded-lg);
  margin-top: var(--bloom-s2);
}

.create-account-gap {
  margin-bottom: var(--bloom-s4);
}

.create-account-label {
  margin-bottom: var(--bloom-s1);
}

.create-account-dob-age-helper {
  margin-top: var(--seeds-s4);
}

.create-account-dob-example {
  margin-top: var(--seeds-s2);
}
