.create-account-header {
    color: var(--seeds-color-gray-750);
    font-size: var(--seeds-font-size-sm);
    font-weight: var(--seeds-font-weight-semibold);
}

.create-account-field {
    color: var(--seeds-color-gray-750);
    font-size: var(--seeds-font-size-sm);
}