.progress-nav {
  padding: 20px 0;
  @screen md {
    padding: 31px 0;
  }
}

li.progress-nav__item,
h1.form-card__header_title {
  padding: 0;
  text-transform: capitalize;
}

// For the eligibility questionnaire, there are five headers, so give each 20% of the full navbar
// width. (If we reuse this class for other navigation UI elements, with a different number of
// navbar items, we'll need to refactor this.)
li.progress-nav__item {
  width: 20%;
}

.progress-nav__item {
  &.is-active:before {
    @apply bg-primary-dark;
  }
  &.is-disabled:before {
    @apply bg-white border-2 border-primary;
  }
  &:before {
    @apply bg-primary border-0;
  }
  &:after {
    @apply bg-primary;
    height: 2px;
    margin-top: -1px; // so the connecting line is vertically centered between the pips
  }
  &.is-active > a {
    @apply text-primary-dark;
  }
  a {
    @apply text-primary;
  }
}

// Body text should have normal font weight
.field-note {
  @apply font-normal;
}
