.site-header {
  --base-align-items: center;
  --base-desktop-padding: 0 0 0 var(--bloom-s3);
  --base-desktop-width: 100% !important;
  --base-height: auto;
  --base-max-height: none;
  --base-mobile-padding: var(--bloom-s6) 0 var(--bloom-s6) var(--bloom-s4);
  --base-mobile-width: 100%;
  --dropdown-item-font-size: var(--bloom-s3_5);
  --link-align-items: center;
  --link-bottom-border: none;
  --link-font-size: 0.95rem;
  --link-font-weight: 700;
  --link-height: var(--bloom-s10);
  --link-hover-bottom-border: none;
  --link-padding: var(--bloom-s4);
  --link-text-color: var(--bloom-color-primary);
  --link-text-desktop-color: var(--bloom-color-gray-750);
  --link-text-hover-color: var(--bloom-color-primary-dark);
  --link-text-transform: none;
  --logo-container-min-width: fit-content;
  --logo-content-display: flex;
  --logo-content-padding: 0;
  --logo-desktop-height: 100%;
  --logo-desktop-padding: 0;
  --logo-image-desktop-height: 57px;
  --logo-image-desktop-margin: -0.75rem 0 0 -0.25rem;
  --logo-image-desktop-max-height: 6rem;
  --logo-image-mobile-display: none;
  --logo-image-mobile-height: 57px;
  --logo-image-mobile-margin: 0;
  --logo-margin: 0;
  --logo-mobile-height: 100%;
  --logo-mobile-padding: 0;
  --logo-subtitle-desktop-font-size: var(--bloom-font-size-sm);
  --logo-subtitle-mobile-font-size: var(--bloom-font-size-sm);
  --logo-title-font-size-desktop: var(--bloom-font-size-base);
  --logo-title-font-size-mobile: var(--bloom-font-size-base);
  --logo-title-letter-spacing: normal;
  --logo-title-margin-desktop: 0 0 0 var(--bloom-s2);
  --logo-title-text-align: left;
  --logo-title-text-color: var(--bloom-color-primary-dark);
  --logo-title-text-transform: none;
  --mobile-dropdown-item-font-size: var(--bloom-s3_5);
  --mobile-dropdown-margin: 0 0 var(--bloom-s6) 0;
  --mobile-menu-button-margin: 0;
  --mobile-menu-button-padding: 0 var(--bloom-s1) 0 0;
  --mobile-menu-button-text-display: none;
  --navbar-menu-desktop-height: var(--bloom-s12);
  --navbar-menu-desktop-margin: var(--bloom-s6) 0 var(--bloom-s6);
  --navbar-menu-desktop-width: 100%;
  --navbar-menu-mobile-height: var(--bloom-s12);
  --navbar-menu-mobile-width: 100%;
  --notice-display-desktop: none;
  --notice-display-mobile: none;
}

.site-header__link {
  @screen lg {
    font-size: 1.125rem;
  }
}

.site-header__logo {
  margin: 0;
  box-shadow: none;
}

.site-header__logo-title {
  @media (min-width: $header-desktop-min-size) {
    font-size: var(--bloom-font-size-2xl);
  }
  [dir="rtl"] & {
    margin-right: var(--bloom-s4);
  }
}

.site-header__logo-image {
  @media (min-width: $header-desktop-min-size) {
    height: 77px;
  }

  @screen xl {
    height: 77px;
  }
}

.site-header__navbar-menu {
  .button {
    padding: 0 var(--bloom-s1) 0 var(--bloom-s3);
    height: var(--bloom-s12);
    margin-top: 0;
    margin-right: var(--bloom-s3);
  }

  padding: 0 0 0 var(--bloom-s8);
  [dir="rtl"] & {
    padding-left: 0;
  }

  @media (min-width: $header-desktop-min-size) {
    margin: var(--bloom-s12) 0 var(--bloom-s8);
    padding: 0 var(--bloom-s2) 0 var(--bloom-s8);
    [dir="rtl"] & {
      padding-left: var(--bloom-s4);
    }
  }

  @screen lg {
    padding: 0 var(--bloom-s10) var(--bloom-s8);
  }
}

.language-bar__inner {
  max-width: inherit;
  padding-right: 0;
  @screen md {
    padding-right: var(--bloom-s3);

    [dir="rtl"] & {
      padding-left: var(--bloom-s3);
    }
  }

  @screen lg {
    padding-right: var(--bloom-s12);
  }
}

.site-header__logo-container {
  @screen lg {
    padding: var(--bloom-s9) 0 var(--bloom-s9) var(--bloom-s8);
  }
}

.site-header__logo-title {
  @media (min-width: $header-desktop-min-size) {
    margin-left: var(--bloom-s4);
  }
}

.site-header__logo-image {
  @media (min-width: $header-desktop-min-size) {
    margin: -1rem 0 0;
  }
}

.site-header__base {
  [dir="rtl"] & {
    padding-right: var(--bloom-s3);
    padding-left: 0;
  }

  @media (min-width: $header-desktop-min-size) {
    padding-right: var(--bloom-s2_5);
  }

  @screen xl {
    padding-right: var(--bloom-s2);
  }
}

.site-header__mobile-dropdown-item {
  color: var(--bloom-color-gray-750);
}

.site-header__mobile-menu-button {
  svg {
    rect {
      fill: var(--bloom-color-primary);
    }
    height: 1.125rem;
    width: 1.313rem;
  }
}

// This is a little hacky to get the divider line to the left of the "sign in" link, but
// this is the simplest way to do it without making significant changes to the SiteHeader
// component
.navbar-link__sign-in:before {
  border-inline-start: 3px solid $tailwind-primary;
  content: "";
  height: 1.125rem;
  inset-inline-start: 0;
  padding-right: var(--bloom-s8);
}

.navbar-link__sign-in {
  padding-left: 0;
  margin-left: var(--bloom-s4);
}

.navbar-link__sign-up {
  border: var(--bloom-s0_5) solid $tailwind-primary;
  border-radius: var(--bloom-s11);
  min-width: max-content;
}

.hero {
  @apply font-bold;
  @apply mx-2;
  @apply mb-4;
  @apply rounded-2xl;

  @screen sm {
    @apply mx-4;
  }
}

.hero__title {
  @apply text-3xl;
  @apply text-primary-dark;
  @apply tracking-normal;
  @apply leading-tight;
  @apply mb-5;

  @screen sm {
    @apply text-6xl;
  }
}

.hero__inner {
  // https://github.com/tailwindlabs/tailwindcss/issues/1692
  background-color: rgba(255, 255, 255, 0.9);
}

.hero__subtitle {
  @apply mb-5;
  color: black;
  font-size: unset;
  font-weight: normal;
  text-shadow: none;
}

.hero__button {
  display: inline-block;
  font-size: large;
  max-width: 100%;
  padding: 12px;
  padding: 0.875rem 2.25rem;
  width: auto;
  margin-top: 1rem;
  border-radius: 40px;

  @screen sm {
    margin-top: 0;
  }
}

.hero__rentals-button {
  color: black;
  background-color: #ffbe42;

  &:hover {
    @apply bg-primary;
    color: white;
  }
}
.hero__finder-button {
  color: var(--bloom-color-white);
  background-color: var(--bloom-color-primary-dark);
  &:hover {
    color: var(--bloom-color-white);
    box-shadow: 0 0 0 var(--bloom-s0_5) var(--bloom-color-primary-dark) inset;
    background-color: var(--bloom-color-black);
  }
}

.page-header__title {
  font-size: 1.5rem;
  font-weight: 700;
  @screen md {
    font-size: 1.75rem;
  }
}

.page-header__lead {
  @apply mt-4;
}
