@import "./colors.scss";

:root {
  --seeds-font-alt-sans: "Metropolis", Helvetica, Arial, Verdana, sans-serif;

  .site-header {
    --logo-content-padding: 0;
    --logo-desktop-height: var(--base-height);
    --logo-desktop-padding: 0;
    --logo-tablet-padding: var(--bloom-s4);
    --logo-image-desktop-max-height: 3rem;
    --link-align-items: center;
    --link-padding-wrapped: var(--bloom-s2) var(--bloom-s4);
    --link-padding-inline: var(--bloom-s4) var(--bloom-s3) var(--bloom-s3) var(--bloom-s3);
    --link-bottom-border: 0;
    --link-font-size: var(--bloom-font-size-sm);
    --link-font-weight: 500;
    --link-hover-bottom-border: 0;
    --link-text-color: var(--bloom-text-color-darker);
    --link-secondary-color: var(--bloom-color-primary-light);
    --link-hover-secondary-color: var(--bloom-color-primary);
    --mobile-menu-font-size: var(--bloom-font-size-s);
    --navbar-menu-desktop-margin: inherit;
    --navbar-menu-min-width: 110px;

    @media (min-width: $screen-lg) {
      --link-padding-inline: var(--bloom-s4) var(--bloom-s4) var(--bloom-s3) var(--bloom-s4);
    }
  }

  .doorway-message {
    --message-font: var(--bloom-font-sans);
  }

  .application-status {
    --seeds-color-primary-light: var(--doorway-color-secondary-background);
    --message-max-width: initial;
    --message-flex-gap: 0.45rem;
  }

  .warning-message {
    --message-max-width: initial;
  }

  .info-card {
    --margin-sides: var(--bloom-s3);
    --background-color: var(--bloom-color-blue-300);
    --background-color-lighter: var(--bloom-color-gray-300);
    --background-color-inline: inherit;
    --title-color: var(--bloom-text-color-darker);
    --title-secondary-color: var(--bloom-color-primary-dark);
    --title-font-size-normal: var(--bloom-font-size-2xl);
    --title-font-weight-normal: 100;
    --title-font-family: var(--bloom-font-serif);
    --title-text-transform-normal: none;

    margin-left: var(--margin-sides);
    margin-right: var(--margin-sides);
    border-radius: 0.5rem;
    border-width: 0px;

    &.is-inline {
      --background-color: var(--background-color-inline);
    }

    &.is-normal {
      .info-card__title {
        --title-font-size: var(--title-font-size-normal);
        --title-text-transform: var(--title-text-transform-normal);
        font-weight: var(--title-font-weight-normal);
      }
    }

    &.is-normal-primary-lighter {
      --background-color-lighter: var(--background-color);

      .info-card__title {
        --title-font-size-lighter: var(--title-font-size-normal);
        font-weight: var(--title-font-weight-normal);
      }
    }

    &.is-normal-secondary-lighter {
      --background-color: var(--background-color-lighter);

      .info-card__title {
        --title-font-size: var(--title-font-size-normal);
        --title-text-transform: var(--title-text-transform-normal);
        --title-letter-spacing: var(--title-letter-spacing-normal);
        --title-color: var(--title-secondary-color);
        font-weight: var(--title-font-weight-normal);
      }
    }
  }

  .seeds-button {
    --button-border-radius-sm: var(--seeds-rounded-full);
    --button-border-radius-md: var(--seeds-rounded-full);
    --button-border-radius-lg: var(--seeds-rounded-full);

    --button-padding-md: calc(var(--seeds-s3) - 2px) calc(var(--seeds-s6) - 2px);
    --button-padding-sm: calc(var(--seeds-s3) - 2px) calc(var(--seeds-s6) - 2px);

    -webkit-font-smoothing: antialiased; // restore macOS styling that had been unset
  }

  .seeds-card-section.bg-primary-lighter {
    background: var(--seeds-color-secondary-lighter) !important;
  }

  .seeds-card.application-form-card .image-card {
    --border-radius: 0;
  }

  .progress-nav {
    --dot-size: 0.95rem;
    --dot-font-size: 0.825rem;
    --dot-label-padding-top: var(--seeds-s6);
    --active-step-color: var(--seeds-color-primary-dark);
    --completed-step-color: var(--seeds-color-primary-dark);
  }

  /* TODO: would be nice to have CSS variables for this too */
  .progress-nav__dot-item::after {
    top: 0.35rem;
    height: 3px;
  }
  .main-container {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .fullscreen-alert {
    --alert-max-width: calc(var(--seeds-screen-lg) - var(--seeds-s20));
  }

  .styled-stacked-table {
    // Temporary until we have Seeds tables to manipulate UIC StackedTable component
    [class*="stacked-table"] {
      --bloom-font-size-base: var(--seeds-type-label-size);
      .stacked-table-subtext {
        color: var(--seeds-text-color);
      }
      tr {
        background-color: var(--seeds-bg-color-muted);
        margin-bottom: 0;
      }
      tr:nth-of-type(even) {
        background-color: var(--seeds-color-white);
      }
      tr:first-child {
        margin-block-end: 0;
      }
      @media (min-width: theme("screens.md")) {
        td:last-child {
          text-align: left;
          > div {
            text-align: left;
          }
        }
        th:last-child {
          text-align: left;
        }
      }

      th {
        background-color: white;
        padding-block: var(--seeds-s1);
        padding-inline: var(--seeds-s2);
        letter-spacing: normal;
        text-transform: capitalize;
      }
      ::before {
        text-transform: capitalize;
      }
      td {
        padding: var(--seeds-s2);
      }
      td,
      th {
        font-size: var(--seeds-type-caption-size);
      }
    }
  }

  .listing-multiselect-card {
    --card-border-width: 0;
    --card-content-padding-inline: var(--seeds-s6);
    --card-header-padding-inline: var(--seeds-s6);
    --card-content-padding-block: var(--seeds-s3);
    padding-block-end: var(--seeds-s4);
    margin-inline: var(--seeds-s3);
    margin-block-end: var(--seeds-s4);
    color: var(--seeds-text-color);
    font-size: var(--seeds-type-caption-size);
    background-color: var(--seeds-color-primary-lighter);
    header {
      .text-heading-sm {
        font-family: var(--seeds-font-serif);
        color: var(--seeds-text-color-dark);
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.025rem;
        // TODO: determine if we need this in Doorway
        font-size: var(--seeds-font-size-xs);
      }
    }
  }

  #seeds-toast-stack {
    --toast-stack-inset-top: calc(var(--seeds-s40) + var(--seeds-s2));
  }

  --text-caps-spaced-letter-spacing: var(--bloom-letter-spacing-tight);
  --text-caps-spaced-font-weight: 700;
  .text__caps-spaced {
    text-transform: none;
    color: var(--seeds-input-text-label-color);
  }

  .form--card__sub-header {
    border-top: none;
  }

  .label.text__caps-spaced {
    margin-bottom: var(--seeds-s1);
  }

  --notice-background-color: var(--seeds-color-blue-300);

  :is(.seeds-message, .seeds-toast) {
    &[data-variant="primary"] {
      background: var(--seeds-color-blue-300);
    }
  }

  .seeds-overlay {
    h1 {
      font-family: var(--seeds-font-serif);
    }
  }

  .seeds-dialog {
    max-height: 100dvh;
    --overlay-footer-background-color: var(--seeds-color-blue-100);
  }

  .seeds-dialog.listings-search-dialog {
    --dialog-width: 42rem;
  }

  .markdown-informational {
    font-size: var(--seeds-type-body-size);

    h3 {
      font-family: var(--seeds-font-alt-sans);
      font-size: var(--seeds-type-heading-size-lg);
      font-weight: var(--seeds-font-weight-semibold);
    }

    ul:not(.application-timeline) > li:last-of-type {
      margin-bottom: 0;
    }
  }

  ul.application-timeline {
    .ui-icon > svg {
      margin-top: 0 !important;
    }

    .progress-nav__dot-item > p {
      padding-top: 2.65rem;
      text-align: left;
      font-weight: normal !important;
    }

    .progress-nav__dot-item {
      text-align: left;
    }

    .progress-nav__dot-item::before {
      left: 1rem;
    }

    .progress-nav__dot-item::after {
      top: 0.9rem;
      height: 3px;
    }

    .progress-nav__dot-item.is-active::before {
      background-color: var(--seeds-color-success-dark);
    }

    .progress-nav__dot-item:first-of-type::after {
      left: 0;
    }

    .progress-nav__dot-item:last-of-type::after {
      display: none;
    }

    .progress-nav__dot-item .absolute {
      margin-left: 0.6rem;
    }
  }

  .image-card-tag__wrapper {
    z-index: calc(var(--seeds-z-index-overlay) - 2);
  }

  .seeds-tag {
    &[data-variant="primary"] {
      background-color: var(--seeds-color-primary-lighter);
    }
    &[data-variant="secondary"] {
      color: var(--seeds-color-accent-cool-darker);
    }
  }

  .seeds-button {
    --button-font-weight: var(--seeds-font-weight-semibold);
    &[data-variant="secondary"] {
      color: var(--doorway-color-blue-1300);
    }
    line-height: normal;
  }

  .alert-box {
    --notice-background-color: var(--bloom-color-blue-300);
  }

  .info-window {
    .listings-row {
      flex-direction: row;
      --inter-row-gap: 0;
      padding-top: 0;
      padding-bottom: var(--seeds-s2);
      @media (max-width: $screen-lg) {
        flex-direction: column;
        padding-bottom: 0;
        .listings-row_figure {
          margin-bottom: var(--seeds-s2);
          width: 100%;
          .image-card {
            width: 100%;
            img {
              max-height: 125px;
            }
          }
        }
        .listings-row_content {
          padding-left: 0;
        }
      }
      .listings-row_footer_container {
        margin-bottom: 0;
      }
    }
  }

  .listings-row {
    scroll-margin-top: 35px;
    --inter-row-gap: var(--seeds-s3_5);
  }

  .results-bar-button {
    --button-interior-gap: var(--seeds-s1_5);
    line-height: var(--seeds-line-height-4);
    @media (max-width: $screen-md) {
      --button-icon-side-padding: var(--seeds-s2);
      --button-border-width: 0;
      --button-padding-sm: var(--seeds-s2);
      margin-inline-end: calc(0px - var(--seeds-s2));
    }
  }

  .pagination-button-group {
    --padding-inline-desktop: var(--seeds-s6);
    --padding-block: var(--seeds-s2) var(--seeds-s6);
    .doorway-button {
      padding: var(--seeds-s3) var(--seeds-s4);
    }
  }

  .bloom-markdown {
    p:not(li > *) {
      padding-block: 0.25em;
    }

    ul {
      list-style: disc;
    }

    ol {
      list-style: decimal;
    }
    ul,
    ol {
      margin-left: var(--seeds-s5);
      margin-block-end: 0.5em;
    }

    hr {
      margin-block: var(--seeds-spacer-label);
      width: 100%;
    }

    a {
      color: var(--seeds-color-blue-500);
      text-decoration: underline;
    }
  }

  // Used in core for theming testing purposes only
  .lakeview {
    --seeds-color-primary-darker: #4e2169;
    --seeds-color-primary-dark: #6e2598;
    --seeds-color-primary: #773e98;
    --seeds-color-primary-light: #f2daff;
    --seeds-color-primary-lighter: #f9f4fa;
    --seeds-bg-color-surface-primary: var(--seeds-color-primary-lighter);
    --seeds-bg-color-surface-primary-inverse: var(--seeds-color-primary-darker);
    .seeds-button {
      --button-border-radius-sm: var(--seeds-rounded-3xl);
      --button-border-radius-md: var(--seeds-rounded-3xl);
    }
  }

  // The multi-image card overrides below exist outside of the jurisdictional class. This allows it to still get the lakeview overrides - if the class does exist, then apply the same overrides to its sibling.
  .lakeview + div {
    .image-card__gallery-modal {
      @extend .lakeview;
    }
  }

  // These are temporary manual overrides for the UIC multi image modal to enable it to theme with Seeds while the new Seeds multi image modal is still in development
  .image-card__gallery-modal {
    --bloom-color-primary: var(--seeds-color-primary);
    --bloom-color-primary-dark: var(--seeds-color-primary-dark);
    max-width: var(--seeds-width-2xl);
    @media (--sm-only) {
      background-color: var(--seeds-color-white);
    }
    p,
    img {
      width: 100%;
    }
    p {
      margin-block-end: var(--seeds-s8);
      @media (--sm-only) {
        margin-block-end: var(--seeds-s4);
      }
    }
  }
}
