/* Overrides the default ui-components styles with Detroit-specific styles. */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");

// All svg icons should be green.
.ui-icon svg {
  fill: $tailwind-primary-darker;
}

// The header logo should allow for a larger maximum height than the default
// logo.
.navbar-logo .logo .logo__image {
  min-height: 4rem;
  max-height: 5rem;
  @screen md {
    min-height: 6rem;
    max-height: 7rem;
  }
}

.navbar-logo .logo {
  max-height: 15rem;
  max-width: 100%;

  .logo__title {
    @apply text-sm;
  }
}

li.progress-nav__item,
h1.form-card__header_title {
  text-transform: capitalize;
}

// For the eligibility questionnaire, there are five headers, so give each 20% of the full navbar
// width. (If we reuse this class for other navigation UI elements, with a different number of
// navbar items, we'll need to refactor this.)
li.progress-nav__item {
  width: 20%;
}

// Body text should have normal font weight
.field-note {
  @apply font-normal;
}

Button.button.is-primary:hover,
a.button.is-primary:hover {
  @apply bg-primary-light;
  @apply text-black;
}

// Constrain the height of modals to 80% of the viewport
// and make them scrollable once that is exceeded.
.modal {
  max-height: 80vh;
  overflow-y: auto;
}

.loading-overlay__spinner circle {
  stroke: $tailwind-primary;
}

// Increase the font size of markdown sections.
.markdown-section__inner {
  @apply text-xl;
}

// Center the front page.
.homepage-extra {
  @apply text-center;
  @apply text-base;
}

.hero {
  @apply font-bold;
  @apply mx-4;
  @apply mb-4;
  @apply rounded-2xl;
}

.hero__title {
  max-width: 35rem;
  text-shadow: 0 0 20px black;
}

.hero__inset {
  background-color: white;
  border-radius: 25px;
  color: black;
  margin: 0 auto;
  max-width: 32rem;
  opacity: 0.95;
  padding: 30px;
}

.hero__text {
  font-size: medium;
  font-weight: 300;
  padding-bottom: 30px;
}

.hero__button {
  background-color: #ffbe42;
  border-radius: 15px;
  color: black;
  display: inline-block;
  font-size: large;
  margin-right: 0;
  max-width: 100%;
  padding: 12px;
  width: 14rem;

  @screen sm {
    width: 12rem;
  }

  &:hover {
    @apply bg-primary;
    color: white;
  }
}

.hero__button__first {
  margin-bottom: 1rem;

  @screen sm {
    margin-bottom: 0;
    border-radius: 30px 0 0 30px;
    border-right-width: 1px;
  }

  &:focus {
    border-right-width: 0;
  }
}
.hero__button__second {
  @screen sm {
    border-radius: 0 30px 30px 0;
    border-left-width: 1px;
  }

  &:focus {
    border-left-width: 0;
  }
}
