/* Overrides the default ui-components styles with Detroit-specific styles. */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");

// All svg icons should be green.
.ui-icon svg {
  fill: $tailwind-primary-darker;
}

$header-desktop-min-size: 1024px;

.site-header.site-header {
  .navbar-notice-hide {
    display: none;
  }

  .navbar-container {
    border: none;

    .navbar {
      align-items: center;
      height: auto;
      justify-content: flex-start;
      max-height: none;
      padding: 24px 0 18px;

      @media (min-width: $header-desktop-min-size) {
        padding: 0 12px;
        width: 100%;
      }

      @screen lg {
        padding: 0 50px;
        width: 100%;
      }

      @screen xl {
        justify-content: center;
      }

      .navbar-menu {
        height: 48px;
        margin-right: 12px;
        min-width: 48px;
        width: 48px;

        @media (min-width: $header-desktop-min-size) {
          margin: 40px 0 24px;
          width: 100%;
        }

        @screen xl {
          margin: 48px 0 32px;
        }

        .button.navbar-mobile-menu-button {
          align-items: center;
          justify-content: center;
          margin: 0;
          padding: 0;
        }

        .button {
          width: 60px;
        }

        .button__content {
          display: none;
        }

        .button__icon {
          margin: 0;
        }

        .ui-base svg {
          height: 18px;
          width: 21px;
        }

        .navbar-link {
          @apply text-primary;
          align-items: center;
          display: flex;
          font-size: 1.125rem;
          font-weight: 700;
          height: 40px;
          padding: 1rem;
          text-transform: none;
        }

        .navbar-link__sign-in {
          margin-inline-start: 1rem;
          padding-inline-start: 2rem;
          position: relative;
        }

        // This is a little hacky to get the divider line to the left of the "sign in" link, but
        // this is the simplest way to do it without making significant changes to the SiteHeader
        // component
        .navbar-link__sign-in:before {
          border-inline-start: 3px solid $tailwind-primary;
          content: "";
          height: 18px;
          inset-inline-start: 0;
          position: absolute;
        }

        .navbar-link__sign-up {
          border: 2px solid $tailwind-primary;
          border-radius: 44px;
        }

        .navbar-link.navbar-link__sign-up:hover {
          @apply text-white;
          background-color: $tailwind-primary;
          border: 2px solid $tailwind-primary;
          border-radius: 44px;
        }

        .navbar-link:hover {
          @apply text-primary-dark;
          border: none;
        }

        .navbar-dropdown-container {
          display: flex;
          margin-left: -1rem;
          margin-top: 10px;
          width: auto;
          .navbar-dropdown {
            .navbar-dropdown-item-container {
              display: flex;
            }
            .navbar-dropdown-item {
              flex: 1 1 auto;
              font-size: 0.75rem;
            }
          }
        }

        .navbar-mobile-menu-button {
          @apply flex;
          border: none;
          margin: 2.75rem 0.5rem 0;
          padding: 0 0.5rem 0.75rem;
        }

        .ui-icon svg rect {
          fill: $tailwind-primary;
        }
      }

      .navbar-logo {
        @screen md {
          width: 100%;
        }

        @media (min-width: $header-desktop-min-size) {
          padding: 48px 0 32px 0;
          width: 100%;
        }

        @screen xl {
          padding: 48px 0 32px;
        }

        .logo {
          background-color: initial;
          box-shadow: none;
          height: 100%;
          margin: 0;
          max-height: 15rem;
          max-width: 100%;
          padding: 0;
          width: 100%;

          .logo-content {
            align-items: center;
            display: flex;
            padding: 0;
          }

          .logo__title {
            @apply text-primary-dark;
            @apply text-base;
            letter-spacing: initial;
            margin-left: 4px;
            text-align: left;
            text-transform: none;

            @media (min-width: $header-desktop-min-size) {
              @apply text-2xl;
              margin-left: 8px;
            }

            @screen xl {
              @apply text-2xl;
            }
          }

          .logo__subtitle {
            font-size: 0.625rem;
            font-weight: 400;

            @media (min-width: $header-desktop-min-size) {
              @apply text-sm;
            }
          }

          .logo__image {
            height: 57px;
            margin: -12px 0 0 12px;
            // The header logo should allow for a larger maximum height than the default
            // logo.
            max-height: 5rem;

            @media (min-width: $header-desktop-min-size) {
              height: 77px;
              // Negative margin to center around the shield
              margin: -16px 0 0;
              max-height: 6rem;
            }

            @screen xl {
              max-height: 7rem;
            }
          }
        }

        .navbar-custom-width {
          align-items: initial;
          display: initial;
          flex-direction: initial;
          justify-content: initial;
        }
      }
    }
  }

  .navbar-mobile-dropdown-container .navbar-mobile-dropdown .navbar-mobile-dropdown-item {
    @screen md {
      @apply text-primary;
      font-size: 1.125rem;
      font-weight: 700;
      text-transform: none;
    }
  }
}

.progress-nav {
  padding: 20px 0;
  @screen md {
    padding: 31px 0;
  }
}

li.progress-nav__item,
h1.form-card__header_title {
  text-transform: capitalize;
  padding: 0;
}

// For the eligibility questionnaire, there are five headers, so give each 20% of the full navbar
// width. (If we reuse this class for other navigation UI elements, with a different number of
// navbar items, we'll need to refactor this.)
li.progress-nav__item {
  width: 20%;
}

// Body text should have normal font weight
.field-note {
  @apply font-normal;
}

// Constrain the height of modals to 80% of the viewport
// and make them scrollable once that is exceeded.
.modal {
  max-height: 80vh;
  overflow-y: auto;
}

.loading-overlay__spinner circle {
  stroke: $tailwind-primary;
}

// Increase the font size of markdown sections.
.markdown-section__inner {
  @apply text-xl;
}

// Center the front page.
.homepage-extra {
  @apply text-center;
  @apply text-base;
}

.hero {
  @apply font-bold;
  @apply mx-4;
  @apply mb-4;
  @apply rounded-2xl;
}

.hero__title {
  max-width: 35rem;
  text-shadow: 0 0 20px black;
}

.hero__inset {
  background-color: white;
  border-radius: 25px;
  color: black;
  margin: 0 auto;
  max-width: 32rem;
  opacity: 0.95;
  padding: 30px;
}

.hero__text {
  font-size: medium;
  font-weight: 300;
  padding-bottom: 30px;
}

.hero__button {
  background-color: #ffbe42;
  border-radius: 15px;
  color: black;
  display: inline-block;
  font-size: large;
  margin-right: 0;
  max-width: 100%;
  padding: 12px;
  width: 14rem;

  @screen sm {
    width: 12rem;
  }

  &:hover {
    @apply bg-primary;
    color: white;
  }
}

.hero__button__first {
  margin-bottom: 1rem;

  @screen sm {
    border-radius: 30px 0 0 30px;
    border-right-width: 1px;
    margin-bottom: 0;
  }

  &:focus {
    border-right-width: 0;
  }
}
.hero__button__second {
  @screen sm {
    border-left-width: 1px;
    border-radius: 0 30px 30px 0;
  }

  &:focus {
    border-left-width: 0;
  }
}

.eligibility-disclaimer-header {
  padding: 20px 80px;
}

.eligibility-disclaimer-submit-container {
  padding-bottom: 40px;
  text-align: center;
}

.bedroom-selector > .field {
  label {
    margin-top: 10px;
  }
}

.page-header__title {
  font-size: 1.5rem;
  font-weight: 700;
  @screen md {
    font-size: 1.75rem;
  }
}

.listings-title .page-header__group {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @screen md {
    flex-direction: row;
  }
}

.listings-row_figure {
  .image-card {
    background-color: initial;
  }

  .image-card img {
    border-radius: 24px;
    height: 340px;
    object-fit: cover;
  }

  .image-card-tag__wrapper {
    justify-content: flex-end;

    .tag {
      @apply text-base;
      background: $tailwind-lush;
      border-radius: 4px;
      color: #15242b;
      font-weight: bold;
      margin-right: 12px;
      padding: 8px 16px;

      @screen md {
        margin-right: 24px;
      }
    }
  }

  .image-card__overlay {
    background-image: none;
    border-radius: 24px;
  }

  .image-card__figcaption {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 24px 0px 24px 24px;
    bottom: 12px;
    left: 12px;
    margin-right: 48px;
    max-width: 93%;
    width: max-content;

    @screen md {
      bottom: 24px;
      left: 24px;
      max-width: 696px;
    }

    @screen lg {
      max-width: 440px;
    }

    .image-card__title {
      @apply text-lg;
      color: $tailwind-primary-darker;
      font-weight: 700;
      letter-spacing: initial;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: none;
      white-space: nowrap;

      @screen md {
        font-size: 1.5rem;
      }
    }

    .image-card__subtitle {
      @apply text-sm;
      color: $tailwind-primary-darker;
      letter-spacing: initial;
      text-transform: none;

      @screen md {
        font-size: 0.875rem;
      }
    }
  }
}

.latest-listings {
  .listings-row_content {
    display: none;
  }

  .listings-row {
    margin: 0 15px;
  }

  .listings-row:hover {
    opacity: 0.7;
  }

  .listings-row_figure {
    padding: 0;
  }

  .listings-row_figure {
    width: 390px;

    @screen md {
      width: 497px;
    }
  }

  .image-card img {
    height: 258px;

    @screen md {
      height: 340px;
    }
  }
}

/* Button overrides */
Button.button.is-primary:hover,
a.button.is-primary:hover {
  @apply text-primary-darker;
  background-color: white;
}

.button {
  @apply text-sm;
  border-radius: 60px;
  text-transform: initial;
  letter-spacing: initial;
  padding: .5rem 1rem;

  @screen md {
    @apply text-base;
  }

  &:hover {
    background-color: $tailwind-primary;
    border-color: $tailwind-primary;
    
    .ui-icon svg {
      fill: white;
    }
  }

  .ui-icon {
    &.button__icon {
      margin: 0 0.5rem 0 0;
    }
    
    &.ui-base svg {
      width: 1rem;
      height: 1rem;

      @screen md {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    
    svg {
      fill: $tailwind-primary;
    }
  }
}

.button.is-secondary {
  color: $tailwind-primary-darker;
  border-color: $tailwind-primary-darker;

  &:hover {
    background-color: $tailwind-primary-darker;

    .ui-icon svg {
      fill: white;
    }
  }

  &.has-icon-right .button__icon {
    margin: 0 0 0 0.5rem;
  }

  .ui-icon svg {
    fill: $tailwind-primary-darker;
  }
}
