:root {
  .seeds-button {
    -webkit-font-smoothing: antialiased; // restore macOS styling that had been unset
  }

  --text-caps-spaced-letter-spacing: var(--bloom-letter-spacing-tight);
  --text-caps-spaced-font-weight: 700;
  .text__caps-spaced {
    text-transform: none;
    color: var(--seeds-input-text-label-color);
  }

  .progress-nav {
    --dot-font-size: var(--seeds-type-caption-size);
  }
}
