:root {
  .site-header {
    --logo-content-padding: 0;
    --logo-desktop-height: var(--base-height);
    --logo-desktop-padding: 0;
    --logo-tablet-padding: 0 0 0 var(--bloom-s6);
    --logo-image-desktop-max-height: 3rem;
    --link-align-items: center;
    --link-padding-wrapped: var(--bloom-s2) var(--bloom-s4);
    --link-padding-inline: var(--bloom-s4) var(--bloom-s4) var(--bloom-s3) var(--bloom-s4);
    --link-bottom-border: 0;
    --link-font-size: var(--bloom-font-size-sm);
    --link-font-weight: 500;
    --link-hover-bottom-border: 0;
    --link-text-color: var(--bloom-text-color-darker);
    --link-secondary-color: var(--bloom-color-primary-light);
    --link-hover-secondary-color: var(--bloom-color-primary);
    --mobile-menu-font-size: var(--bloom-font-size-s);
    --navbar-menu-desktop-margin: inherit;
    --navbar-menu-min-width: 110px;
  }

  .doorway-message {
    --message-font: var(--bloom-font-sans);
  }

  .application-status {
    --seeds-color-primary-light: var(--doorway-color-secondary-background);
    --message-max-width: initial;
    --message-flex-gap: 0.45rem;
    align-items: start;
  }

  .warning-message {
    --message-max-width: initial;
  }

  .info-card {
    --margin-sides: var(--bloom-s3);
    --background-color: var(--bloom-color-blue-300);
    --background-color-lighter: var(--bloom-color-gray-300);
    --background-color-inline: inherit;
    --title-color: var(--bloom-text-color-darker);
    --title-secondary-color: var(--bloom-color-primary-dark);
    --title-font-size-normal: var(--bloom-font-size-2xl);
    --title-font-weight-normal: 100;
    --title-font-family: var(--bloom-font-serif);
    --title-text-transform-normal: none;

    margin-left: var(--margin-sides);
    margin-right: var(--margin-sides);
    border-radius: 0.5rem;
    border-width: 0px;

    &.is-inline {
      --background-color: var(--background-color-inline);
    }

    &.is-normal {
      .info-card__title {
        --title-font-size: var(--title-font-size-normal);
        --title-text-transform: var(--title-text-transform-normal);
        font-weight: var(--title-font-weight-normal);
      }
    }

    &.is-normal-primary-lighter {
      --background-color-lighter: var(--background-color);

      .info-card__title {
        --title-font-size-lighter: var(--title-font-size-normal);
        font-weight: var(--title-font-weight-normal);
      }
    }

    &.is-normal-secondary-lighter {
      --background-color: var(--background-color-lighter);

      .info-card__title {
        --title-font-size: var(--title-font-size-normal);
        --title-text-transform: var(--title-text-transform-normal);
        --title-letter-spacing: var(--title-letter-spacing-normal);
        --title-color: var(--title-secondary-color);
        font-weight: var(--title-font-weight-normal);
      }
    }
  }
}
