/* Overrides the default ui-components styles with Detroit-specific styles. */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");

// All svg icons should be green.
.ui-icon svg {
  fill: $tailwind-primary-darker;
}

// The header logo should allow for a larger maximum height than the default
// logo.
.navbar-brand .logo .logo__image {
  min-height: 4rem;
  max-height: 5rem;
  @screen md {
    min-height: 6rem;
    max-height: 7rem;
  }
}

.navbar-brand .logo {
  max-height: 15rem;
  max-width: 100%;

  .logo__title {
    @apply text-sm;
  }
}

li.progress-nav__item,
h1.form-card__header_title {
  text-transform: capitalize;
}

// Body text should have normal font weight
.field-note {
  @apply font-normal;
}

Button.button.is-primary:hover,
a.button.is-primary:hover {
  @apply bg-primary-light;
  @apply text-black;
}

// Constrain the height of modals to 80% of the viewport
// and make them scrollable once that is exceeded.
.modal {
  max-height: 80vh;
  overflow-y: auto;
}

.loading-overlay__spinner circle {
  stroke: $tailwind-primary;
}
