.button-group {
  --background-color: var(--bloom-color-primary-lighter);
  --padding-block: var(--bloom-s8);
  --padding-inline-desktop: var(--bloom-s16);
  --padding-inline-mobile: var(--bloom-s4);
  --inner-button-gap: var(--bloom-s3);

  --padding-inline: var(--padding-inline-desktop);

  @media (max-width: $screen-sm) {
    --padding-inline: var(--padding-inline-mobile);
  }

  background-color: var(--background-color);
  padding-block: var(--padding-block);
  padding-inline: var(--padding-inline);
  display: flex;
  flex-wrap: wrap;
  gap: var(--inner-button-gap);

  & > .button-group__column {
    display: flex;
    gap: var(--inner-button-gap);

    .button {
      @media (max-width: $screen-sm) {
        --normal-rounded: var(--small-rounded);
        --normal-padding: var(--small-padding);
        --normal-font-size: var(--small-font-size);
      }
    }
  }

  &.has-between-spacing {
    justify-content: space-between;
  }

  &.has-even-spacing {
    justify-content: space-evenly;
  }

  &.has-fullwidth-mobile-buttons {
    &,
    & > .button-group__column {
      @media (max-width: $screen-sm) {
        flex-direction: column;

        .button {
          width: 100%;
        }
      }
    }
  }

  &.is-reversed {
    &,
    & > .button-group__column {
      flex-direction: row-reverse;
    }
  }

  &.pagination {
    background-color: var(--bloom-color-white);
    justify-content: center;

    .button {
      margin: 0 var(--bloom-s1);
      border-radius: var(--bloom-rounded-full);
      padding: var(--bloom-s2_5) var(--bloom-s3);
      border: none;
      text-align: center;
      width: var(--bloom-s9);
      height: var(--bloom-s9);

      &:disabled {
        background-color: var(--bloom-color-white);
      }
    }
  }
}
