@import "../global/mixins.scss";

.doorway-button {
  /* Component Variables */
  --normal-rounded: var(--bloom-rounded-full);
  --normal-padding: var(--bloom-s4) var(--bloom-s6);
  --label-transform: uppercase;
  --label-font: var(--bloom-font-alt-sans);
  --label-letter-spacing: var(--bloom-letter-spacing-widest);
  --normal-font-size: var(--bloom-font-size-xs);
  --label-weight: bold;
  --small-rounded: var(--bloom-rounded-full);
  --small-padding: var(--bloom-s3) var(--bloom-s6);
  --small-font-size: var(--bloom-font-size-2xs);
  --big-rounded: var(--bloom-rounded);
  --big-padding: var(--bloom-s6);
  --big-font-size: var(--bloom-font-size-xs);
  --secondary-text-color: var(--bloom-color-primary-dark);
  --unstyled-inline-font-size: var(--bloom-font-size-sm);
  --inline-font-size: var(--bloom-font-size-sm);
  --caps-font-size: var(--bloom-font-size-sm);

  /* Base Styles */
  position: relative;
  border-radius: var(--normal-rounded);
  padding: var(--normal-padding);
  text-align: center;
  text-transform: var(--label-transform);
  font-family: var(--label-font);
  display: inline-block;
  letter-spacing: var(--label-letter-spacing);
  font-size: var(--normal-font-size);
  font-weight: var(--label-weight);
  line-height: var(--bloom-line-height-snug);

  &.transition {
    transition: all 200ms ease-out;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 3px 4px var(--bloom-color-accent-cool);
  }

  &:hover {
    border-color: var(--bloom-color-primary-dark);
    &.transition {
      transition: all 200ms ease-in;
    }
  }

  &:disabled {
    pointer-events: none;
    background-color: var(--bloom-color-gray-500);
    border-color: var(--bloom-color-gray-500);
    color: var(--bloom-text-color-disabled);
  }

  &.is-secondary {
    border-color: var(--doorway-color-secondary);
    background-color: var(--doorway-color-secondary);
    color: var(--secondary-text-color);

    &:hover {
      background-color: var(--doorway-color-cyan-500);
      color: var(--secondary-text-color);
      border-color: var(--doorway-color-cyan-500);
    }

    &:active {
      background-color: var(--doorway-color-cyan-700);
      color: var(--secondary-text-color);
      border-color: var(--doorway-color-cyan-700);
    }
  }

  &.is-small {
    border-radius: var(--small-rounded);
    padding: var(--small-padding);
    font-size: var(--small-font-size);
  }

  &.is-big {
    border-radius: var(--big-rounded);
    padding: var(--big-padding);
    font-size: var(--big-font-size);
  }

  &.is-normal-case {
    text-transform: none;
  }

  &.is-unstyled {
    background: transparent;
  }

  &.is-unstyled,
  &.is-inline {
    text-transform: none;
    border: none;
    padding: 0;
    font-family: var(--bloom-font-sans);
    letter-spacing: normal;
    font-weight: 400;
    text-decoration: underline;
    margin: var(--bloom-s4);
    font-size: var(--unstyled-inline-font-size);

    &:hover {
      color: var(--bloom-color-primary);
      background: transparent;
    }
  }

  &.is-inline {
    color: var(--bloom-color-primary);
    font-weight: 500;
    font-size: var(--inline-font-size);
    margin: 0;
    text-decoration: none;

    &.has-icon-left {
      .button__icon {
        margin-right: var(--bloom-s1);
      }
    }
    &.has-icon-right {
      .button__icon {
        margin-left: var(--bloom-s1);
      }
    }
  }

  &.has-icon-left {
    .button__icon {
      margin-right: var(--bloom-s3);
    }
  }
  &.has-icon-right {
    .button__icon {
      margin-left: var(--bloom-s3);
    }
  }

  &.is-text-caps {
    color: var(--bloom-color-primary-dark);
    border: none;
    padding: 0;
    font-family: var(--bloom-font-sans);
    letter-spacing: normal;
    text-decoration: underline;
    margin: var(--bloom-s4);
    text-transform: uppercase;
    font-size: var(--caps-font-size);
    display: block;

    &:hover {
      color: var(--bloom-color-primary-dark);
      background: transparent;
    }
  }

  &.is-fullwidth {
    width: 100%;
  }

  &.is-loading {
    .button__content {
      opacity: 0;
    }
  }

  @include filled-appearances;
  @include outlined-appearances;
}

button {
  &.has-toggle {
    @include has-toggle;
  }
}

.button__loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 2px;
}

// This is an override to update the style of the landing page buttons when selected.
// This is not ideal but is needed since the landing page search buttons and the listing
// search modal buttons have to have different styles when selected.
.landing-search-button-group {
  --landing-button-color: var(--bloom-color-primary-lighter);
  --landing-button-hover-color: var(--bloom-color-primary-light);
  --landing-button-active-color: var(--bloom-color-primary);
  --landing-button-text-color: var(--bloom-color-white);

  .doorway-button.is-secondary {
    background-color: var(--landing-button-color);
    border-color: var(--landing-button-color);
    color: var(--landing-button-text-color);

    &:hover {
      background-color: var(--landing-button-hover-color);
      border-color: var(--landing-button-hover-color);
      color: var(--landing-button-text-color);
    }

    &:active {
      background-color: var(--landing-button-active-color);
      border-color: var(--landing-button-active-color);
      color: var(--landing-button-text-color);
    }
  }
}
