.doorway-collapsible-section {
  /* Component Variables */
  --doorway-collapsible-section-border-bottom: var(--doorway-standard-border);
  --doorway-collapsible-section-heading-container-padding: var(--bloom-s4) 0;
  --doorway-collapsible-section-section-padding: var(--bloom-s2) 0;

  // This is a somewhat hack -- this button in its expanded state for some
  // reason has more padding than in unexpanded which looks weird.
  // Prefer fixing scoped to this component only, since this was probably
  // intentional.
  button.has-toggle[aria-expanded="true"]:after {
    margin-right: var(--bloom-s2);
  }
}
.doorway-collapsible-section_heading-container {
  display: flex;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
  border-bottom: var(--doorway-collapsible-section-border-bottom);
  padding: var(--doorway-collapsible-section-heading-container-padding);
}

.doorway-collapsible-section_section {
  padding: var(--doorway-collapsible-section-section-padding);
}
