.preferences-list {
  --background-color: var(--bloom-color-white);
  --info-card-title-color: var(--bloom-color-gray-800);
  --info-card-title-text-transform: uppercase;
  --ordinal-bg-color: var(--bloom-color-white);
  --ordinal-border-width: var(--bloom-border-2);
  --ordinal-border-color: var(--bloom-color-primary);
  --ordinal-color: var(--bloom-color-primary);
  --ordinal-font-size: var(--bloom-font-size-sm);
  --ordinal-padding: var(--bloom-s2);
  --ordinal-margin-right: var(--bloom-s2);
  --subtitle-color: var(--bloom-color-gray-750);
  --description-color: var(--bloom-color-gray-750);
}

.preferences-list__item {
  .info-card__title {
    --title-font-size: var(--bloom-font-size-sm);

    margin-bottom: 0px;
    color: var(--info-card-title-color);

    @media (max-width: $screen-md) {
      margin-left: 0px;
      margin-top: var(--bloom-s3);
    }
  }
}

.preferences-list__item--title-only {
  .info-card__title {
    --title-font-size: var(--bloom-font-size-sm);

    color: var(--info-card-title-color);
  }

  .preferences-list__number {
    margin-top: -10px;
  }
}

.preferences-list__number {
  float: left;
  border-radius: 9999px;
  margin-left: -2.2rem;
  margin-top: -4px;
  width: 2.5rem;
  font-weight: bold;
  text-align: center;
  whitespace: nowrap;
  background-color: var(--ordinal-bg-color);
  border-width: var(--ordinal-border-width);
  border-color: var(--ordinal-border-color);
  color: var(--ordinal-color);
  font-size: var(--ordinal-font-size);
  padding: var(--bloom-s2);
  margin-right: var(--ordinal-margin-right);

  @screen md {
    margin-left: -3rem;
  }

  @media (max-width: $screen-md) {
    margin-left: 0px;
    float: none;
  }

  sup {
    font-weight: 400;
    top: -0.35em;
  }
}

.preferences-list__subtitle {
  color: var(--subtitle-color);
  font-size: var(--bloom-font-size-tiny);

  @media (max-width: $screen-md) {
    margin-left: 0px;
  }
}

.preferences-list__description {
  color: var(--description-color);
  font-size: var(--bloom-font-size-sm);
  margin-top: var(--bloom-s3);
}

.preferences-list__links {
  font-size: var(--bloom-font-size-tiny);
  margin-top: var(--bloom-s3);
  span {
    margin-right: var(--bloom-s4);
  }
}
