.preferences-list__item {
  .info-card__title {
    @apply mb-0;
    @apply ml-4;

    @screen md {
      @apply ml-2;
    }
  }
}

.preferences-list__item--title-only {
  .preferences-list__number {
    margin-top: -10px;
  }
  .info-card__title {
    @apply normal-case;
    @apply tracking-normal;
  }
}

.preferences-list__number {
  @apply bg-white;
  @apply border-2;
  @apply border-primary;
  @apply text-primary;
  @apply text-sm;
  @apply rounded-full;
  @apply float-left;
  @apply p-2;
  @apply mr-2;
  @apply text-center;
  @apply whitespace-nowrap;
  @apply font-bold;
  margin-left: -2.2rem;
  margin-top: -4px;
  width: 2.5rem;

  @screen md {
    margin-left: -2.65rem;
  }

  sup {
    @apply font-normal;
    top: -0.35em;
  }
}

.preferences-list__subtitle {
  @apply text-gray-700;
  @apply text-tiny;
  @apply ml-4;

  @screen md {
    @apply ml-2;
  }
}

.preferences-list__description {
  @apply text-gray-700;
  @apply text-sm;
  @apply mt-3;
}

.preferences-list__links {
  @apply text-tiny;
  @apply mt-3;

  span {
    @apply mr-4;
  }
}
