.markdown ul.application-timeline {
  @apply mb-8;
  @apply ml-0;
}

.application-timeline {
  .progress-nav__dot-item {
    @apply pt-0;

    text-transform: unset;

    .absolute {
      margin-top: 0.25rem;
      z-index: 2;
      margin-left: -0.4rem;
    }

    p {
      padding-top: 3.8em;
    }
  }

  .progress-nav__dot-item.is-active::before,
  .progress-nav__dot-item.is-disabled::before {
    height: 2rem;
    width: 2rem;
  }

  .progress-nav__dot-item.is-active::before {
    @apply bg-green-700;
  }

  .progress-nav__dot-item::after {
    top: 1rem;
  }
}
