.action-block {
  display: flex;
  text-align: center;
  @apply p-4;

  &.primary-lightest {
    background-color: var(--bloom-color-blue-300);
  }

  &.primary-lighter {
    @apply bg-primary-lighter;
  }
  &.primary-darker {
    @apply bg-primary-darker;
    @apply text-white;
    .action-block__icon {
      @apply border-white;
    }
  }

  &.secondary-lighter {
    background-color: var(--bloom-color-gray-300);
  }

  .action-block__actions {
    @media (max-width: 640px) {
      display: flex;
      justify-items: center;
    }
  }
  .action-block__actions .button {
    @apply m-1;
  }
  .action-block__subheader {
    @apply pt-4;
    @apply font-sans;
  }
}

.action-block__block {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  @apply pb-8;
  @media (max-width: 640px) {
    align-items: flex-start;
  }

  .action-block__head {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: var(--bloom-width-2xl);
    @media (max-width: 640px) {
      align-items: flex-start;
      text-align: start;
    }
  }

  .action-block__icon {
    @apply p-4;
    @apply border-solid;
    @apply border-b-4;
    @apply border-primary;
    @apply mb-6;
  }
  .action-block__head {
    @apply mb-6;
    @media (max-width: 640px) {
      @apply mb-4;
    }
  }
  .action-block__actions {
    @media (max-width: 640px) {
      display: block;
      text-align: center;
    }
  }
}

.action-block__inline {
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
  @media (max-width: 640px) {
    display: block;
    text-align: center;
  }

  .action-block__actions {
    display: flex;
    justify-content: flex-end;

    @media (max-width: 640px) {
      display: block;
      text-align: center;
    }
  }

  .action-block__head {
    display: flex;
    align-items: center;
    flex-direction: row;
    @media (max-width: 640px) {
      display: block;
    }
  }
  .action-block__icon {
    @apply p-4;
    @apply border-solid;
    @apply border-r-4;
    @apply border-primary;

    @media (max-width: 640px) {
      display: inline-block;
      @apply border-solid;
      @apply border-r-0;
      @apply border-b-4;
      @apply mb-4;
    }
  }
  .action-block__header {
    @apply ms-6;
    @media (max-width: 640px) {
      @apply ms-0;
    }
  }
}
