@import "../global/mixins.scss";
@import "../global/accessibility.scss";

.image-card {
  /* Component Variables */
  --default-background-color: var(--bloom-color-gray-500);
  --border-radius: 0;
  --image-height: auto;
  --tags-justify-mobile: center;
  --tags-justify-desktop: flex-start;
  --grid-gap-mobile: var(--bloom-s2);
  --grid-gap-desktop: var(--bloom-s4);
  --grid-template-columns-mobile: 1fr 1fr;
  --grid-template-rows-mobile: 1.2fr 0.5fr;
  --grid-template-areas-mobile: "Main Main" "Secondary-1 Secondary-2";

  position: relative;
}

.image-card__inner {
  position: relative;
  background-color: var(--default-background-color);
  border-radius: var(--border-radius);

  button:focus {
    outline: none;
    box-shadow: 0 0 3px 4px var(--bloom-color-accent-cool);
  }

  img {
    border-radius: var(--border-radius);
    width: 100%;
    height: var(--image-height);
    object-fit: cover;
  }

  &.has-grid-layout {
    --grid-gap: var(--grid-gap-desktop);

    background-color: transparent;
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--grid-gap);

    @media (max-width: $screen-sm) {
      grid-template-columns: var(--grid-template-columns-mobile);
      grid-template-rows: var(--grid-template-rows-mobile);
    }

    &.has-2-images {
      grid-template-columns: 1.2fr 0.8fr;
      grid-template-areas:
        "Main Secondary-1"
        "Main Secondary-1";
    }

    &.has-3-images,
    &.has-modal-overflow {
      grid-template-areas:
        "Main Secondary-1"
        "Main Secondary-2";
    }

    &.has-modal-overflow {
      img:nth-child(3) {
        opacity: 0.5;
      }
    }

    img {
      aspect-ratio: 16 / 9;
      display: block;

      &:nth-child(1) {
        grid-area: Main;
        height: 100%;
      }

      &:nth-child(2) {
        grid-area: Secondary-1;
        height: 100%;
      }

      &:nth-child(3) {
        grid-area: Secondary-2;
      }
    }

    button {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
    }

    .image-card__more-images {
      font-weight: bold;
      grid-area: Secondary-2;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: var(--bloom-color-white);
      background: rgba(0, 0, 0, 0.6);
      @media (max-width: $screen-sm) {
        font-size: var(--bloom-font-size-xs);
        line-height: var(--bloom-line-height-none);
      }
    }
  }
}

.image-card-tag__wrapper {
  --tags-justify: var(--tags-justify-mobile);

  @media (min-width: $screen-sm) {
    --tags-justify: var(--tags-justify-desktop);
  }

  display: flex;
  align-items: center;
  justify-content: var(--tags-justify);
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  margin-block-start: var(--bloom-s1);
  padding-inline: var(--bloom-s4);
  flex-wrap: wrap;
  max-width: 100%;

  .tag {
    margin-top: var(--bloom-s3);
    margin-inline: var(--bloom-s2);

    .ui-icon {
      margin-inline-end: var(--bloom-s2);
    }
  }
}

.image-card__placeholder {
  height: 300px;
}

.image-card--leader {
  --leader-width: var(--bloom-width-2-3rd);
  width: 100%;

  @media (min-width: $screen-md) {
    width: var(--leader-width);
    padding-block-start: 0;
    padding-inline-end: var(--bloom-s8);
  }
}

.modal.image-card__gallery-modal {
  --title-color: var(--bloom-text-color);
  --background-color: transparent;
  --content-padding-block: var(--bloom-s2) var(--bloom-s4);
  --footer-background-color: transparent;
  --footer-justify: center;
  --modal-border: none;
  --modal-shadow: none;
  max-height: 100dvh;
  @media (min-width: $screen-md) {
    --scroll-max-height: calc(80vh - 200px);
    max-width: var(--bloom-width-5xl);
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  button {
    outline: none;
  }
  svg {
    @extend .sr-only;
  }
  footer {
    border: 0;
    button:focus {
      box-shadow: 0 0 3px 4px var(--bloom-color-accent-cool);
    }
  }
}

.image-card__inner-modal {
  --content-padding-inline: 0;
  --content-padding-block: 0;
  --content-margin-top: 0;
  margin-inline: 0;
  height: 100vh;
  @media (min-width: $screen-md) {
    height: calc(100vh - var(--bloom-s32));
  }
}
