.info-card {
  --padding: var(--bloom-s6);
  --margin-bottom: var(--bloom-s4);
  --margin-sides: var(--bloom-s3);
  --background-color: var(--bloom-color-blue-300);
  --background-color-lighter: var(--bloom-color-gray-300);
  --background-color-inline: inherit;
  --title-color: var(--bloom-text-color-darker);
  --title-secondary-color: var(--bloom-color-primary-dark);
  --title-font-size: var(--bloom-font-size-xs);
  --title-font-size-normal: var(--bloom-font-size-2xl);
  --title-font-weight-normal: 100;
  --title-font-family: var(--bloom-font-serif);
  --title-text-transform: uppercase;
  --title-text-transform-normal: none;
  --title-letter-spacing: 0.025em;
  --title-letter-spacing-normal: 0;
  --content-font-size: inherit;

  padding: var(--padding);
  margin-bottom: var(--margin-bottom);
  margin-left: var(--margin-sides);
  margin-right: var(--margin-sides);
  border-radius: 0.5rem;
  border-width: 0px;
  background-color: var(--background-color);

  &.is-inline {
    background-color: var(--background-color-inline);
  }

  &.is-normal {
    .info-card__title {
      font-size: var(--title-font-size-normal);
      text-transform: var(--title-text-transform-normal);
      letter-spacing: var(--title-letter-spacing-normal);
      font-weight: var(--title-font-weight-normal);
    }
  }
}

.info-card.is-normal-primary-lighter,
.markdown .info-card {
  background-color: var(--background-color);

  .info-card__title {
    font-size: var(--title-font-size-normal);
    text-transform: var(--title-text-transform-normal);
    letter-spacing: var(--title-letter-spacing-normal);
    font-weight: var(--title-font-weight-normal);
  }
}

.info-card.is-normal-secondary-lighter,
.markdown .info-card {
  background-color: var(--background-color-lighter);

  .info-card__title {
    font-size: var(--title-font-size-normal);
    text-transform: var(--title-text-transform-normal);
    letter-spacing: var(--title-letter-spacing-normal);
    color: var(--title-secondary-color);
    font-weight: var(--title-font-weight-normal);
  }
}

.info-card__title {
  color: var(--title-color);
  text-transform: var(--title-text-transform);
  font-weight: bold;
  font-size: var(--title-font-size);
  font-family: var(--title-font-family);
  letter-spacing: var(--title-letter-spacing);
}

.info-card__header {
  &:not([class*="mb-"]) {
    margin-bottom: var(--bloom-s4);
  }
}

.info-card__columns {
  display: flex;
  flex-wrap: wrap;
}

.info-card__column {
  flex: 1 1 0%;
}

.info-card__column-2 {
  flex: 1 1 100%;
  margin-top: var(--bloom-s4);
  margin-right: var(--bloom-s4);
  @media (min-width: 440px) {
    flex: 1 1 45%;
  }
}

.info-card__content {
  font-size: var(--content-font-size);
}
