.standard-card {
  --font-family: var(--bloom-font-alt-sans);
  --border-radius: var(--bloom-rounded-lg);
  --border-width: var(--bloom-border-1);
  --border-color: var(--bloom-color-gray-500);
  --title-color: var(--bloom-color-gray-950);
  --background-color: var(--bloom-color-white);
  --blank-color: var(--bloom-text-color);
  --blank-background: var(--bloom-color-gray-200);
}

.standard-card__inner {
  @apply overflow-hidden;
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--border-color);
  background-color: var(--background-color);
}

.standard-card__title {
  color: var(--title-color);
  font-family: var(--font-family);
  padding: var(--bloom-s6) var(--bloom-s5) var(--bloom-s2) var(--bloom-s5);
}

.standard-card__blank {
  color: var(--blank-color);
  background-color: var(--blank-background);
  padding: var(--bloom-s3) var(--bloom-s7);
}

.standard-card__footer {
  margin-top: var(--bloom-s3);
}
