@import "../global/mixins.scss";

.view-item {
  --label-font-size: var(--bloom-font-size-sm);
  --helper-font-size: var(--bloom-font-size-sm);
  --label-error-font-size: var(--bloom-font-size-sm);
  --label-text-color: var(--bloom-color-gray-800);
  --helper-text-color: var(--bloom-color-gray-750);
  --font-size: var(--bloom-font-size-base);
  --bottom-margin: var(--bloom-s4);

  font-size: var(--font-size);
  margin-bottom: var(--bottom-margin);
  position: relative;

  &:last-of-type {
    margin-bottom: 0;
  }

  &.is-flagged {
    background-color: var(--bloom-color-warn-light);
    margin: calc(var(--bloom-s1) * -1) 0;
    margin-left: calc(var(--bloom-s8) * -1);
    padding: var(--bloom-s1) 0;
    padding-left: var(--bloom-s8);
    box-shadow: inset 2px 0px 0px 0px var(--bloom-color-warn);
  }

  .edit-link {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.view-item__label {
  color: var(--label-text-color);
  font-family: var(--bloom-font-sans);
  font-size: var(--label-font-size);
  display: block;
}

.view-item__label-error {
  color: var(--bloom-color-alert);
  font-size: var(--label-error-font-size);
}

.view-item__value {
  font-family: var(--bloom-font-alt-sans);
  letter-spacing: var(--bloom-letter-spacing-wide);
  font-weight: 600;
  display: block;
  padding-top: 10px;

  &.is-truncated {
    @include ellipsis;
  }

  .field .control .input,
  .error-message {
    font-family: var(--bloom-font-sans);
    font-weight: 400;
  }
}

.view-item__helper {
  color: var(--helper-text-color);
  font-family: var(--bloom-font-sans);
  font-size: var(--helper-font-size);
  display: block;
}
