.dropzone {
  @apply border-2;
  @apply border-gray-600;
  @apply border-dashed;
  @apply text-center;
  padding: 2.5rem;
  max-width: 32rem;
  cursor: pointer;

  &.is-active {
    @apply bg-accent-cool-light;
  }
}

.dropzone__progress {
  max-width: 250px;
}

.dropzone__helptext {
  margin-block: var(--bloom-s2) var(--bloom-s4);
  color: var(--bloom-color-gray-700);
  font-family: var(--bloom-font-alt-sans);
  font-size: var(--bloom-font-size-xs);
}
