/*
  Portions of this stylesheet copied from:
  https://github.com/mynamesleon/aria-autocomplete/blob/master/dist/aria-autocomplete.css
*/

.multi-select-field {
  --field-height: 48px;
  --list-height: 325px;
  --list-background-color: #fff;
  --tag-hover-background-color: var(--bloom-color-primary-dark);

  .control input.input.multi-select-field__input {
    padding-inline: calc(var(--field-height) - var(--bloom-s3));
  }

  .control > .ui-icon {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    margin: var(--bloom-s3);
  }
}

.multi-select-field__wrapper {
  position: relative;
}

.multi-select-field--hide {
  display: none !important;
}

.multi-select-field__sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.multi-select-field__show-all {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(var(--field-height) - 8px);
  height: var(--field-height);
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='17' height='10' viewBox='0 0 17 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.023L8.488 8 16 1' stroke-width='1' stroke='%23434143' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.multi-select-field__show-all--disabled {
  background-color: #ebebeb;
  cursor: not-allowed;
}

.multi-select-field__list {
  list-style: none;
  position: absolute;
  top: calc(var(--field-height) + 2px);
  z-index: 99999;
  left: 0;
  margin: 0;
  height: auto;
  min-height: 0;
  max-height: var(--list-height);
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  background: var(--list-background-color);
  border: 1px solid var(--bloom-color-gray-700);
  border-radius: var(--bloom-rounded-sm);
  font-size: var(--bloom-font-size-tiny);
}

.multi-select-field__list--has-results[aria-label]:before {
  content: attr(aria-label) !important;
  display: block;
  width: 100%;
  padding: var(--bloom-s1) var(--bloom-s2);
  font-size: var(--bloom-font-size-sm);
  color: var(--bloom-color-gray-750);
  text-align: right;
}

@media reader, speech, aural {
  .multi-select-field__list--has-results[aria-label]:before {
    display: none;
  }
}

.multi-select-field__option {
  display: block;
  border-top: 1px solid var(--bloom-color-gray-450);
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  padding: var(--bloom-s3) var(--bloom-s4);
  overflow-wrap: break-word;
}

.multi-select-field__option:focus {
  outline: none;
  box-shadow: none;
}

.multi-select-field__option:hover,
.multi-select-field__option--focused {
  background: var(--bloom-color-blue-200);
  color: var(--bloom-color-primary);
  margin: 0;
  cursor: pointer;
}

.multi-select-field__option:hover[aria-disabled="true"],
.multi-select-field__option--focused[aria-disabled="true"] {
  background: #f5f5f5;
}

.multi-select-field__option--no-results,
.multi-select-field__option[aria-disabled="true"] {
  color: var(--bloom-color-gray-750) !important;
  cursor: not-allowed !important;
  text-decoration: none !important;
}

.multi-select-field__option--no-results {
  margin-top: 0 !important;
  background: transparent !important;
}

.multi-select-field__selected {
  position: relative;
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--bloom-color-gray-500);
  padding-block: var(--bloom-s2);
  padding-inline: var(--bloom-s4) var(--bloom-s8);
  margin: 2px 4px 2px 0;
  font-size: var(--bloom-font-size-tiny);
  border-radius: var(--bloom-rounded-full);
  word-break: break-word;
  cursor: pointer;
}

.multi-select-field__selected--disabled {
  opacity: 0.7;
}

.multi-select-field__selected:hover,
.multi-select-field__selected:focus {
  background: var(--tag-hover-background-color);
  background-color: var(--tag-hover-background-color);
  color: #fff;
}

.multi-select-field__selected:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 7px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='10' height='10' viewBox='0 0 10 10' version='1.1'%3E%3Cg id='surface1'%3E%3Cpath d='M 0.234375 10 L 5 5.21875 L 9.765625 10 L 9.988281 9.78125 L 5.21875 5 L 9.988281 0.21875 L 9.765625 0 L 5 4.78125 L 0.234375 0 L 0.0117188 0.21875 L 4.78125 5 L 0.0117188 9.78125 Z M 0.234375 10 ' style='stroke:%230077da;fill-rule:nonzero;fill:%23ffffff;fill-opacity:1;'/%3E%3C/g%3E%3C/svg%3E");
  transform: translateY(-50%);
}

@media speech {
  .multi-select-field__selected:after {
    display: none;
  }
}

.multi-select-field__selected--delete-all {
  border-color: #db0000;
  background: #db0000;
  color: #fff;
}

.multi-select-field__selected--delete-all:hover,
.multi-select-field__selected--delete-all:focus {
  background: #a80000;
}

.multi-select-field__wrapper--multiple .multi-select-field__input {
  margin-bottom: var(--bloom-s0_5);
}

.multi-select-field__wrapper--loading:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  margin: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.25);
  border-width: 2px;
  border-color: var(--bloom-color-primary) transparent var(--bloom-color-primary) transparent;
  box-sizing: border-box;
  animation: multi-select-loading-spinner 1.2s linear infinite;
}

.multi-select-field__wrapper--loading .multi-select-field__show-all {
  background-image: none;
}

@keyframes multi-select-loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
