@keyframes icons-svg-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.spinner-animation > svg {
  animation: icons-svg-spin 1s linear infinite;
}

.ui-icon svg {
  @apply inline-block;
  @apply align-middle;
  @apply w-6;
  @apply h-6;
}

.ui-icon svg {
  margin-top: -3px;
}

.ui-tiny svg {
  @apply w-2;
  @apply h-2;
}

.ui-small svg {
  @apply w-3;
  @apply h-3;
}

.ui-base svg {
  width: 0.85rem;
  height: 0.85rem;
}

.ui-medium svg {
  @apply w-4;
  @apply h-4;
}

.ui-md-large svg {
  @apply w-6;
  @apply h-6;
}

.ui-large svg {
  @apply w-8;
  @apply h-8;
}

.ui-xlarge svg {
  @apply w-10;
  @apply h-10;
}

.ui-2xl svg {
  @apply w-12;
  @apply h-12;
}

.ui-3xl svg {
  @apply w-16;
  @apply h-16;
}

.ui-white svg use {
  fill: #fff !important;
}

a svg use {
  fill: $tailwind-primary;
}

.bg-alert-light svg use {
  fill: $tailwind-alert;
}

.ui-icon {
  &.is-primary svg use {
    fill: $tailwind-primary;
  }
}
