.home-page {
  font-family: var(--seeds-font-alt-sans);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  .surface-background {
    background-color: var(--seeds-bg-color-surface);
  }
  .muted-background {
    background-color: var(--seeds-bg-color-muted);
  }
  .hero-container {
    background-color: var(--seeds-bg-color-surface-primary-inverse);
    padding-block: var(--seeds-s24);
    @media (--sm-only) {
      padding-block: var(--seeds-s8);
    }
    .hero {
      max-width: var(--seeds-screen-md);
      color: var(--seeds-color-on-inverse);
      color: red;

      .heading {
        font-family: var(--seeds-font-alt-sans);
        font-size: var(--seeds-font-size-6xl);
        color: var(--seeds-color-on-inverse);
        font-weight: var(--seeds-font-weight-semibold);
        @media (--sm-only) {
          font-size: var(--seeds-font-size-3xl);
        }
      }
      .subtitle {
        margin-block-start: var(--seeds-spacer-content);
        font-size: var(--seeds-font-size-2xl);
        @media (--sm-only) {
          margin-block-start: var(--seeds-spacer-header);
          font-size: var(--seeds-font-size-base);
        }
      }
      .hero-button {
        margin-block-start: var(--seeds-s8);
        @media (--sm-only) {
          margin-block-start: var(--seeds-s2);
        }
      }
    }
  }
  .resource-container {
    padding-block: var(--seeds-spacer-container);
    .resource {
      height: 100%;
      h2 {
        font-family: var(--seeds-font-alt-sans);
        font-weight: var(--seeds-font-weight-semibold);
      }
      .resource-icon {
        color: var(--seeds-color-primary);
        background-color: var(--seeds-bg-color-surface-primary);
        border-radius: var(--seeds-rounded-full);
        padding: var(--seeds-s2);
        svg {
          fill: none;
        }
      }
    }
  }
  .hero-search-subNote {
    margin-block-start: var(--seeds-s4);
  }
  .hero-search-card {
    padding-block: var(--seeds-s6);
    .hero-search-tabs {
      --tab-panel-padding: var(--seeds-s6);
      border-radius: var(--seeds-rounded-lg);
      .hero-search-tab-panel {
        border-radius: 0 var(--seeds-rounded-lg) var(--seeds-rounded-lg);
      }
    }
    .hero-search {
      color: var(--seeds-text-color-darker);
      display: grid;
      grid-template-columns: 1fr auto;
      @media (--sm-only) {
        grid-template-columns: 1fr;
      }
      column-gap: var(--seeds-s4);
      margin-block-start: var(--seeds-s4);

      .hero-filter-flex {
        @media (--sm-and-up) {
          display: flex;
          gap: var(--seeds-s4);
        }
      }

      // The filter checkbox should be below the view listing button on desktop but still be before the button in tab order
      .hero-last-checkbox {
        margin-block-start: var(--seeds-s4);
        margin-block-end: 0;
        @media (--sm-and-up) {
          margin-block-start: 0;
          grid-column: span 2;
          justify-self: end;
          order: 99;
        }
      }
    }
  }
}
