/* Overrides the default ui-components styles with Detroit-specific styles. */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");

#__next {
  .site-header {
    --logo-title-font-size-desktop: var(--bloom-font-size-tiny);
    --logo-title-font-size-mobile: var(--bloom-font-size-sm);
    --logo-image-desktop-max-height: var(--bloom-s20);
    --logo-image-desktop-min-height: var(--bloom-s20);
    --mobile-menu-font-size: var(--bloom-font-size-sm);
    --mobile-dropdown-item-font-size: var(--bloom-font-size-tiny);
    --logo-image-mobile-display: none;
    --notice-display-mobile: none;
    --link-text-hover-color: var(--bloom-color-gray-750);
    --link-text-color: var(--bloom-color-gray-750);
    --link-font-size: var(--bloom-font-size-sm);

    .button {
      text-transform: uppercase;
      font-weight: 700;
      text-decoration: none;
      letter-spacing: var(--bloom-letter-spacing-widest);
      font-size: var(--bloom-font-size-sm);
      svg {
        rect {
          fill: var(--bloom-color-primary);
        }
      }
    }

    .site-header__logo-container {
      a:hover {
        color: var(--bloom-color-gray-950);
      }
    }
  }
}

// Listing table Detroit styles
.ag-theme-alpine.ag-theme-bloom {
  // Cell focus indicator color
  --ag-range-selection-border-color: #004445;
  // Row heading focus indicator color
  --ag-input-focus-border-color: #004445;
  // Table row hover background color
  --ag-row-hover-color: #f2f2f2;
}

:root {
  --bloom-font-sans: [ "Montserrat", "Open Sans", "Helvetica", "Arial", "Verdana", "sans-serif" ];
  --bloom-font-alt-sans: [ "Montserrat", "Open Sans", "Helvetica", "Arial", "Verdana",
    "sans-serif" ];
  --bloom-color-accent-cool: "#297E73";
  --bloom-color-gray-700: "#000000";
  --bloom-color-gray-800: "#18252A";
  --bloom-color-gray-950: "#000000";
  --bloom-color-lush: "#feb70d";
  --bloom-color-primary-dark: rgb(0, 68, 69);
  --bloom-color-primary-darker: "#004445";
  --bloom-color-primary-light: "#F2F2F2";
  --bloom-color-primary-lighter: #f2f2f2;
  --bloom-color-primary: rgb(41, 126, 115);
  --bloom-color-warn: "#feb70d";
  --bloom-font-serif: var(--detroit-font-serif);
  --primary-appearance-hover-background-color: white;
  --primary-appearance-hover-label-color: var(--bloom-color-primary);
  --primary-appearance-hover-border-color: var(--bloom-color-primary);
  --outlined-appearance-hover-background-color: var(--bloom-color-primary-dark);
  --outlined-appearance-hover-border-color: var(--bloom-color-primary-dark);
}

.button {
  &:hover {
    svg {
      fill: var(--bloom-color-white);
    }
  }
}

.alert-box.primary {
  background-color: var(--bloom-color-gray-400);
}

#sign-in {
  aside {
    float: right;
  }
}
