// The header logo should allow for a larger maximum height than the default
// logo.
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");

.navbar-logo .logo .logo__image {
  min-height: 4rem;
  max-height: 5rem;
  @screen md {
    min-height: 6rem;
    max-height: 7rem;
  }
}

.navbar-logo .logo {
  max-height: 15rem;
  max-width: 100%;

  .logo__title {
    @apply text-sm;
  }
}

// Listing table Detroit styles
.ag-theme-alpine.ag-theme-bloom {
  // Cell focus indicator color
  --ag-range-selection-border-color: #004445;
  // Row heading focus indicator color
  --ag-input-focus-border-color: #004445;
  // Table row hover background color
  --ag-row-hover-color: #f2f2f2;
}

Button.button.is-primary:hover {
  @apply bg-primary-light;
  @apply text-black;
}
