:root {
  .field-value-error {
    --field-value-label-color: var(--seeds-color-red-500);
  }

  .seeds-tag {
    text-transform: uppercase;
    letter-spacing: var(--seeds-letter-spacing-wider);
    // Allows for status tags to take up the full width of their container
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .button {
    --normal-rounded: var(--bloom-rounded-full);
    --small-rounded: var(--bloom-rounded-full);
  }
}
