@import "../public/static/fonts/Montserrat.css";

:root {
  // Seeds token overrides

  --seeds-color-primary-darker: #133a35;
  --seeds-color-primary-dark: #1f6058;
  --seeds-color-primary: #297e73;
  --seeds-color-primary-light: #c5ece7;
  --seeds-color-primary-lighter: #ecf9f7;
  --seeds-bg-color-surface-primary: var(--seeds-color-primary-lighter);
  --seeds-bg-color-surface-primary-inverse: var(--seeds-color-primary-dark);

  // Map some old UIC tokens to updated Seeds tokens
  --bloom-color-primary-dark: var(--seeds-color-primary-dark);
  --ag-row-hover-color: var(--seeds-color-primary-lighter);

  // Seeds component & class token overrides
  .seeds-button {
    --button-border-radius-sm: var(--seeds-rounded-3xl);
    --button-border-radius-md: var(--seeds-rounded-3xl);
  }

  // UIC and miscellaneous overrides
  .seeds-button {
    -webkit-font-smoothing: antialiased; // restore macOS styling that had been unset
  }

  .main-container {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .styled-stacked-table {
    // Temporary until we have Seeds tables to manipulate UIC StackedTable component
    [class*="stacked-table"] {
      --bloom-font-size-base: var(--seeds-type-label-size);
      .stacked-table-subtext {
        color: var(--seeds-text-color);
      }
      tr {
        background-color: var(--seeds-bg-color-muted);
        margin-bottom: 0;
      }
      tr:nth-of-type(even) {
        background-color: var(--seeds-color-white);
      }
      tr:first-child {
        margin-block-end: 0;
      }
      @media (min-width: theme("screens.md")) {
        td:last-child {
          text-align: left;
          > div {
            text-align: left;
          }
        }
        th:last-child {
          text-align: left;
        }
      }

      th {
        background-color: white;
        padding-block: var(--seeds-s1);
        padding-inline: var(--seeds-s2);
        letter-spacing: normal;
        text-transform: capitalize;
      }
      ::before {
        text-transform: capitalize;
      }
      td {
        padding: var(--seeds-s2);
      }
      td,
      th {
        font-size: var(--seeds-type-caption-size);
      }
    }
  }

  --text-caps-spaced-letter-spacing: var(--bloom-letter-spacing-tight);
  --text-caps-spaced-font-weight: 700;
  .text__caps-spaced {
    text-transform: none;
    color: var(--seeds-input-text-label-color);
  }
  .label.text__caps-spaced {
    margin-bottom: var(--seeds-s1);
  }

  .field-value-error {
    --field-value-label-color: var(--seeds-color-alert);
  }

  .tag-uppercase {
    text-transform: uppercase;
    letter-spacing: var(--seeds-letter-spacing-wider);
    // Allows for status tags to take up the full width of their container
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #seeds-toast-stack {
    --toast-stack-inset-top: var(--seeds-s32);
  }

  .seeds-button {
    -webkit-font-smoothing: antialiased; // restore macOS styling that had been unset
  }

  .seeds-button[data-variant="primary"] {
    color: white; // AG grid styling from UIC was messing up our primary button
  }
}

.site-header {
  --detroit-navbar-height: 92px;
  --bloom-color-primary: var(--seeds-color-primary);

  --logo-desktop-height: 150px;
  --logo-width-med: 275px;
  --logo-image-max-height: 3rem;
  --logo-image-desktop-max-height: 5rem;
  --base-height: var(--detroit-navbar-height);
  --base-max-height: var(--detroit-navbar-height);
  --navbar-menu-desktop-height: var(--detroit-navbar-height);
}

.ag-theme-bloom .button {
  --normal-rounded: var(--seeds-rounded-3xl);
  --bloom-color-primary: var(--seeds-color-primary);
}

.section-with-grid hgroup p {
  color: var(--seeds-text-color);
}

.grid-inset-section {
  background: var(--seeds-bg-color-surface-primary);
  padding: var(--seeds-spacer-section);

  .text-heading-md {
    margin-block-end: calc(0rem - var(--seeds-spacer-label));
  }
}

.grid-section-row-heading {
  margin-block-end: calc(var(--seeds-s3) - var(--grid-gap, var(--seeds-s7)));
}

.spacer-container-above {
  margin-block-start: var(--seeds-spacer-container);
}

.spacer-container {
  margin-block-end: var(--seeds-spacer-container);
}

.spacer-section-above {
  margin-block-start: var(--seeds-spacer-section);
}

.spacer-section {
  margin-block-end: var(--seeds-spacer-section);
}

.spacer-content-above {
  margin-block-start: var(--seeds-spacer-content);
}

.spacer-content {
  margin-block-end: var(--seeds-spacer-content);
}

.spacer-header-above {
  margin-block-start: var(--seeds-spacer-header);
}

.spacer-header {
  margin-block-end: var(--seeds-spacer-header);
}

.spacer-label-above {
  margin-block-start: var(--seeds-spacer-label);
}

.spacer-label {
  margin-block-end: var(--seeds-spacer-label);
}

.spacer-text-above {
  margin-block-start: var(--seeds-spacer-text);
}

.spacer-text {
  margin-block-end: var(--seeds-spacer-text);
}

:is(
    .spacer-container,
    .spacer-section,
    .spacer-content,
    .spacer-header,
    .spacer-label,
    .spacer-text
  ):last-child {
  margin-block-end: 0;
}

/* Override out-of-date ui-components labeling */
:is(label, legend).text__caps-spaced {
  /*  --text-caps-spaced-font-family: var(--bloom-font-sans); */
  --text-caps-spaced-letter-spacing: normal;
  --text-caps-spaced-font-weight: normal;
  --text-caps-spaced-margin-bottom: var(--seeds-s2);
  text-transform: none;
}

.section-with-grid hgroup p {
  color: var(--seeds-text-color);
}

.grid-inset-section {
  background: var(--seeds-bg-color-muted);
  padding: var(--seeds-spacer-section);
}

.grid-section-row-heading {
  margin-block-end: calc(var(--seeds-s3) - var(--grid-gap, var(--seeds-s7)));
}

.spacer-container-above {
  margin-block-start: var(--seeds-spacer-container);
}

.spacer-container {
  margin-block-end: var(--seeds-spacer-container);
}

.spacer-section-above {
  margin-block-start: var(--seeds-spacer-section);
}

.spacer-section {
  margin-block-end: var(--seeds-spacer-section);
}

.spacer-content-above {
  margin-block-start: var(--seeds-spacer-content);
}

.spacer-content {
  margin-block-end: var(--seeds-spacer-content);
}

.spacer-header-above {
  margin-block-start: var(--seeds-spacer-header);
}

.spacer-header {
  margin-block-end: var(--seeds-spacer-header);
}

.spacer-label-above {
  margin-block-start: var(--seeds-spacer-label);
}

.spacer-label {
  margin-block-end: var(--seeds-spacer-label);
}

.spacer-text-above {
  margin-block-start: var(--seeds-spacer-text);
}

.spacer-text {
  margin-block-end: var(--seeds-spacer-text);
}

:is(
    .spacer-container,
    .spacer-section,
    .spacer-content,
    .spacer-header,
    .spacer-label,
    .spacer-text
  ):last-child {
  margin-block-end: 0;
}

/* Override out-of-date ui-components labeling */
:is(label, legend).text__caps-spaced {
  /*  --text-caps-spaced-font-family: var(--bloom-font-sans); */
  --text-caps-spaced-letter-spacing: normal;
  --text-caps-spaced-font-weight: normal;
  --text-caps-spaced-margin-bottom: var(--seeds-s2);
  text-transform: none;
}

.seeds-drawer-header .seeds-tag {
  vertical-align: 15%;
  margin-inline-start: var(--seeds-s3);
}

// Temporary short-term overrides for contrast compliance
.darker-link {
  --seeds-color-primary: var(--seeds-color-blue-700);
  --bloom-color-primary: var(--seeds-color-blue-700);
}

.darker-alert {
  --seeds-color-primary: var(--seeds-color-red-700);
}

.darker-help-text {
  --field-value-help-text-color: var(--seeds-input-text-label-color);
}
