/* Overrides the default ui-components styles with Detroit-specific styles. */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");

.navbar-logo .logo .logo__image {
  min-height: 4rem;
  max-height: 5rem;
  @screen md {
    min-height: 6rem;
    max-height: 7rem;
  }
}

.navbar-logo .logo {
  max-height: 15rem;
  max-width: 100%;

  .logo__title {
    @apply text-sm;
  }
}

// Listing table Detroit styles
.ag-theme-alpine.ag-theme-bloom {
  // Cell focus indicator color
  --ag-range-selection-border-color: #004445;
  // Row heading focus indicator color
  --ag-input-focus-border-color: #004445;
  // Table row hover background color
  --ag-row-hover-color: #f2f2f2;
}

:root {
  --bloom-font-sans: [ "Montserrat", "Open Sans", "Helvetica", "Arial", "Verdana", "sans-serif" ];
  --bloom-font-alt-sans: [ "Montserrat", "Open Sans", "Helvetica", "Arial", "Verdana",
    "sans-serif" ];
  --bloom-color-accent-cool: "#297E73";
  --bloom-color-gray-700: "#000000";
  --bloom-color-gray-800: "#18252A";
  --bloom-color-gray-950: "#000000";
  --bloom-color-lush: "#feb70d";
  --bloom-color-primary-dark: rgb(0, 68, 69);
  --bloom-color-primary-darker: "#004445";
  --bloom-color-primary-light: "#F2F2F2";
  --bloom-color-primary-lighter: "#F2F2F2";
  --bloom-color-primary: rgb(41, 126, 115);
  --bloom-color-warn: "#feb70d";
  --bloom-font-serif: var(--detroit-font-serif);
  --primary-appearance-hover-background-color: white;
  --primary-appearance-hover-label-color: var(--bloom-color-primary);
  --primary-appearance-hover-border-color: var(--bloom-color-primary);
  --outlined-appearance-hover-background-color: var(--bloom-color-primary-dark);
  --outlined-appearance-hover-border-color: var(--bloom-color-primary-dark);
}

.button {
  &:hover {
    svg {
      fill: var(--bloom-color-white);
    }
  }
}
