:root {
  .field-value-error {
    --field-value-label-color: var(--seeds-color-alert);
  }

  .seeds-tag {
    text-transform: uppercase;
    letter-spacing: var(--seeds-letter-spacing-wider);
    // Allows for status tags to take up the full width of their container
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.section-with-grid hgroup p {
  color: var(--seeds-text-color);
}

.grid-inset-section {
  background: var(--seeds-bg-color-surface-primary);
  padding: var(--seeds-spacer-section);
}

.grid-section-row-heading {
  margin-block-end: calc(var(--seeds-s3) - var(--grid-gap, var(--seeds-s7)));
}

.spacer-container-above {
  margin-block-start: var(--seeds-spacer-container);
}

.spacer-container {
  margin-block-end: var(--seeds-spacer-container);
}

.spacer-section-above {
  margin-block-start: var(--seeds-spacer-section);
}

.spacer-section {
  margin-block-end: var(--seeds-spacer-section);
}

.spacer-content-above {
  margin-block-start: var(--seeds-spacer-content);
}

.spacer-content {
  margin-block-end: var(--seeds-spacer-content);
}

.spacer-header-above {
  margin-block-start: var(--seeds-spacer-header);
}

.spacer-header {
  margin-block-end: var(--seeds-spacer-header);
}

.spacer-label-above {
  margin-block-start: var(--seeds-spacer-label);
}

.spacer-label {
  margin-block-end: var(--seeds-spacer-label);
}

.spacer-text-above {
  margin-block-start: var(--seeds-spacer-text);
}

.spacer-text {
  margin-block-end: var(--seeds-spacer-text);
}

:is(.spacer-container, .spacer-section, .spacer-content, .spacer-header, .spacer-label, .spacer-text):last-child {
  margin-block-end: 0;
}

/* Override out-of-date ui-components labeling */
:is(label, legend).text__caps-spaced {
  /*  --text-caps-spaced-font-family: var(--bloom-font-sans); */
  --text-caps-spaced-letter-spacing: normal;
  --text-caps-spaced-font-weight: normal;
  --text-caps-spaced-margin-bottom: var(--seeds-s2);
  text-transform: none;
}
