@import "../global/mixins.scss";

.button {
  position: relative;
  border-radius: var(--regular-rounded, var(--bloom-rounded));
  padding: var(--regular-padding, var(--bloom-s4) var(--bloom-s6));
  text-align: center;
  text-transform: var(--label-transform, uppercase);
  font-family: var(--label-font, var(--bloom-font-alt-sans));
  display: inline-block;
  letter-spacing: var(--label-letter-spacing, var(--bloom-letter-spacing-widest));
  font-size: var(--regular-font-size, var(--bloom-font-size-sm));
  font-weight: var(--label-weight, bold);
  line-height: var(--bloom-line-height-snug);

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 3px 4px var(--bloom-color-accent-cool);
  }

  &:hover {
    border-color: var(--bloom-color-primary-dark);
  }

  &:disabled {
    pointer-events: none;
    background-color: var(--bloom-color-white);
    border-color: var(--bloom-color-gray-450);
    color: var(--bloom-color-gray-450);
  }

  &.is-secondary {
    border-color: var(--bloom-color-gray-700);
    color: var(--bloom-color-gray-700);

    &:hover {
      background-color: var(--bloom-color-gray-700);
      color: var(--bloom-color-white);
    }
  }

  &.is-small {
    border-radius: var(--small-rounded, var(--bloom-rounded));
    padding: var(--small-padding, var(--bloom-s3) var(--bloom-s6));
    font-size: var(--small-font-size, var(--bloom-font-size-xs));
  }

  &.is-big {
    border-radius: var(--big-rounded, var(--bloom-rounded));
    padding: var(--big-padding, var(--bloom-s6));
    font-size: var(--big-font-size, var(--bloom-font-size-sm));
  }

  &.is-normal-case {
    text-transform: none;
  }

  &.is-unstyled {
    background: transparent;
  }

  &.is-unstyled,
  &.is-inline {
    text-transform: none;
    border: none;
    padding: 0;
    font-family: var(--bloom-font-sans);
    letter-spacing: normal;
    font-weight: 400;
    text-decoration: underline;
    margin: var(--bloom-s4);
    font-size: var(--bloom-font-size-tiny);

    &:hover {
      color: var(--bloom-color-primary);
      background: transparent;
    }
  }

  &.is-inline {
    color: var(--bloom-color-primary);
    font-weight: 600;
    font-size: var(--bloom-font-size-tiny);
    margin: 0;
    text-decoration: none;

    &.has-icon-left {
      .button__icon {
        margin-right: var(--bloom-s1);
      }
    }
    &.has-icon-right {
      .button__icon {
        margin-left: var(--bloom-s1);
      }
    }
  }

  &.has-icon-left {
    .button__icon {
      margin-right: var(--bloom-s3);
    }
  }
  &.has-icon-right {
    .button__icon {
      margin-left: var(--bloom-s3);
    }
  }

  &.is-text-caps {
    color: var(--bloom-color-primary-dark);
    border: none;
    padding: 0;
    font-family: var(--bloom-font-sans);
    letter-spacing: normal;
    text-decoration: underline;
    margin: var(--bloom-s4);
    text-transform: uppercase;
    font-size: var(--bloom-font-size-tiny);
    display: block;

    &:hover {
      color: var(--bloom-color-primary-dark);
      background: transparent;
    }
  }

  &.is-fullwidth {
    width: 100%;
  }

  &.is-loading {
    .button__content {
      opacity: 0;
    }
  }

  @include filled-appearances;
  @include outlined-appearances;
}

button {
  &.has-toggle {
    @include has-toggle;
  }
}

.button__loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 2px;
}
