.faq-page {
  --page-header-layout-content-bg-color: var(--seeds-bg-color-canvas);
  .questions-container {
    .faq-background {
      border: 1px solid var(--seeds-border-color);
      background-color: var(--seeds-bg-color-surface);
      border-radius: var(--seeds-rounded);
      width: 100%;
      text-align: start;
      border-block-end: 1px solid var(--seeds-border-color);
      display: flex;
      justify-content: space-between;
    }

    .faq-item-container {
      margin-block-end: var(--seeds-s4);
      @media (--md-down) {
        margin-block-end: var(--seeds-s2);
      }
      .collapsed {
        border: 0;
      }
      .faq-question {
        width: 100%;
        display: flex;
        .faq-heading-container {
          width: 100%;

          .expanded {
            border-end-start-radius: 0;
            border-end-end-radius: 0;
          }

          h3 {
            padding-block-start: 0;
            margin-inline-end: var(--seeds-s4);
            font-size: var(--seeds-font-size-lg);
            @media (--md-down) {
              font-size: var(--seeds-font-size-md);
            }
          }
          .faq-heading {
            padding: var(--seeds-spacer-content);
          }
        }
      }

      .content-expanded {
        border-block-start: 0;
        border-start-start-radius: 0;
        border-start-end-radius: 0;
      }

      .faq-answer-container {
        border-block-start: 0;
        .faq-answer {
          padding: var(--seeds-spacer-content);
        }
        .answer-collapsed {
          display: none;
        }
        .answer-expanded {
          display: block;
        }
      }
    }
  }
  .faq-card {
    max-width: var(--seeds-width-3xl);
    h2 {
      font-size: var(--seeds-font-size-2xl);
    }
  }
}
