.form-card {
  --card-footer-background-color: var(--seeds-bg-color-surface-primary);
  --card-content-padding-inline: var(--seeds-s12);
  --card-header-padding-inline: var(--seeds-s12);
  @media (max-width: theme("screens.sm")) {
    --card-content-padding-inline: var(--seeds-s4);
    --card-header-padding-inline: var(--seeds-s4);
    --card-border-radius: 0;
    --card-content-padding-block: var(--seeds-s6);
  }
  width: 100%;
}

.block-card {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  --subheading-color: var(--seeds-text-color-light);
  --heading-margin: var(--seeds-s3);
  @media (max-width: theme("screens.sm")) {
    --card-spacing-lg: var(--seeds-s6);
  }
}

.card-icon {
  margin-block-end: var(--seeds-s3);
  color: var(--seeds-color-primary);
}

.card-circled-icon {
  font-size: var(--seeds-font-size-6xl);
  background-color: var(--seeds-bg-color-surface-primary);
  border-radius: var(--seeds-rounded-full);
  padding: var(--seeds-s3);
  svg {
    fill: none;
  }
}

.card-heading-group {
  --subheading-color: var(--seeds-text-color-light);
}

.card-alt-heading-font {
  font-family: var(--seeds-font-alt-sans);
  font-weight: var(--seeds-font-weight-semibold);
}
