.form-card {
  --card-content-padding-inline: var(--seeds-s12);
  --card-header-padding-inline: var(--seeds-s12);
  --card-border-width: 0rem;
  --card-divider-width: var(--seeds-border-1);
  @media (max-width: theme("screens.sm")) {
    --card-content-padding-inline: var(--seeds-s4);
    --card-header-padding-inline: var(--seeds-s4);
    --card-border-radius: 0;
    --card-content-padding-block: var(--seeds-s6);
  }
  p {
    font-weight: var(--seeds-font-weight-regular);
  }
  width: 100%;
}

.block-card {
  width: 100%;
  height: 100%;
  --card-border-width: 0rem;
  --card-divider-width: var(--seeds-border-1);
  justify-content: space-between;
  --subheading-color: var(--seeds-text-color-light);
  --heading-margin: var(--seeds-s3);
  p {
    font-weight: var(--seeds-font-weight-regular);
  }
  @media (max-width: theme("screens.sm")) {
    --card-spacing-lg: var(--seeds-s6);
  }
}

.card-icon {
  margin-block-end: var(--seeds-s3);
  color: var(--seeds-color-primary);
}

.card-heading-group {
  --subheading-color: var(--seeds-text-color-light);
  h1,
  h2 {
    font-weight: var(--seeds-font-weight-bold);
  }
}

.card-heading {
  font-weight: var(--seeds-font-weight-bold);
  margin-top: var(--seeds-s1);
}
