.tab-view {
  --max-width: var(--seeds-width-7xl);
  --padding-block: var(--seeds-s8);
  --padding-inline: var(--seeds-s6);
  .section-container {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    padding-block: var(--padding-block);
    padding-inline: var(--padding-inline);
    @media (max-width: theme("screens.md")) {
      flex-direction: column;
      gap: var(--seeds-s4);
    }

    .content-container {
      width: 100%;
      margin-inline: auto;
    }
  }
}
