.footer-container {
  color: var(--seeds-color-on-inverse-muted);
  width: 100%;
  background-color: var(--seeds-bg-color-inverse);
  text-align: start;
  display: flex;
  flex-direction: column;

  a {
    color: var(--seeds-color-on-inverse);
  }
}

.footer-content-container {
  padding-block: var(--seeds-s12);
  @media (--md-down) {
    padding-block: var(--seeds-s8);
  }
  width: 100%;
}

.footer {
  padding-inline: 0;
  text-align: start;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  a {
    text-decoration: none;
  }
}

.icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  .jurisdiction-icon {
    width: var(--seeds-s24);
    height: var(--seeds-s24);
    display: inline-block;
    margin-inline-end: var(--seeds-s3);
    margin-block-end: var(--seeds-s8);
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.copyright-content-container {
  background-color: var(--seeds-bg-color-inverse-dark);
}

.copyright {
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--seeds-bg-color-inverse-dark);
  align-items: flex-start;
  color: var(--seeds-color-on-inverse-muted);
  img {
    margin-inline-start: var(--seeds-s4);
  }

  @media (--md-down) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    img {
      margin-block-start: var(--seeds-s4);
      margin-inline-start: 0;
    }
  }
}

.text-container {
  margin-block-end: var(--seeds-s4);
  a {
    text-decoration: underline;
  }
}

.text-container:last-of-type {
  margin-block-end: 0;
}

.copyright-text {
  min-width: var(--seeds-s72);
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-block-end: calc(-1 * var(--seeds-s2));
  a {
    color: var(--seeds-color-on-inverse-muted);
    margin-inline-start: var(--seeds-s6);
    margin-block-end: var(--seeds-s2);
  }
  @media (--md-down) {
    margin-block-end: 0;
    flex-direction: column;
    margin-block-start: var(--seeds-s8);
    a {
      margin-inline-start: 0;
      margin-block-end: var(--seeds-s5);
    }
    a:last-of-type {
      margin-block-end: 0;
    }
  }
}
