.forgot-password-submit-button {
  margin-top: var(--seeds-s1);
}
.forgot-password-cancel-button {
  margin-top: var(--seeds-s4);
  margin-left: var(--seeds-s6);
}
.forgot-password-footer {
  display: flex;
}
