.doorway-footer-sock {
  --background-color: var(--bloom-color-gray-800);
  --copyright-text-color: var(--bloom-color-gray-500);
  --copyright-width: auto;

  background-color: var(--background-color);
  // These are necessary to override the bloom UIC padding.
  @apply py-0;
  @apply px-0;

  p {
    margin-bottom: 0 !important;
  }

  a {
    @apply text-white;
    @apply block;
    @apply mt-3;

    // All the screen lg styles in this file are intended to be the same as for smaller screens.
    // We still need to specify the styles since otherwise those from bloom UIC will be used instead.
    @screen lg {
      @apply block;
      @apply mt-3;
      @apply ml-0;
      @apply text-white;
    }
  }

  .doorway-footer-sock__inner {
    @apply max-w-5xl;
    @apply m-auto;
    justify-content: space-between;
    @screen lg {
      @apply block;
    }
  }

  .doorway-footer-nav {
    @apply mt-5;
    @apply mb-6;
    width: auto;

    @screen lg {
      @apply mt-5;
      text-align: left;
      display: block;
    }
  }
}
