.language-bar {
  --inner-max-width: var(--bloom-width-5xl);
  --inner-width: inherit;
  --inner-desktop-padding: inherit;
  --inner-mobile-padding: inherit;
  background-color: var(--bloom-color-gray-200);
}

.language-bar__inner {
  max-width: var(--inner-max-width);
  width: var(--inner-width);
  display: flex;
  justify-content: flex-end;
  margin: auto;
  padding: var(--inner-mobile-padding);
  padding: var(--bloom-s2) 0;

  @media (max-width: $screen-md) {
    justify-content: center;
  }
}

.language-nav__list {
  display: flex;
  @media (max-width: $screen-md) {
    justify-content: center;
  }
  li:not(:last-child) {
    border-right: var(--doorway-standard-border);
  }
}

.language-nav__list-button {
  padding: var(--bloom-s1) var(--bloom-s3);
  color: var(--bloom-text-color);
  border-radius: var(--bloom-rounded-full);
  font-weight: 500;
  font-size: var(--bloom-font-size-xs);
  cursor: pointer;
  background-color: transparent;
  margin: 0 var(--bloom-s1_5);

  &:hover {
    background-color: var(--doorway-color-cyan-300);
  }

  &.is-active {
    color: var(--bloom-text-color);
    background-color: var(--doorway-color-cyan-300);
  }
}
