.language-bar {
  --inner-max-width: var(--bloom-width-5xl);
  --inner-width: inherit;
  --inner-desktop-padding: inherit;
  --inner-mobile-padding: inherit;
  background-color: var(--bloom-color-gray-800);
}

.language-bar__inner {
  max-width: var(--inner-max-width);
  width: var(--inner-width);
  display: flex;
  justify-content: flex-end;
  margin: auto;
  padding: var(--inner-mobile-padding);

  @media (min-width: $screen-md) {
    padding: 0 var(--bloom-s3);
    padding: var(--inner-desktop-padding);
  }
}

.language-nav__list {
  display: flex;
}

.language-nav__list-button {
  padding: var(--bloom-s2) var(--bloom-s3);
  color: var(--bloom-color-gray-500);
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 3px 4px var(--bloom-color-accent-cool);
  }

  &.is-active {
    color: var(--bloom-color-white);
  }
}
