.form-overrides {
  // These are overrides for UIC to make the styling between text inputs and text areas the same
  [class*="textarea-error-message"] {
    font-size: var(--seeds-font-size-xs);
  }
  [class*="textarea-label-error"] {
    color: var(--seeds-color-alert);
  }
  [class*="field-note"] {
    font-size: var(--seeds-font-size-xs);
    color: var(--seeds-color-gray-750);
    letter-spacing: normal;
    margin-block-start: var(--seeds-s2);
  }
  [class*="field-sub-note"] {
    letter-spacing: normal;
  }

  label,
  legend {
    color: var(--seeds-input-text-label-color);
    font-family: var(--seeds-font-sans);
    font-size: var(--seeds-type-label-size);
  }

  .label-option {
    color: var(--seeds-color-black);
    font-weight: var(--seeds-font-weight-semibold);
  }

  .label-error {
    label {
      color: var(--seeds-color-alert);
    }
    color: var(--seeds-color-alert);
  }
}

.asterisk {
  font-weight: var(--seeds-font-weight-bold);
  color: var(--seeds-color-alert);
}

.custom-label {
  color: var(--seeds-input-text-label-color);
  font-family: var(--seeds-font-sans);
  font-size: var(--seeds-type-label-size);
}

.label-option {
  color: var(--seeds-color-black);
  font-weight: var(--seeds-font-weight-semibold);
}

.hide-order-column {
  th:nth-child(2),
  td:nth-child(2) {
    display: none;
  }
}

.photo-preview {
  max-height: var(--seeds-s72);
}

.heading-group-in-section {
  --heading-color: var(--seeds-text-color-darker);
  margin-block-end: var(--seeds-spacer-header);
}

.spacer-bottom-none {
  margin-block-start: 0;
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--seeds-spacer-section);
  width: 100%;
  @media (--md-down) {
    grid-template-columns: 1fr;
  }
}

.list-style {
  li {
    list-style: disc;
    margin-left: var(--seeds-s5);
  }
}

.text-on-secondary {
  color: var(--seeds-input-text-highlight-color);
}

.no-gap-grid {
  --grid-gap: 0;
  --grid-gap-lg: 0;
}
