.emphasized {
  font-weight: var(--seeds-font-weight-bold);
  font-size: var(--seeds-type-heading-size-lg);
  margin-block: var(--seeds-spacer-text);
  font-family: var(--seeds-font-sans);
}

.split-card {
  display: flex;
  flex-direction: row;
  gap: var(--seeds-spacer-content) 0;
  flex-wrap: wrap;
}

.split-card-cell {
  @media (--md-and-up) {
    flex-basis: 50%;
  }
  @media (--sm-only) {
    &:not(:last-child) {
      margin-block-end: var(--seeds-spacer-content);
    }
  }
  &:not(:last-child) {
    padding-inline-end: var(--seeds-s4);
  }
}
