.emphasized-heading-group {
  p {
    font-weight: var(--seeds-font-weight-semibold);
  }
}

.bold-subheader {
  margin-block-start: var(--seeds-spacer-label);
  color: var(--seeds-text-color-light);
  font-weight: 700;
}
