.primary-color-icon {
  color: var(--seeds-color-primary-dark);
}

.due-date-section {
  font-size: var(--seeds-type-label-size);
  margin-block-end: var(--seeds-spacer-content);
  @media (--sm-only) {
    margin-block-end: 0;
  }
  svg {
    margin-inline-end: var(--seeds-s2);
  }
  .date-content {
    display: flex;
  }
}
