.doorway-listing_table {
  margin-top: var(--bloom-s2);

  .doorway-listing_table-row {
    display: flex;

    .table-content-0 {
      @apply uppercase;
      flex: 1;
      font-weight: bold;
    }
  }
}
