.detail-header {
  --text-color: var(--bloom-color-primary-darker);
  --subtitle-desktop-font-size: var(--bloom-font-size-sm);
  --subtitle-mobile-font-size: var(--bloom-font-size-sm);
  --title-desktop-font-size: var(--bloom-font-size-2xl);
  --title-mobile-font-size: var(--bloom-font-size-sm);
  --title-desktop-font-family: var(--bloom-font-serif);
  --title-mobile-font-family: var(--bloom-font-alt-sans);
  position: relative;
  padding: var(--bloom-s4) var(--bloom-s4) var(--bloom-s6) var(--bloom-s4);
  border-bottom: 1px solid var(--bloom-color-gray-400);
  color: var(--text-color);
  display: flex;
  justify-content: flex-start;

  @media (min-width: $screen-md) {
    padding-top: 0;
    padding-bottom: var(--bloom-s8);
    border: none;
    color: var(--bloom-color-gray-800);
  }
}

.detail-header__image {
  position: absolute;
  width: var(--bloom-s12);
  margin-right: var(--bloom-s2);
  margin-left: 0;

  @media (min-width: $screen-md) {
    left: 0;
  }
}

.detail-header__image-container {
  width: auto;
  [dir="rtl"] & {
    width: var(--bloom-s14);
  }
}

.detail-header__hgroup {
  margin-left: var(--bloom-s12);
  padding-left: var(--bloom-s4);

  @media (min-width: $screen-md) {
    border-left: 2px solid var(--bloom-color-primary);
  }

  [dir="rtl"] & {
    margin-right: var(--bloom-s4);
  }

  .ui-icon {
    position: absolute;
    top: var(--bloom-s4);
    right: var(--bloom-s4);

    [dir="rtl"] & {
      left: var(--bloom-s4);
      right: auto;
    }

    @media (min-width: $screen-md) {
      display: none;
    }

    svg {
      width: var(--bloom-s3);
      height: var(--bloom-s3);
    }
  }
}

.detail-header__title {
  font-family: var(--title-mobile-font-family);
  text-transform: uppercase;
  font-size: var(--title-mobile-font-size);
  letter-spacing: 0.1rem;
  color: var(--text-color);
  @media (min-width: $screen-md) {
    font-family: var(--title-desktop-font-family);
    font-size: var(--title-desktop-font-size);
    text-transform: none;
    letter-spacing: 0rem;
    color: var(--bloom-color-gray-950);
  }
}

.detail-header__subtitle {
  font-size: var(--subtitle-mobile-font-size);

  @media (min-width: $screen-md) {
    color: var(--bloom-color-gray-800);
    font-size: var(--subtitle-desktop-font-size);
  }
}
