.listings-row {
  --tags-flex-order: 0;
  --inter-row-gap: var(--bloom-s6);
  --max-width: var(--bloom-width-3xl);
  --max-width-large-screen: var(--bloom-width-5xl);
  --cell-padding: var(--bloom-s3);
  --wider-cell-padding: var(--bloom-s5);
  --card-tag-padding: var(--bloom-s3) var(--bloom-s5);
  --row-padding: var(--inter-row-gap);
  --row-margin: 0;
  --card-tag-font-weight: inherit;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: var(--max-width);
  padding: var(--row-padding);
  margin: var(--row-margin);
  position: relative;
  border-bottom: var(--bloom-border-1) solid var(--bloom-color-gray-450);
  padding-bottom: var(--inter-row-gap);
  padding-top: var(--inter-row-gap);

  @media (min-width: $screen-xl) {
    --max-width: var(--max-width-large-screen);
  }

  @media (max-width: $screen-md) {
    padding-bottom: 0;
  }

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    border-bottom: 0px;
  }

  &:hover {
    background-color: var(--bloom-color-gray-300);
  }
}

.listings-row_figure {
  display: flex;
  padding: 0;
  flex: 1;

  .image_card {
    flex: 1;
  }

  .image-card__inner,
  img {
    height: 100%;
  }
}

.listings-row_content {
  flex: 1;
  min-width: 200px;
  padding: 0 0 0 var(--cell-padding);

  @media (max-width: $screen-md) {
    flex: 2;
  }

  .listings-row_headers,
  .listings-row_preheader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

    .listings-row_tags {
      order: var(--tags-flex-order);
      display: inline-flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: flex-start;

      .tag {
        padding: var(--card-tag-padding);
        margin-bottom: var(--bloom-s2);
        margin-inline-end: var(--bloom-s2);
        font-weight: var(--card-tag-font-weight);

        &:last-of-type {
          margin-inline-end: 0;
        }

        .ui-icon {
          margin-inline-end: var(--bloom-s2);
        }
      }
    }
  }

  .is-card-link::after {
    content: "";
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
  }
}

.listings-row_table {
  margin-block-end: var(--bloom-s4);

  @media (max-width: $screen-md) {
    margin-block-end: 0;
  }
}

.listings-row_footer_container {
  display: flex;
  flex-direction: column;

  @media (max-width: $screen-md) {
    flex-basis: 100%;
    margin-top: var(--bloom-s4);
    margin-bottom: var(--bloom-s5);
  }
}

.listings-row_footer {
  display: flex;
  justify-content: center;
  width: 100%;

  a {
    flex: 1;
  }

  a:not(:first-child) {
    margin-inline-start: var(--bloom-s1);
  }
}

.listings-pill_header {
  margin-top: var(--bloom-s1);
  margin-bottom: var(--bloom-s3);
}

.card-subheader {
  font-family: var(--bloom-font-alt-sans);
  color: var(--bloom-color-gray-800);
  font-size: var(--bloom-font-size-sm);
  margin-bottom: var(--bloom-s2);
  line-height: var(--bloom-line-height-normal);
}

.card-preheader {
  font-family: var(--bloom-font-alt-sans);
  color: var(--bloom-color-gray-700);
  font-size: var(--bloom-font-size-sm);
  line-height: var(--bloom-line-height-normal);
}

.listing-card__tag-icon {
  margin-right: var(--bloom-s2);

  [dir="rtl"] & {
    margin-right: 0;
    margin-left: var(--bloom-s2);
  }
}
