.details {
  --desktop-width: calc(100% * (2 / 3));
  --mobile-width: 100%;

  width: var(--mobile-width);
  @media (min-width: $screen-md) {
    width: var(--desktop-width);
    padding-right: var(--bloom-s8);
    padding-top: var(--bloom-s8);
  }
}
