.back {
  @apply flex;
  @apply tracking-wider;
  @apply font-semibold;
  @apply items-center;
  line-height: 1rem;

  a {
    @apply flex;
    @apply self-center;

    &:before {
      content: "\2039";
      @apply text-xl;
      @apply px-2;
      line-height: 0.75rem;
    }
  }
}
