.preferences-list__item {
  .info-card__title {
    @apply mb-0;
    @apply ml-4;
    @screen md {
      @apply ml-2;
    }
  }
}

.preferences-list__item--title-only {
  .preferences-list__number {
    margin-top: -10px;
  }
  .info-card__title {
    text-transform: none;
    letter-spacing: 0;
  }
}

.preferences-list__number {
  @apply bg-white;
  @apply border-2;
  @apply border-primary;
  @apply text-primary;
  @apply text-sm;
  border-radius: 50%;
  float: left;
  font-weight: 700;
  padding: 0.5rem;
  margin-left: -2.2rem;
  margin-right: 0.5rem;
  margin-top: -4px;
  text-align: center;
  width: 2.5rem;
  white-space: nowrap;

  @screen md {
    margin-left: -2.65rem;
  }

  sup {
    font-weight: 400;
    top: -0.35em;
  }
}

.preferences-list__subtitle {
  @apply text-gray-700;
  @apply text-tiny;
  @apply ml-4;

  @screen md {
    @apply ml-2;
  }
}

.preferences-list__description {
  @apply text-gray-700;
  @apply text-sm;
  @apply mt-3;
}

.preferences-list__links {
  @apply text-tiny;
  @apply mt-3;

  span {
    margin-right: 1rem;
  }
}
