:root {
  --bloom-rounded-sm: 0.125rem;
  --bloom-rounded: 0.25rem;
  --bloom-rounded-md: 0.375rem;
  --bloom-rounded-lg: 0.5rem;
  --bloom-rounded-xl: 0.75rem;
  --bloom-rounded-2xl: 1rem;
  --bloom-rounded-3xl: 1.5rem;
  --bloom-rounded-full: 9999px;

  --bloom-border-1: 1px;
  --bloom-border-2: 2px;
  --bloom-border-4: 4px;
  --bloom-border-8: 8px;

  --bloom-shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
