:root {
  --bloom-font-sans: "Metropolis", Helvetica, Arial, Verdana, sans-serif;
  --bloom-font-serif: "Noto Serif", Georgia, Times, serif;
  // This is the same as -sans, however, I don't think we will have an alt-sans.
  // Will update if needed.
  --bloom-font-alt-sans: "Metropolis", Helvetica, Arial, Verdana, sans-serif;
  --bloom-font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --bloom-font-size-3xs: 0.6875rem;
  --bloom-font-size-2xs: 0.75rem;
  --bloom-font-size-xs: 0.8125rem;
  --bloom-font-size-sm: 0.875rem;
  --bloom-font-size-base: 1rem;
  --bloom-font-size-lg: 1.125rem;
  --bloom-font-size-xl: 1.25rem;
  --bloom-font-size-2xl: 1.5rem;
  --bloom-font-size-3xl: 2rem;
  --bloom-font-size-4xl: 2.5rem;
  --bloom-font-size-5xl: 3rem;
  --bloom-font-size-6xl: 4rem;
  --bloom-font-size-7xl: 4.5rem;

  --bloom-letter-spacing-tightest: -0.075em;
  --bloom-letter-spacing-tighter: -0.05em;
  --bloom-letter-spacing-tight: -0.025em;
  --bloom-letter-spacing-wide: 0.025em;
  --bloom-letter-spacing-wider: 0.05em;
  --bloom-letter-spacing-widest: 0.12em;
  --bloom-letter-spacing-ultrawide: 0.25em;

  --bloom-line-height-3: 0.75rem;
  --bloom-line-height-4: 1rem;
  --bloom-line-height-5: 1.25rem;
  --bloom-line-height-6: 1.5rem;
  --bloom-line-height-7: 1.75rem;
  --bloom-line-height-8: 2rem;
  --bloom-line-height-9: 2.25rem;
  --bloom-line-height-10: 2.5rem;
  --bloom-line-height-none: 1;
  --bloom-line-height-tight: 1.25;
  --bloom-line-height-snug: 1.375;
  --bloom-line-height-normal: 1.5;
  --bloom-line-height-relaxed: 1.625;
  --bloom-line-height-loose: 2;
}
