.doorway-footer-row__section {
  @apply px-0;
  @apply text-left;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: auto;
  max-width: 1024px;

  @media (max-width: $screen-md) {
    flex-direction: column;
  }
}
