.info-cards {
  --header-margin: var(--bloom-s3) 0 var(--bloom-s3) 0;
  --title-font-size: var(--bloom-font-size-sm);
  --info-card-font-size: var(--bloom-font-size-sm);
}

.info-cards__header {
  margin: var(--header-margin);

  @screen md {
    margin-right: 1rem;
  }
}

.info-cards__title {
  font-size: var(--title-font-size);
}

.info-cards__subtitle {
  @apply font-serif;
  @apply mb-5;
}

.info-cards__grid {
  @screen md {
    @apply flex;
    @apply flex-wrap;
    column-gap: 1rem;
  }

  .info-card {
    & > :not(.info-card__title) {
      font-size: var(--info-card-font-size);
    }

    @screen md {
      width: calc(50% - 0.5rem);
      margin-right: auto;
    }
  }
}
