## == IMPORTANT REMINDER: ANY EDITS HERE MUST BE UPDATED IN ALL ENVIRONMENTS (incl. CI) == ##
BACKEND_API_BASE=http://localhost:3100
BACKEND_PROXY_BASE=
LISTINGS_QUERY=/listings
HOUSING_COUNSELOR_SERVICE_URL=
NEXTJS_PORT=3000
MAPBOX_TOKEN=
LANGUAGES=en,es,zh,vi,tl
IDLE_TIMEOUT=5
JURISDICTION_NAME=Bay Area
CLOUDINARY_CLOUD_NAME=exygy
# next js cache revalidate
CACHE_REVALIDATE=60
NEW_RELIC_APP_NAME=Bloom Public
NEW_RELIC_LICENSE_KEY=
SENTRY_ORG=

# this GTM key is for local development only
GTM_KEY=GTM-KF22FJP

### Begin Doorway-specific variables ###
# Note: This must be kept in sync with the same env variable in backend/core
# Note: BLOOM_API_BASE must match EXTERNAL_API_BASE in tasks/import-listings
BLOOM_API_BASE=https://hba-dev-proxy.herokuapp.com
GOOGLE_MAPS_API_KEY=SUPER_SECRET_KEY
