.doorway-hero {
  --doorway-hero-background-color: var(--bloom-color-white);
  --doorway-hero-between-margin: var(--bloom-s6);
  --doorway-hero-max-width: 68rem;
  --doorway-hero-inner-background-color: var(--doorway-color-secondary);
  --doorway-hero-inner-max-width: var(--bloom-width-3xl);
  --doorway-hero-inner-offset: calc(-1 * var(--bloom-s16));
  --doorway-hero-image-width-desktop: var(--bloom-width-1-3rd);
  --doorway-hero-image-offset-right: calc(-1 * 19rem);
  --doorway-hero-image-width: 50%;

  margin: auto;

  @media (min-width: $screen-md) {
    position: relative;
    max-width: var(--doorway-hero-max-width);
    @apply py-16;
    @apply px-12;
  }
}

.doorway-hero_title {
  @apply font-serif;
  @apply text-2xl;
  @apply text-primary-dark;
  @apply font-bold;
  @apply px-2;
  margin-bottom: var(--doorway-hero-between-margin);

  @media (min-width: $screen-md) {
    @apply text-3xl;
  }
}

.doorway-hero_outer {
  background-color: var(--doorway-hero-inner-background-color);
  position: relative;
  width: 100%;
  @apply p-6;

  @media (min-width: $screen-md) {
    max-width: var(--doorway-hero-max-width);

    @apply p-12;
    @apply rounded-3xl;
  }

  @media (min-width: $screen-lg) {
    left: var(--doorway-hero-inner-offset);
  }
}

.doorway-hero_inner {
  background-color: var(--doorway-hero-inner-background-color);
  position: relative;
  width: 100%;

  @media (min-width: $screen-lg) {
    max-width: var(--doorway-hero-inner-max-width);

    padding-right: var(--bloom-s36);
  }

  @media (min-width: $screen-md) AND (max-width: $screen-lg) {
    padding-right: 0;
  }

  h1 {
    margin-bottom: var(--doorway-hero-between-margin);
  }

  .field {
    --field-note-font-color: var(--bloom-color-gray-750);
  }
}

.doorway-hero_image {
  @apply rounded-3xl;
  margin-bottom: var(--doorway-hero-between-margin);

  @media (min-width: $screen-md) AND (max-width: $screen-lg) {
    display: none;
  }

  @media (min-width: $screen-md) {
    position: absolute;
    right: var(--doorway-hero-image-offset-right);
    width: var(--doorway-hero-image-width);
  }
}
