.heading-group {
  /* Component Variables */
  --heading-margin: 0rem;
  --subheading-margin: var(--bloom-s3);
  --heading-color: inherit;
  --subheading-color: inherit;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block: var(--heading-margin);
    color: var(--heading-color);
  }

  p {
    margin-block: var(--subheading-margin);
    font-size: var(--bloom-font-size-base);
    color: var(--subheading-color);
  }
}
