.hero {
  --background-color: var(--bloom-color-primary-darker);
  --border-radius: inherit;
  --font-weight: inherit;
  --inner-background-color: inherit;
  --margin-desktop: inherit;
  --margin-mobile: inherit;
  --max-width: 41rem;
  --subtitle-desktop-font-size: var(--bloom-font-size-xl);
  --subtitle-font-weight: inherit;
  --subtitle-margin: 0 auto var(--bloom-s8) auto;
  --subtitle-mobile-font-size: var(--bloom-font-size-base);
  --subtitle-text-color: var(--bloom-color-gray-100);
  --subtitle-text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  --text-color: var(--bloom-color-white);
  --title-desktop-font-size: var(--bloom-font-size-5xl);
  --title-letter-spacing: -0.04em;
  --title-line-height: inherit;
  --title-margin-desktop: 0 0 var(--bloom-s8) 0;
  --title-margin-mobile: 0 auto var(--bloom-s5) auto;
  --title-mobile-font-size: var(--bloom-font-size-3xl);
  --title-text-color: inherit;

  background-color: var(--background-color);
  background-size: cover;
  color: var(--text-color);
  margin: var(--margin-desktop);
  padding: var(--bloom-s20) var(--bloom-s5);

  @media (max-width: $screen-md) {
    padding: var(--bloom-s10) var(--bloom-s5);
    margin: var(--margin-mobile);
  }

  &.centered {
    background-position: center center;
  }
}

.hero__button,
.with_secondary a {
  width: 100%;
}

.hero__buttons {
  display: grid;
  gap: var(--bloom-s5);
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin: auto;
  width: 100%;
  max-width: var(--bloom-screen-md);

  @media (max-width: $screen-md) {
    grid-template-columns: auto;
  }
}

.hero__title {
  color: var(--title-text-color);
  font-size: var(--title-desktop-font-size);
  letter-spacing: var(--title-letter-spacing);
  line-height: var(--title-line-height);
  margin: var(--title-margin-desktop);
  max-width: var(--max-width);
  text-align: center;

  @media (max-width: $screen-md) {
    font-size: var(--title-mobile-font-size);
    margin: var(--title-margin-mobile);
  }

  em {
    font-style: normal;
    text-decoration: underline;
    -webkit-text-decoration-color: var(--bloom-color-warn);
    -moz-text-decoration-color: var(--bloom-color-warn);
    text-decoration-color: var(--bloom-color-warn);
  }
}

.hero__subtitle {
  text-align: center;
  color: var(--subtitle-text-color);
  font-family: var(--bloom-font-sans);
  font-size: var(--subtitle-desktop-font-size);
  font-weight: var(--subtitle-font-weight);
  margin: var(--subtitle-margin);
  max-width: var(--max-width);
  text-shadow: var(--subtitle-text-shadow);

  @media (max-width: $screen-md) {
    font-size: var(--subtitle-mobile-font-size);
  }
}

.hero__inner {
  background-color: var(--inner-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
