.step-header {
  --number-color: var(--bloom-color-white);
  --circle-color: var(--bloom-color-primary);
  --circle-desktop-size: var(--bloom-s8);
  --circle-mobile-size: var(--bloom-s6);
  --font-desktop-size: 1.125rem;
  --font-mobile-size: var(--bloom-font-size-base);
  --circle-x-padding: var(--bloom-s0_5);
  --title-spacing: var(--bloom-s1_5);
  --label-font-weight: 600;
  --font-family: var(--bloom-font-sans);

  font-family: var(--font-family);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: var(--font-mobile-size);
  @media (min-width: $screen-md) {
    font-size: var(--font-desktop-size);
  }
}

.step-header__circle-number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--circle-color);
  color: var(--number-color);
  min-width: var(--circle-mobile-size);
  height: var(--circle-mobile-size);
  @media (min-width: $screen-md) {
    min-width: var(--circle-desktop-size);
    height: var(--circle-desktop-size);
  }
  padding: 0rem var(--circle-x-padding);
  margin-right: var(--title-spacing);
  border-radius: 50%;
}

.step-header__title {
  margin-left: var(--title-spacing);
  font-weight: var(--label-font-weight);
}
