@import "../../styles/mixins.scss";

// Description
.description__title {
  @apply font-serif;
  @apply text-xl;
}

.description__body {
  @apply mb-4;

  @screen md {
    padding-top: 0.4em;
  }
}

// Data lists
.column-definition-list {
  @include clearfix;
  
  .description__title {
    @apply text-lg;
    @apply text-gray-800;
    @apply mb-3;
    clear: left;

    @screen md {
      @apply pl-4;
      @apply border-l-2;
      @apply border-gray-450;
      @apply float-left;
      @apply w-1/3;
      @apply pr-3;
      margin-top: 0.15rem;
    }
  }

  .description__body {
    @apply text-tiny;
    @apply mb-5;

    @screen md {
      @apply mb-0;
      @apply float-left;
      @apply w-2/3;
    }

    &:last-of-type {
      @apply w-full;
    }
  }
}