.ui-icon svg {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  vertical-align: middle;
}

.ui-icon svg {
  margin-top: -3px;
}

.ui-tiny svg {
  width: 0.5rem;
  height: 0.5rem;
}

.ui-small svg {
  width: 0.75rem;
  height: 0.75rem;
}

.ui-medium svg {
  width: 1rem;
  height: 1rem;
}

.ui-large svg {
  width: 2rem;
  height: 2rem;
}

.ui-xlarge svg {
  width: 2.5rem;
  height: 2.5rem;
}

.ui-white svg use {
  fill: #fff !important;
}

a svg use {
  fill: $tailwind-primary;
}

.bg-alert-light svg use {
  fill: $tailwind-alert;
}
