.ui-icon svg {
  @apply inline-block;
  @apply align-middle;
  @apply w-6;
  @apply h-6;
}

.ui-icon svg {
  margin-top: -3px;
}

.ui-tiny svg {
  @apply w-2;
  @apply h-2;
}

.ui-small svg {
  @apply w-3;
  @apply h-3;
}

.ui-medium svg {
  @apply w-4;
  @apply h-4;
}

.ui-large svg {
  @apply w-8;
  @apply h-8;
}

.ui-xlarge svg {
  @apply w-10;
  @apply h-10;
}

.ui-2xl svg {
  @apply w-12;
  @apply h-12;
}

.ui-white svg use {
  fill: #fff !important;
}

a svg use {
  fill: $tailwind-primary;
}

.bg-alert-light svg use {
  fill: $tailwind-alert;
}
