html {
  @apply antialiased;
}

body {
  @apply font-sans;
  @apply bg-white;
  @apply text-gray-900;
}

.-top {
  top: -0.8rem;
}

main {
}

.site-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
    display: flex;
    flex-direction: column;

    > section {
      flex: 1;
    }
  }
}

.site-content--wide-content {
  .navbar,
  .page-header__group {
    @apply max-w-screen-xl;
  }
}

@import "mixins.scss";
@import "markdown.scss";
@import "text.scss";
@import "headers.scss";
@import "blocks.scss";
@import "accordion.scss";
@import "custom_counter.scss";
@import "forms.scss";
@import "lists.scss";
@import "tables.scss";
@import "homepage.scss";
@import "print.scss";
@import "vendor/ag_grid.scss";
/* ***********/
/* Additional stylesheets are contained within individual component folders */
/* ***********/
