.custom-counter__item {
  @screen md {
    @apply mb-12;
    @apply ml-8;
    @apply pl-12;
    @apply relative;
    counter-increment: step-counter;
  }
}

.custom-counter__item::before {
  @screen md {
    @apply absolute;
    @apply font-serif;
    @apply text-gray-850;
    top: 0;
    left: -1rem;
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 4.375rem;
    line-height: 0.85;
  }
}

.custom-counter__header {
  @apply pb-4;

  @screen md {
    @apply -ml-4;
    @apply pl-4;
    @apply border-solid;
    @apply border-l-2;
    @apply border-gray-450;
    @apply mb-4;
    @apply mt-4;
  }
}

.custom-counter__title {
  @apply text-lg;

  @screen md {
    @apply text-xl;
  }
}

.custom-counter__subtitle {
  @apply text-gray-700;
  @apply text-tiny;
}