// responsive content spacing
.responsive-content-list {
  .responsive-content-item {
    @screen md {
      @apply pt-12;
      @apply pb-4;
      margin-left: -9999rem;
      margin-right: -9999rem;
      /* add back negative margin value */
      padding-left: 9999rem;
      padding-right: 9999rem;
    }
  }

  .header-hidden {
    @screen md {
      @apply pt-0;
      @apply pb-0;
    }
  }
}

.numbered-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.numbered-list li {
  position: relative;
  display: block;
  counter-increment: list;
  margin: 0 0 1rem 2rem;
}
.numbered-list li:before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: -2rem;
  text-align: center;
  content: counter(list);
  border-radius: 50%;
  color: #555;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  box-shadow: inset 0 0 0 1px #333;
}
.numbered-list li:last-of-type {
  margin-bottom: 0.5rem;
}
@media only screen and (min-width: 60.0625em) {
  .numbered-list li {
    margin: 0 0 1.5rem 2.5rem;
  }
  .numbered-list li:before {
    font-size: 1rem;
    line-height: 1.3125;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    top: -0.25rem;
    left: -2.5rem;
  }
}
