.markdown {
  h2 {
    @apply mt-8;
    @apply mb-5;
    @apply text-3xl;

    @screen md {
      @apply text-xl;
    }
  }

  h2:first-child {
    @apply mt-0;
  }

  hr {
    @apply mt-8;
    @apply mb-8;
    @apply border-b;
    @apply border-solid;
    @apply border-gray-450;
  }

  p:not(:last-child),
  ul:not(:last-child) {
    @apply mb-4;
  }

  ul {
    list-style: disc;
    @apply ml-6;
  }

  &.markdown-informational {
    font-size: 0.9em;
    @apply text-gray-750;

    h3 {
      @apply font-sans;
      @apply font-bold;
      @apply text-base;
      @apply text-black;
    }

    li {
      @apply mb-4;
    }

    a {
      @apply underline;
    }
  }
}
