table {
  @apply text-gray-750;

  strong {
    @apply font-semibold;
  }

  tr {
    @apply bg-white;
  }

  thead tr th {
    @apply text-left;
    @apply uppercase;
    @apply bg-primary-lighter;
    @apply p-5;
    @apply font-semibold;
    @apply tracking-wider;
    @apply border-0;
    @apply border-b;
    @apply border-primary;
  }

  &.th-plain {
    thead tr {
      background: transparent;
    }

    thead tr th {
      @apply border-0;
      @apply py-2;
      background: transparent;
    }
  }

  &.td-plain {
    tr,
    tr:nth-of-type(even) {
      background: transparent;
    }

    tr td {
      @apply border-b;
      background: transparent;
    }
  }
  &.is-flush-left {
    thead tr th:first-of-type {
      padding-left: 0 !important;
    }
    tr td:first-of-type {
      padding-left: 0 !important;
    }
  }
  &.is-flush-right {
    thead tr th:last-of-type {
      padding-right: 0 !important;
    }
    tr td:last-of-type {
      padding-right: 0 !important;
    }
  }
}

table tr:nth-of-type(even) {
  @apply bg-primary-lighter;
}

td.reserved {
  @apply font-sans;
  @apply font-bold;
  @apply uppercase;
  @apply text-2xs;
  @apply leading-tight;
  @apply py-2;
  @apply text-gray-750;
  @apply bg-accent-warm-lighter;
  @apply tracking-widest;
  @apply pl-2;
  @apply border-l-8;
  @apply border-b;
  @apply border-t;
  @apply border-solid;
  @apply border-accent-warm;

  .reserved-icon {
    @apply text-accent-warm;
    @apply text-sm;
  }
}

tr.group-reserved td:first-of-type {
  @apply border-l-8;
  @apply border-solid;
  @apply border-accent-warm;
}

/* Hat tip to this CSS solution:
https://www.cssscript.com/pure-html5-css3-responsive-table-solution/ */

@media screen and (max-width: 639px) {
  table.responsive-collapse {
    thead {
      @apply hidden;
    }

    tr {
      @apply block;
      @apply mb-6;
    }

    tr:nth-of-type(even) {
      background: inherit;
    }

    td:nth-of-type(even) {
      @apply bg-primary-lighter;
    }

    td {
      @apply block;
      @apply text-right;
    }

    td:before {
      @apply font-bold;
      @apply uppercase;
      @apply float-left;
      content: attr(data-label);
    }

    td:last-child {
      @apply border-b-0;
    }
  }

  tr.group-reserved td {
    @apply border-l-8;
    @apply border-solid;
    @apply border-accent-warm;
  }
}

.table__thumbnail img {
  max-height: 80px;
  max-width: 142px;
  @apply -my-3;
  @apply inline-block;
}

table.td-plain {
  .table__thumbnail img {
    @apply -my-1;
  }
}
