h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}

h1 {
  @apply text-3xl;

  @screen md {
    @apply text-4xl;
  }
}

h2 {
  @apply text-2xl;

  @screen md {
    @apply text-3xl;
  }
}

h3 {
  @apply text-xl;

  @screen md {
    @apply text-2xl;
  }
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

a {
  @apply text-primary;

  &:hover {
    @apply text-primary;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 3px 4px $tailwind-accent-cool;
  }

  &.lined {
    @apply underline;
  }

  &.alert {
    @apply text-alert;
  }

  &.darker {
    @apply text-primary-darker;
  }
}

h1.title {
  @apply text-4xl;
}

.text-serif-lg {
  @apply font-serif;
  @apply text-lg;
  @apply mb-4;
}

.info-group__item {
  @apply border-b;
  @apply border-gray-450;
  @apply mb-4;

  &:last-child {
    @apply border-0;
    @apply mb-0;
  }
}

.edit-link {
  @apply underline;
  @apply font-alt-sans;
  @apply text-tiny;
  @apply uppercase;
  @apply block;
  @apply text-primary;
  @apply font-semibold;
}

.pill {
  @apply inline-block;
  @apply bg-primary-lighter;
  @apply rounded-full;
  @apply px-2;
  @apply py-1;
  @apply text-sm;
  @apply font-semibold;
  @apply text-gray-700;
  @apply mr-2;
}

.icon-item {
  @apply block;
}

.text__large-header {
  font-family: var(--card-header-font-family, var(--bloom-font-alt-sans));
  font-weight: var(--card-header-font-weight, 600);
  color: var(--card-header-color, var(--bloom-color-blue-700));
  font-size: var(--card-header-font-size, var(--bloom-font-size-3xl));
  margin-block: var(--card-header-margin-block, 0 var(--bloom-s3));
  line-height: var(--card-header-line-height, var(--bloom-line-height-tight));
}

.text__medium-header {
  font-family: var(--card-subheader-font-family, var(--bloom-font-alt-sans));
  font-weight: var(--card-subheader-font-weight, normal);
  color: var(--card-subheader-color, var(--bloom-color-black));
  font-size: var(--card-subheader-font-size, var(--bloom-font-size-base));
  margin-block: var(--card-subheader-margin-block, 0 var(--bloom-s3));
}

.text__small-weighted {
  font-family: var(--table-header-font-family, var(--bloom-font-alt-sans));
  font-weight: var(--table-header-font-weight, 600);
  color: var(--table-header-color, var(--bloom-color-gray-800));
  font-size: var(--table-header-font-size, var(--bloom-font-size-sm));
  margin-block: var(--table-header-margin-block, 0 var(--bloom-s1));
}

.text__small-normal {
  font-family: var(--table-subheader-font-family, var(--bloom-font-alt-sans));
  font-weight: var(--table-subheader-font-weight, normal);
  color: var(--table-subheader-color, var(--bloom-color-gray-750));
  font-size: var(--table-subheader-font-size, var(--bloom-font-size-sm));
  margin-block: var(--table-header-margin-block, 0 var(--bloom-s3));
}

.text__light-weighted {
  font-family: var(--category-header-font-family, var(--bloom-font-alt-sans));
  font-weight: var(--category-header-font-weight, 600);
  color: var(--category-header-color, var(--bloom-color-gray-700));
  font-size: var(--category-header-font-size, var(--bloom-font-size-sm));
}

.text__field-label {
  font-family: var(--bloom-font-sans);
  text-transform: uppercase;
  color: var(--bloom-color-gray-750);
  letter-spacing: var(--bloom-letter-spacing-widest);
  font-weight: 600;
  font-size: var(--bloom-font-size-tiny);
  margin-bottom: var(--bloom-s3);
  display: inline-block;
}

.text__underline-header {
  font-family: var(--bloom-font-alt-sans);
  text-transform: uppercase;
  font-size: var(--bloom-font-size-tiny);
  margin-bottom: var(--bloom-s5);
  padding-bottom: var(--bloom-s2);
  border: 0;
  border-bottom: 4px solid var(--bloom-color-primary);
  font-weight: 600;
  color: var(--bloom-color-gray-800);
  letter-spacing: var(--bloom-letter-spacing-widest);
  display: inline-block;
}

.text__caps-weighted {
  margin-bottom: var(--bloom-s3);
  color: var(--bloom-color-gray-750);
  text-transform: uppercase;
  font-family: var(--bloom-font-sans);
  font-weight: 700;
  font-size: var(--bloom-font-size-tiny);
  letter-spacing: var(--bloom-letter-spacing-wide);
}
