h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}

h1 {
  @apply text-3xl;

  @screen md {
    @apply text-4xl;
  }
}

h2 {
  @apply text-2xl;

  @screen md {
    @apply text-3xl;
  }
}

h3 {
  @apply text-xl;

  @screen md {
    @apply text-2xl;
  }
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

a {
  @apply text-primary;

  &:hover {
    @apply text-primary;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 3px 4px $tailwind-accent-cool;
  }

  &.lined {
    @apply underline;
  }

  &.alert {
    @apply text-alert;
  }

  &.darker {
    @apply text-primary-darker;
  }
}

h1.title {
  @apply text-4xl;
}

.text-caps-underline {
  @apply font-alt-sans;
  @apply uppercase;
  @apply text-tiny;
  @apply mb-5;
  @apply pb-2;
  @apply border-0;
  @apply border-b-4;
  @apply border-primary;
  @apply font-semibold;
  @apply text-gray-800;
  @apply tracking-widest;
  @apply inline-block;
}

.text-caps-tiny {
  @apply mb-4;
  @apply text-gray-700;
  @apply uppercase;
  @apply font-sans;
  @apply font-bold;
  @apply text-tiny;
  @apply tracking-wide;
}

.text-serif-lg {
  @apply font-serif;
  @apply text-lg;
  @apply mb-4;
}

.info-group__item {
  @apply border-b;
  @apply border-gray-450;
  @apply mb-4;

  &:last-child {
    @apply border-0;
    @apply mb-0;
  }
}

.edit-link {
  @apply underline;
  @apply font-alt-sans;
  @apply text-tiny;
  @apply uppercase;
  @apply block;
  @apply text-primary;
  @apply font-semibold;
}

.pill {
  @apply inline-block;
  @apply bg-primary-lighter;
  @apply rounded-full;
  @apply px-2;
  @apply py-1;
  @apply text-sm;
  @apply font-semibold;
  @apply text-gray-700;
  @apply mr-2;
}

.icon-item {
  @apply block;
}
