.status-message {
  @apply flex;
  @apply flex-col;
  @apply py-4;
  @apply text-xs;
  @apply text-gray-800;
  @apply border-b;

  &:last-of-type {
    @apply border-b-0;
  }
}

.status-message__status {
  @apply flex;
  @apply justify-between;
}

.status-message__status + .status-message__note {
  @apply mt-3;
}

.status-message__note {
  @apply text-xs;
}
