.application-form-header {
  margin-block: var(--seeds-s6);
  color: var(--seeds-color-gray-700);

  @media (max-width: theme("screens.md")) {
    margin-block-end: 0;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  @media (max-width: theme("screens.sm")) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
  }

  .application-form-header-title {
    background-color: var(--seeds-color-primary);
    padding-block: var(--seeds-s4);
    color: var(--seeds-color-white);
    --card-content-padding-inline: var(--seeds-s8);
    @media (max-width: theme("screens.sm")) {
      --card-content-padding-inline: var(--seeds-s4);
    }
  }

  .application-form-header-heading {
    font-size: var(--seeds-type-heading-size-xl);
    color: var(--seeds-color-white);
    font-weight: var(--seeds-font-weight-bold);
    font-family: var(--seeds-font-alt-sans);
  }

  .application-form-header-progress {
    padding-block: var(--seeds-s4);
    --card-content-padding-block: var(--seeds-s4);
    --card-content-padding-inline: var(--seeds-s8);
    @media (max-width: theme("screens.sm")) {
      --card-content-padding-inline: var(--seeds-s4);
    }

    .desktop-nav {
      display: block;
      @media (max-width: theme("screens.sm")) {
        display: none;
      }
    }

    .mobile-nav {
      display: none;
      @media (max-width: theme("screens.sm")) {
        display: block;
      }
    }
  }
}

.application-form-body {
  @media (max-width: theme("screens.md")) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  @media (max-width: theme("screens.sm")) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
  }
}

.application-form-header-no-border {
  header {
    --card-divider-width: 0;
  }
}

.application-form-action-footer {
  background-color: var(--seeds-color-primary-lighter);
}

.application-form-save-and-return {
  margin-top: var(--seeds-s4);
}

.application-form-back-link {
  margin-bottom: var(--seeds-s6);
}

/* step-specific styles */
.application-form-household-member {
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.application-form-household-field-value {
  --field-value-content-spacer: var(--seeds-s3);
}

/* overrides for Seeds Message & Alert */
.message-inside-card {
  --common-message-max-width: auto;
  --common-message-padding: var(--seeds-s4) var(--card-content-padding-inline);
}
