.site-banner-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-banner-alert-bg {
  background-color: var(--seeds-color-alert-light);
}

.site-banner-primary-bg {
  background-color: var(--seeds-color-primary-light);
}

.site-alert-banner-content {
  --common-message-max-width: var(--seeds-width-5xl);
  --common-message-font-size: var(--seeds-font-size-base);
  width: 100%;
}

.jurisdiction-icon {
  height: auto;
}
