.site-alert-banner-container {
  background-color: var(--seeds-color-primary-light);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-alert-banner-content {
  --common-message-max-width: var(--seeds-width-5xl);
  --common-message-font-size: var(--seeds-font-size-base);
  width: 100%;
}
