.account-card {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  --card-border-width: 0rem;
  --card-divider-width: var(--seeds-border-1);
  @media (max-width: theme("screens.sm")) {
    --card-spacing-lg: var(--seeds-s6);
  }
}

.account-card-inline-desktop {
  --card-header-padding-inline-desktop: var(--seeds-s12);
}

.account-card-inline-mobile {
  @media (max-width: theme("screens.sm")) {
    --card-header-padding-inline-mobile: var(--seeds-s4);
  }
}

.acccount-card-icon {
  margin-bottom: var(--seeds-s3);
}

.account-card-heading-group {
  --heading-margin: var(--seeds-s3);
  --subheading-color: var(--seeds-text-color-light);
  @media (max-width: theme("screens.sm")) {
    --subheading-margin: var(--seeds-s3);
  }
}

.account-card-heading {
  font-weight: var(--seeds-font-weight-semibold);
  margin-top: var(--seeds-s3);
}
