<h1>{{t "register.welcome"}} {{user.firstName}} {{#if (user.middleName)}}{{user.middleName}} {{/if}}{{user.lastName}}</h1>
<p>
  Thank you for setting up your account on the Bloom Housing Portal. It will now be easier for you to start, save, and submit online applications for listings that appear on the site.
</p>
<p>Best,</p>
<p>Bloom Housing Team</p>
