.footer-sock {
  @apply bg-gray-950;
  @apply py-8;
  @apply px-2;

  p {
    margin-bottom: 0 !important;
  }

  a {
    @apply text-white;
    @apply block;
    @apply mt-2;
    
    @screen lg {
      @apply inline;
      @apply mt-0;
      @apply ml-5;
    }
  }

  .footer-sock__inner {
    @apply max-w-5xl;
    @apply m-auto;

    @screen lg {
      @apply flex;
    }
  }

  .footer-copyright {
    @screen lg {
      @apply w-6/12;
      @apply text-left;
    }
  }

  .footer-nav {
    @apply mt-5;

    @screen lg {
      @apply mt-0;
      @apply w-6/12;
      @apply text-right;
    }
  }
}