@import "../global/mixins.scss";

.description__container {
  @apply w-full;
  @apply flex;
  @apply flex-col;
  @apply mb-3;
  @screen md {
    @apply flex-row;
  }
}

// Description
.description__title {
  @apply font-serif;
  @apply text-xl;
}

.description__body {
  @apply mb-4;
  @apply flex;
  @apply items-center;

  @screen md {
    padding-top: 0.4em;
  }
}

// Data lists
.column-definition-list {
  @include clearfix;

  .description__title {
    @apply text-lg;
    @apply text-gray-800;
    clear: left;
    width: 170px;
    min-width: 170px;

    @screen md {
      @apply pl-4;
      @apply border-l-2;
      @apply border-gray-450;
      @apply float-left;
      @apply pr-3;
      margin-top: 0.15rem;
    }
  }

  .description__body {
    @apply text-tiny;
    @apply mb-5;
    @apply ml-2;

    @screen md {
      @apply mb-0;
      @apply float-left;
      @apply w-full;
    }

    &:last-of-type {
      @apply w-full;
    }
  }
}
