.tag {
  /* Component Variables */
  --normal-padding: var(--bloom-s3) var(--bloom-s5);
  --normal-rounded: var(--bloom-rounded-md);
  --normal-font-size: var(--bloom-font-size-sm);
  --normal-font-weight: normal;

  --pill-padding: var(--bloom-s2) var(--bloom-s4);
  --pill-rounded: var(--bloom-rounded-full);
  --pill-font-size: var(--bloom-font-size-sm);
  --pill-font-weight: 600;
  --pill-text-transform: uppercase;
  --pill-letter-spacing: var(--bloom-letter-spacing-ultrawide);
  --pill-capitalized-text-transform: capitalized;
  --pill-capitalized-letter-spacing: var(--bloom-letter-spacing-wide);

  --small-pill-padding: var(--bloom-s1) var(--bloom-s3);
  --small-pill-font-size: var(--bloom-font-size-3xs);

  /* Default Styles */
  padding: var(--normal-padding);
  border-radius: var(--normal-rounded);
  font-size: var(--normal-font-size);
  font-weight: var(--normal-font-weight);
  color: var(--primary-appearance-label-color, var(--bloom-color-white));
  font-family: var(--bloom-font-sans);
  background-color: var(--primary-appearance-border-color, var(--bloom-color-primary));
  text-align: center;

  &.is-pill {
    padding: var(--pill-padding);
    background-color: var(--bloom-color-primary-light);
    color: var(--bloom-color-primary-dark);
    border-radius: var(--pill-rounded);
    font-weight: var(--pill-font-weight);
    font-family: var(--bloom-font-alt-sans);
    text-transform: var(--pill-text-transform);
    letter-spacing: var(--pill-letter-spacing);
    display: inline;
    font-size: var(--pill-font-size);
    line-height: var(--bloom-line-height-4);

    &.is-small {
      font-size: var(--small-pill-font-size);
      padding: var(--small-pill-padding);
      line-height: var(--bloom-line-height-3);
    }
  }

  &.fill-container {
    width: 100%;
    display: inline-block;
  }

  &.is-warning {
    color: var(--warning-appearance-label-color, var(--bloom-color-white));
    background-color: var(
      --warning-appearance-background-color,
      var(--bloom-color-accent-warm-dark)
    );
  }

  &.is-secondary {
    color: var(--secondary-appearance-label-color, var(--bloom-color-white));
    background-color: var(--secondary-appearance-background-color, var(--bloom-color-secondary));
  }

  &.is-success {
    &:not(.is-light-mode) {
      color: var(--success-appearance-label-color, var(--bloom-color-white));
      background-color: var(--success-appearance-background-color, var(--bloom-color-success));
    }

    &.is-light-mode {
      color: var(--success-light-appearance-label-color, var(--bloom-color-gray-900));
      background-color: var(
        --success-light-appearance-background-color,
        var(--bloom-color-success-light)
      );
    }
  }

  &.is-accent-cool {
    &:not(.is-light-mode) {
      color: var(--accent-cool-appearance-label-color, var(--bloom-color-white));
      background-color: var(
        --accent-cool-appearance-background-color,
        var(--bloom-color-accent-cool-dark)
      );
    }

    &.is-light-mode {
      color: var(--accent-cool-light-appearance-label-color, var(--bloom-color-gray-900));
      background-color: var(
        --accent-cool-light-appearance-background-color,
        var(--bloom-color-accent-cool)
      );
    }
  }

  &.is-accent-warm {
    &:not(.is-light-mode) {
      color: var(--accent-warm-appearance-label-color, var(--bloom-color-white));
      background-color: var(
        --accent-warm-appearance-background-color,
        var(--bloom-color-accent-warm-dark)
      );
    }

    &.is-light-mode {
      color: var(--accent-warm-light-appearance-label-color, var(--bloom-color-gray-900));
      background-color: var(
        --accent-warm-light-appearance-background-color,
        var(--bloom-color-accent-warm)
      );
    }
  }

  &.is-closed {
    color: var(--closed-appearance-label-color, var(--bloom-color-white));
    background-color: var(--closed-appearance-background-color, var(--bloom-color-gray-750));
  }

  &.is-info {
    color: var(--info-appearance-label-color, var(--bloom-text-color-dark));
    background-color: var(--info-appearance-background-color, var(--bloom-color-warn-light));
  }

  &.is-small {
    font-size: var(--bloom-font-size-xs);
    padding-block: var(--bloom-s2);
    padding-inline: var(--bloom-s4);
  }

  &.is-capitalized {
    text-transform: var(--pill-capitalized-text-transform);
    letter-spacing: var(--pill-capitalized-letter-spacing);
  }
}
