.tag {
  padding: var(--normal-padding, var(--bloom-s3) var(--bloom-s5));
  color: var(--primary-appearance-label-color, var(--bloom-color-white));
  font-family: var(--bloom-font-sans);
  font-size: var(--normal-font-size, var(--bloom-font-size-tiny));
  font-weight: var(--label-weight, normal);
  background-color: var(--primary-appearance-border-color, var(--bloom-color-primary));
  border-radius: var(--normal-rounded, var(--bloom-rounded-md));
  text-align: center;

  &.is-pill {
    padding-block: var(--bloom-s2);
    padding-inline: var(--bloom-s4);
    background-color: var(--bloom-color-primary-light);
    color: var(--bloom-color-primary-dark);
    border-radius: var(--bloom-rounded-full);
    font-weight: 600;
    font-family: var(--bloom-font-alt-sans);
    text-transform: uppercase;
    letter-spacing: var(--bloom-letter-spacing-ultrawide);
    display: inline;
    font-size: var(--bloom-font-size-tiny);
    line-height: var(--bloom-line-height-4);

    &.is-small {
      font-size: var(--bloom-font-size-2xs);
      padding-block: var(--bloom-s1);
      padding-inline: var(--bloom-s3);
      line-height: var(--bloom-line-height-3);
    }
  }

  &.fill-container {
    width: 100%;
    display: inline-block;
  }

  &.is-warning {
    color: var(--warning-appearance-label-color, var(--bloom-color-white));
    background-color: var(
      --warning-appearance-background-color,
      var(--bloom-color-accent-warm-dark)
    );
  }

  &.is-secondary {
    color: var(--secondary-appearance-label-color, var(--bloom-color-white));
    background-color: var(--secondary-appearance-background-color, var(--bloom-color-secondary));
  }

  &.is-success {
    &:not(.is-light-mode) {
      color: var(--success-appearance-label-color, var(--bloom-color-white));
      background-color: var(--success-appearance-background-color, var(--bloom-color-success));
    }

    &.is-light-mode {
      color: var(--success-light-appearance-label-color, var(--bloom-color-gray-900));
      background-color: var(
        --success-light-appearance-background-color,
        var(--bloom-color-success-light)
      );
    }
  }

  &.is-accent-cool {
    &:not(.is-light-mode) {
      color: var(--accent-cool-appearance-label-color, var(--bloom-color-white));
      background-color: var(
        --accent-cool-appearance-background-color,
        var(--bloom-color-accent-cool-dark)
      );
    }

    &.is-light-mode {
      color: var(--accent-cool-light-appearance-label-color, var(--bloom-color-gray-900));
      background-color: var(
        --accent-cool-light-appearance-background-color,
        var(--bloom-color-accent-cool)
      );
    }
  }

  &.is-accent-warm {
    &:not(.is-light-mode) {
      color: var(--accent-warm-appearance-label-color, var(--bloom-color-white));
      background-color: var(
        --accent-warm-appearance-background-color,
        var(--bloom-color-accent-warm-dark)
      );
    }

    &.is-light-mode {
      color: var(--accent-warm-light-appearance-label-color, var(--bloom-color-gray-900));
      background-color: var(
        --accent-warm-light-appearance-background-color,
        var(--bloom-color-accent-warm)
      );
    }
  }

  &.is-closed {
    color: var(--closed-appearance-label-color, var(--bloom-color-white));
    background-color: var(--closed-appearance-background-color, var(--bloom-color-gray-750));
  }

  &.is-info {
    color: var(--info-appearance-label-color, var(--bloom-color-gray-800));
    background-color: var(--info-appearance-background-color, var(--bloom-color-warn-light));
  }

  &.is-small {
    font-size: var(--bloom-font-size-sm);
    padding-block: var(--bloom-s2);
    padding-inline: var(--bloom-s4);
  }
}
