{{#> layout_default }}
    <h1>
        <span style="font-family: Arial, Helvetica, sans-serif; font-size: 24px">
            {{t "invite.hello"}}
        </span>
        <br />

        {{> user-name }}
    </h1>

    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td align="left">
            <p>
                {{t "invite.inviteMessage" appOptions}}

                {{!-- <br /><br />
                You will now be able to manage listings and applications that you
                are a part of from one centralized location.
                <br /><br />
                <strong
                >To complete your account creation, please click the link
                below:</strong
                > --}}
            </p>
            </td>
        </tr>
        </tbody>
    </table>

    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td align="center">
            <a
                class="btn btn-primary"
                href="{{confirmationUrl}}"
                target="_blank"
                style="color:white"
                >
                  {{t "invite.confirmMyAccount"}}
                </a
            >
            </td>
        </tr>
        </tbody>
    </table>
{{/layout_default }}
