{{#> layout_default }}

  <h1><span class="intro">Rental opportunity at</span> <br />Listing name</h1>
  <table class="inset fit-content" role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td>
          <div>
              <table role="presentation" border="1px" cellpadding="12px" cellspacing="0" class="bordered fit-content">
                  {{#each tableRows}}
                    <tr>
                        <td class="bold">
                            {{label}}
                        </td>
                        <td>
                            {{value}}
                        </td>
                    </tr>
                  {{/each}}
              </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td align="center">
          <a
            class="btn btn-primary"
            href="{{listingUrl}}"
            target="_blank"
            style="color:white"
            >View Listing & Apply
          </a>
        </td>
      </tr>
    </tbody>
  </table>
{{/layout_default }}
