.mdx-table {
  width: 100%;
  table-layout: auto;
  white-space: nowrap;
  margin-top: var(--bloom-s8);
  font-size: var(--bloom-font-size-tiny);

  tr {
    padding: var(--bloom-s4);
    background-color: var(--bloom-color-white) !important;
  }

  th {
    background-color: var(--bloom-color-primary-lighter);
    text-transform: uppercase;
    font-weight: 700;
    color: var(--bloom-color-gray-850);
    letter-spacing: var(--bloom-letter-spacing-wide);
  }

  td:not(:first-child) {
    width: 100%;
  }

  td,
  th {
    padding: var(--bloom-s2) var(--bloom-s4) var(--bloom-s2) var(--bloom-s4);
    border: 1px solid var(--bloom-color-gray-450);
  }
}
