.latest-listings {
  padding: 24px 0 0 0;
}

.regions {
  padding: 24px 0;
}

.region {
  @apply bg-primary;
  background-size: cover;
  border-radius: 20px;
  height: 146px;
  margin: 0 33px 8px 0;
  position: relative;
  width: 209px;

  @screen sm {
    height: 194px;
    width: 278px;
  }
}
.region:hover {
  opacity: 0.9;
}

.region__text {
  @apply text-primary-dark;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 48px 0 16px 48px; //TODO(#674): Double check border-radius
  bottom: 21px;
  font-size: 0.875rem;
  font-weight: 700;
  left: 21px;
  line-height: 1rem;
  max-width: 236px;
  overflow: hidden;
  padding: 10px 17px;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
}
