.latest-listings {
  padding: 24px 0 0 0;
}

.regions {
  padding: 24px 0;
}

.region {
  @apply bg-primary;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 14px 14px 2px 2px;
  height: 130px;
  margin: 0 33px 2.2rem 0;
  position: relative;
  width: 209px;

  @screen sm {
    height: 170px;
    width: 278px;
  }
}
.region:hover {
  opacity: 0.9;
}

.region__text {
  bottom: -2rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1rem;
  max-width: 236px;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  @apply text-primary-dark;
}
