footer.site-footer {
  @apply text-gray-500;
  @apply w-full;
  @apply bg-gray-800;
  @apply text-left;

  display: flex;
  flex-direction: column;
  img {
    @apply inline;
    opacity: 1;
  }

  a {
    @apply text-white;
  }

  p {
    @apply mb-5;
  }

  .footer-row {
    @apply py-8;

    @media (max-width: $screen-lg) {
      @apply px-4;
    }
  }
}
