footer.doorway-site-footer {
  @apply text-gray-500;
  @apply w-full;
  @apply bg-gray-800;
  @apply text-left;

  display: flex;
  flex-direction: column;
  img {
    @apply inline;
    opacity: 1;
  }

  a {
    @apply text-white;
  }

  p {
    @apply mb-5;
  }

  & > .doorway-footer-row:first-of-type {
    @apply pt-12;
  }

  & > .doorway-footer-row:last-of-type {
    @apply pt-0;
  }

  .doorway-footer-row {
    @apply py-8;

    @media (max-width: $screen-lg) {
      padding: var(--bloom-s8) var(--doorway-standard-spacing);
    }
  }
}
