.app-card {
  @apply p-0;
  @apply mb-0;
  @apply rounded-lg;
  @apply border-solid;
  @apply border;
  @apply border-gray-450;
}

.app-card__header,
.app-card__section {
  @apply py-8;
  @apply mx-8;
}

.app-card__header {
  @screen md {
    @apply pb-4;
  }

  &.border-bottom {
    @apply border-solid;
    @apply border-b;
    @apply border-gray-450;
  }
}

.app-card__section {

}

.app-card__back {
  @apply font-semibold;
  @apply text-tiny;
  @apply mb-4;
}

.app-card__question {
  @apply text-2xl;
  @apply mb-2;
  @apply text-center;
}

.app-card__note {
  @apply font-semibold;
  @apply text-tiny;
  @apply text-gray-700;
  @apply pb-4;
}

.app-card__sub-header {
  @apply py-4;
  @apply px-8;
  @apply bg-gray-300;
  @apply flex;
  @apply justify-between;

  .edit-link {
    @apply self-center;
  }
}

.app-card__sub-title {
  @apply mb-0;
}