.button-pager {
  @apply text-center;

  button,
  .button {
    @apply mb-0;
  }  
}

.button-pager__row {
  @apply py-2;
  @apply px-8;
  
  @screen md {
    @apply py-4;
  }

  &.primary {
    @apply bg-primary-lighter;
    @apply pb-8;
  }
}