.drawer {
  @apply flex;
  @apply flex-col;
  @apply bg-gray-200;
  @apply max-w-5xl;


  &.is-left {
    @apply border-l;
    @apply w-full;
    @apply fixed;
    @apply top-0;
    @apply right-0;
    @apply bottom-0;
    @apply left-auto;
    @apply overflow-y-auto;
  }
}

.drawer__header {
  @apply flex;
  @apply relative;
  @apply bg-white;
  @apply p-5;
  @apply border-b;
  flex: 0 0 4.625rem;
}

.drawer__close {
  @apply absolute;
  top: 1.625rem;
  left: 1.5rem;
}

.drawer__title {
  @apply font-alt-sans;
  @apply text-xl;
  @apply ml-10;
}

.drawer__body {
  @apply overflow-y-auto;
  @apply relative;
  flex: 1 1 auto;
}

.drawer__content {
  @apply m-auto;
  @apply px-4;
  @apply py-8;
  @apply overflow-y-visible;
}

.drawer__wrapper {
  @apply top-0;
  @apply left-0;
  @apply fixed;
  @apply w-screen;
  @apply h-screen;
  @apply z-50;
  @apply flex;

  &.drawer__wrappe--backdrop:before {
    content: "";
    @apply absolute;
    @apply w-full;
    @apply h-full;
    @apply bg-gray-900;
    @apply bg-opacity-50;
  }
}