.field-section {
  @apply border-b;
  @apply mb-8;
  @apply pb-8;
}

.field-section__header {
  @apply mb-6;
  @apply flex;
  @apply items-center;
}

.field-section__title {
  @apply font-alt-sans;
  @apply text-xl;
  @apply inline-block;
}

.field-group__title {
  @apply font-alt-sans;
  @apply text-lg;
  @apply mb-6;
}

.field-grid {
  .field {
    @apply mb-0;
  }

  &.demo {
    .field {
      @apply bg-gray-200;
    }
  }
}