.flag {
  @apply py-3;
  @apply px-5;
  @apply text-white;
  @apply text-tiny;
  @apply bg-primary;
  @apply rounded-md;
  @apply inline;

  &.is-warning {
    @apply bg-splash-dark;
  }

  &.is-small {
    @apply text-sm;
    @apply py-2;
    @apply px-4;
  }
}
