.header-badge {
  @apply inline-block;
  @apply p-4;
  @apply pt-0;
  @pply mb-4;
  @apply border-solid;
  @apply border-b-4;
  @apply border-primary;

  @screen md {
    @apply px-8;
    @apply pb-4;
    @apply mb-6;
  }

  .ui-icon {
    @apply inline-block;
  }

  svg {
    @apply h-10;
    @apply w-10;

    @screen md {
      @apply h-12;
      @apply w-12;
    }
  }
}