.tab-nav {
  ul {
    @apply flex;
    @apply items-center;
    @apply font-alt-sans;
    @apply uppercase;
    @apply text-sm;
    @apply font-semibold;
    @apply tracking-wider;
  }

  li {
    @apply flex;
  }

  a {
    @apply flex;
    @apply block;
    @apply px-6;
    @apply py-3;
    @apply border-b-2;
    @apply text-gray-700;
    @apply items-center;
    border-color: transparent;
    line-height: 1.5rem;

    &:hover {
      @apply border-b-2;
      @apply text-gray-900;
      @apply border-gray-450;
    }

    &.is-current {
      @apply border-b-2;
      @apply border-primary;
      @apply text-gray-900;
    }

    .pill {
      @apply ml-2;
      @apply mr-0;
      @apply text-xs;
      line-height: 1rem;
    }
  }
}
