.tag {
  @apply py-3;
  @apply px-5;
  @apply text-white;
  @apply text-tiny;
  @apply bg-primary;
  @apply rounded-md;
  @apply inline;
  @apply text-center;

  &.is-pill {
    @apply px-4;
    @apply py-2;
    @apply bg-primary-light;
    @apply text-primary-dark;
    @apply rounded-full;
    @apply font-semibold;
    @apply font-alt-sans;
    @apply uppercase;
    @apply tracking-widest;
    @apply inline;
    @apply text-sm;
    @apply leading-4;

    &.is-small {
      @apply text-2xs;
      @apply py-1;
      @apply px-3;
      @apply leading-3;
    }
  }

  &.is-warning {
    @apply bg-accent-warm-dark;
  }

  &.is-success {
    @apply text-white;
    @apply bg-success;
  }

  &.is-small {
    @apply text-sm;
    @apply py-2;
    @apply px-4;
  }
}
