.accordion-blue-theme__bar {
  @apply bg-primary-light;
  @apply p-4;
  @apply border-b;
  @apply border-primary;
  @apply flex;
  @apply justify-between;
  @apply font-sans;
  @apply text-sm;
  @apply text-gray-800;
}

.accordion-gray-theme__bar {
  @apply bg-gray-400;
  @apply px-4;
  @apply py-4;
  @apply border-0;
  @apply rounded-md;
  border-radius: 8px;

  @apply flex;
  @apply justify-between;
  @apply font-sans;
  @apply text-base;
  @apply text-gray-900;

  svg {
    fill: #1f2937; // gray-800
  }
}

.accordion-gray-theme__bar.accordion-open {
  border-radius: 8px 8px 0px 0px;
}
