.listings-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: var(--bloom-width-3xl);
  margin: auto;
  margin-block-end: var(--bloom-s12);
  position: relative;

  &:first-of-type {
    margin-block-start: var(--bloom-s12);
    color: var(--bloom-color-accent-cool-light);
  }

  @media (min-width: $screen-lg) {
    max-width: var(--bloom-width-5xl);
  }
}

.listings-row_figure, .listings-row_content {
  width: 100%;
  padding: var(--bloom-s3);
  padding-bottom: 0px;

  @media (min-width: $screen-lg) {
    width: 50%;
  }
}

.listings-row_content {
  .listings-row_headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media (min-width: $screen-md) {
      align-items: flex-start;
      text-align: left;
    }
  }

  .is-card-link::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.listings-row_table {
  margin-block-end: var(--bloom-s12);
}

.listings-row_footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  a:not(:first-child) {
    margin-inline-start: var(--bloom-s1);
  }
}
