.listings-row {
  @apply flex;
  @apply flex-row;
  @apply flex-wrap;
  @apply max-w-5xl;
  @apply m-auto;
  @apply mb-12;
  max-width: 48rem;

  &:first-of-type {
    @apply mt-12;
  }

  @screen lg {
    @apply max-w-5xl;
  }
}

.listings-row_figure {
  @apply w-full;
  @apply p-3;

  @screen lg {
    @apply w-6/12;
  }
}

.listings-row_content {
  @apply w-full;
  @apply p-3;

  @screen lg {
    @apply w-6/12;
  }
}

.listings-row_table {
  @apply mb-4;
}

.listings-row_footer {
  @apply flex;
  @apply justify-end;
  @apply w-full;
  a:not(:first-child) {
    @apply ml-1;
  }
}

.listings-row_footer_container {
  @apply flex;
  @apply flex-col;
}

.listings-row_table {
  @apply mb-4;
}
