.pin {
  @apply absolute;
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #89849b;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
  
  &:after {
    @apply absolute;
    @apply rounded-full;
    content: "";
    width: 14px;
    height: 14px;
    margin: 8px 0 0 8px;
    background: #2f2f2f;
  }
}

.addressPopup {
  @apply bg-white;
  @apply p-4;
  @apply shadow-md;
  @apply inline-block;
  @apply float-left;
  @apply relative;
  left: 15px;
  top: 15px;
  z-index: 1;
}