.listings-group {
  @apply border-t;
  @apply border-gray-450;
  @apply mb-5;
}

.listings-group__header {
  @apply flex;
  @apply flex-col;
  @apply max-w-5xl;
  @apply m-auto;
  @apply mt-6;
  @apply mb-8;
  @apply p-3;
  @apply justify-between;

  @screen md {
    @apply flex-row;
  }
}

.listings-group__icon {
  @apply hidden;
  @apply pr-5;
  @apply me-5;
  @apply border-r-4;
  @apply border-gray-700;
  @apply items-center;
  @apply hidden;
  @screen md {
    @apply flex;
  }
}

.listings-group__content {
  @apply flex;
  @apply flex-row;
  flex-grow: 2;
  margin-right: 15px;

  @apply max-w-full;
  @screen md {
    max-width: 70%;
  }
}

.listings-group__header-group {
  max-width: inherit;
  @apply flex;
  @apply flex-col;
  @apply items-start;
  @apply justify-center;
  @apply h-full;
}

.listings-group__info {
  @apply text-gray-750;
  @apply pt-1;
  @apply pt-2;
  @screen md {
    @apply pt-0;
  }
}

.listings-group__button {
  @apply flex;
  @apply items-center;
  flex-shrink: 0;
  @apply ml-0;
  @apply pt-5;
  @screen md {
    @apply ml-6;
    @apply pt-0;
  }
}

.listings-group__title {
  @apply uppercase;
  @apply font-alt-sans;
  @apply font-black;
  @apply tracking-widest;
  @apply border-b-4;
  @apply border-gray-700;
  @apply pb-1;

  @screen md {
    @apply pb-0;
    @apply border-0;
  }
}
