// These classes are meant to replace Doorway usage of the "bg-[color-name]" tailwind class.
// For some (likely complicated due to Node packaging) reasons Tailwind extensions come from
// the original UIC package and so updates to Doorway UIC don't do anything.

.doorway-bg-primary {
  background-color: var(--doorway-color-primary-background);
}

.doorway-bg-primary-light {
  background-color: var(--doorway-color-secondary-background);
}

.doorway-bg-primary-lighter {
  background-color: var(--bloom-color-white);
}
