.grid-section {
  .grid-item {
    @apply mb-4;
    overflow-wrap: break-word; // temp fix

    @screen md {
      @apply mb-0;
    }
  }

  &.has-separator {
    @apply border-t;
    @apply border-gray-450;
    @apply pt-8;
    @apply mt-8;
  }
}

.grid-section:not(.has-separator) + .grid-section {
  @apply mt-6;
}

.grid-section__header {
  @apply mb-4;
  @apply flex;
  @apply flex-wrap;
  @apply flex-col;
}

.grid-section__title {
  @apply font-alt-sans;
  @apply text-xl;
  @apply inline-block;
  @apply w-4/5;
  @screen sm {
    @apply w-auto;
  }
}

.grid-section__subtitle {
  @apply mb-4;
  @apply text-gray-750;
  @apply uppercase;
  @apply font-alt-sans;
  @apply font-bold;
  @apply text-xs;
  @apply tracking-widest;
  @apply w-full;
  @apply mt-4;
}

.grid-section__description {
  @apply font-sans;
  @apply text-base;
  @apply text-gray-750;
  @apply block;
  @apply mb-4;
}

.grid-section__inner {
  &.is-tinted {
    @apply bg-primary-lighter;
  }

  &.is-inset {
    @apply p-8;
  }

  &.is-reversed {
    direction: rtl;
  }
}
