.info-cards__header {
  @apply mb-3;

  @screen md {
    margin-right: 1rem;
  }
}

.info-cards__title {
  @apply font-alt-sans;
  @apply uppercase;
  @apply text-tiny;
  @apply mb-5;
  @apply pb-2;
  @apply border-0;
  @apply border-b-4;
  @apply border-primary;
  @apply font-semibold;
  @apply text-gray-800;
  @apply tracking-widest;
  @apply inline-block;
}

.info-cards__subtitle {
  @apply font-serif;
  @apply mb-5;
}

.info-cards__grid {
  @screen md {
    @apply flex;
    @apply flex-wrap;
    column-gap: 1rem;
  }

  .info-card {
    & > :not(.info-card__title) {
      @apply text-tiny;
    }

    @screen md {
      width: calc(50% - 0.5rem);
    }
  }
}
