[build]

command = "yarn run build"
ignore = "/bin/false"


[build.environment]

NODE_VERSION = "22.21.1"
YARN_VERSION = "1.22.22"
NEXT_TELEMETRY_DISABLED = "1"
NODE_OPTIONS = "--max_old_space_size=4096"

# reminder: URLs and fragments should *not* have a trailing /
LISTINGS_QUERY = "/listings"
