[build]

command = "yarn run build"

# From https://docs.netlify.com/build/configure-builds/ignore-builds/:
#
# > An exit code of 1 indicates the contents have changed and the build process continues as
# > usual. An exit code of 0 indicates that there are no changes and the build should stop.
#
# Ignore builds for pull requsets with only infra changes.
ignore = "if [[ $PULL_REQUEST == 'false' ]]; then exit 1; else git diff --quiet $CACHED_COMMIT_REF $COMMIT_REF -- ':(exclude)infra/'; fi"


[build.environment]

NODE_VERSION = "22.21.1"
YARN_VERSION = "1.22.22"
NEXT_TELEMETRY_DISABLED = "1"
NODE_OPTIONS = "--max_old_space_size=4096"

# reminder: URLs and fragments should *not* have a trailing /
LISTINGS_QUERY = "/listings"
