
// secondary alert messaging
.alert-notice {
  @apply text-sm;
  @apply py-4;
  @apply px-8;
  @apply bg-gray-200;
  @apply border-2;
  @apply border-solid;
  @apply border-primary;

  &.alert {
    @apply border-alert-light;

    &.invert {
      @apply border-alert;
    }
  }

  &.primary {
    @apply border-primary-light;

    &.invert {
      @apply border-primary;
    }
  }

  &.success {
    @apply border-success-light;

    &.invert {
      @apply border-success;
    }
  }

  p {
    @apply text-sm
  }
}

.alert-notice__title {
  @apply text-sm;
  @apply mb-3;
  @apply font-semibold;

  &.alert {
    @apply text-alert;
  }
  &.primary {
    @apply text-primary;
  }
  &.success {
    @apply text-success;
  }
}

.alert-notice__body {
  @apply text-sm;
}
