.list-item {
  &:not(:last-child) {
    margin-block-end: var(--seeds-spacer-content);
  }
  .listing-card-container {
    position: relative;

    @media (--sm-only) {
      --card-spacing: var(--card-spacing-sm);
    }

    &:hover {
      box-shadow: 0px 0px 3px 3px var(--seeds-border-color);
    }

    .listing-card {
      display: flex;
      flex-direction: row;
      color: var(--seeds-text-color);
      font-family: var(--seeds-font-alt-sans);
      @media (--md-down) {
        flex-direction: column;
      }
      width: 100%;

      .image {
        width: calc(100% / 7 * 3);
        @media (--md-down) {
          width: 100%;
        }
      }
      .image-background {
        @media (--md-down) {
          min-height: var(--seeds-s96);
        }
        @media (--sm-only) {
          min-height: var(--seeds-s56);
        }
        height: 100%;
        background-size: cover;
        background-position: center;
      }
      .details {
        order: 1;
        width: calc(100% / 7 * 4);
        padding-inline-start: var(--seeds-spacer-content);
        @media (--md-down) {
          width: 100%;
          padding-inline: 0;
          padding-block-start: var(--seeds-spacer-text);
        }
        .name {
          font-size: var(--seeds-type-heading-size-3xl);
          color: var(--seeds-color-primary);
          font-weight: var(--seeds-font-weight-semibold);
          margin-block-end: var(--seeds-s1);
          @media (--md-down) {
            font-size: var(--seeds-type-heading-size-2xl);
          }
        }
        .address {
          color: var(--seeds-text-color-dark);
        }
        .tags {
          margin-block-start: var(--seeds-s3);
          margin-block-end: calc(-1 * var(--seeds-s1));
          .tag {
            margin-block-end: var(--seeds-s1);
            &:not(:last-child) {
              margin-inline-end: var(--seeds-s2);
            }
          }
        }
        .unit-table {
          margin-block-start: var(--seeds-spacer-content);
        }
        .due-date {
          --message-border: var(--seeds-border-2) solid var(--seeds-color-primary-light);
          --message-max-width: 100%;
          --message-border-radius: var(--seeds-rounded);
          --common-message-link-gap: 0;
          margin-block-start: var(--seeds-s3);
          background-color: var(--seeds-bg-color-surface-primary);
          .primary-color-icon {
            color: var(--seeds-color-primary-dark);
          }
          .due-date-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          }
        }
      }
      .action-button {
        text-decoration: none;
        width: fit-content;
        height: fit-content;
        position: relative;
        &:not(:last-child) {
          margin-inline-end: var(--seeds-s3);
          margin-block-end: var(--seeds-s3);
        }

        @media (--lg-and-up) {
          &:not(:last-child) {
            margin-block-end: 0;
          }
          min-width: fit-content;
        }
      }

      .action-show-lg {
        display: none;
        @media (--lg-and-up) {
          display: flex;
          min-width: fit-content;
        }
      }

      .action-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-block-start: var(--seeds-s3);
        position: relative;
      }
    }

    .main-link::before {
      content: "";
      position: absolute;
      display: block;
      // z-index: 100;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }

  // Temporary until we have Seeds tables
  [class*="stacked-table"] {
    text-transform: none;
    --bloom-font-size-base: var(--seeds-type-label-size);
    tr {
      background-color: var(--seeds-bg-color-canvas);
    }
    th {
      background-color: white;
      padding-block: var(--seeds-s1);
      padding-inline: var(--seeds-s2);
      letter-spacing: normal;
    }
    td {
      padding: var(--seeds-s2);
    }
    td,
    th {
      font-size: var(--seeds-type-caption-size);
    }
  }
}
