.listing-directory {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: var(--seeds-font-alt-sans);
}

.content-wrapper {
  width: 100%;
  max-width: var(--seeds-screen-lg);
  display: flex;
  flex-direction: column;
  @media (--sm-and-up) {
    margin-inline: var(--seeds-s2);
  }
  @media (--sm-and-up) {
    padding-block: var(--seeds-spacer-container);
  }
}
