.custom-counter__item {
  @screen md {
    @apply mb-12;
    @apply ml-8;
    @apply pl-12;
    @apply relative;
    counter-increment: step-counter;
  }
}

.custom-counter__item::before {
  @screen md {
    @apply absolute;
    @apply font-serif;
    @apply text-primary;
    top: var(--bloom-s6);
    left: -1rem;
    content: counter(step-counter);
    background: var(--doorway-color-secondary);
    padding: var(--bloom-s2) var(--bloom-s4);
    border-radius: var(--bloom-rounded-full);
    margin-right: 5px;
    font-size: var(--bloom-font-size-lg);
  }
}

.custom-counter__header {
  @apply pb-4;

  @screen md {
    @apply border-solid;
    border-top-width: var(--bloom-border-1);
    @apply border-gray-450;
    @apply mb-6;
    @apply pt-6;
  }
}

.custom-counter__title {
  @apply text-xl;

  @screen md {
    @apply text-xl;
  }
}

.custom-counter__subtitle {
  @apply text-gray-750;
  @apply text-sm;
}
