.field {
  --bordered-border-width: 1px;
  --bordered-border-radius: var(--bloom-s1_5);
  --bordered-vertical-padding: var(--bloom-s4);
  --bordered-leftward-padding: 2.875rem;
  --bordered-checked-bg-color: var(--bloom-color-gray-100);
  --input-prepend-font-size: var(--bloom-font-size-xl);
  --field-note-font-color: var(--bloom-color-700);

  margin-bottom: 1.25rem;

  * > &:last-child {
    margin-bottom: 0;
  }

  label,
  .label {
    @apply pb-2;
    @apply text-sm;
    @apply text-gray-800;
  }

  label + .control {
    @apply mt-2;
  }

  label.sr-only + .control,
  label.text__caps-spaced + .control {
    @apply mt-0;
  }

  .label + .field-note {
    @apply mt-2;
  }

  .text__caps-spaced.label + .field-note {
    @apply mt-0;
  }

  .field-border {
    label {
      background-color: var(--bloom-color-white);
      padding-top: var(--bordered-vertical-padding);
      padding-bottom: var(--bordered-vertical-padding);
      padding-left: var(--bordered-leftward-padding);
      border-width: var(--bordered-border-width);
      border-radius: var(--bordered-border-radius);
      border-color: var(--bloom-color-gray-450);
    }
    input[type="checkbox"] + label::before,
    input[type="radio"] + label::before,
    input[type="checkbox"]:focus + label::before,
    input[type="radio"]:focus + label::before {
      background-color: none;
      box-shadow: 0 0 0 1px white, 0 0 0 2px var(--bloom-color-gray-450);
    }
    input[type="checkbox"]:focus + label,
    input[type="radio"]:focus + label {
      box-shadow: 0 0 0 1px white, 0 0 0 2px var(--bloom-color-accent-cool),
        0 0 3px 4px var(--bloom-color-accent-cool);
    }
    input[type="checkbox"]:checked + label,
    input[type="radio"]:checked + label {
      background-color: var(--bordered-checked-bg-color);
    }
  }

  .control {
    position: relative;

    .input {
      @apply border;
      @apply border-gray-500;

      @apply w-full;
      @apply py-3;
      @apply text-gray-950;
      font-family: inherit;
      font-size: 1rem;
      line-height: normal;
    }

    select.input {
      @apply pl-3;
      @apply pr-8;
    }

    input.input {
      padding-inline: var(--bloom-s3);
      padding-block: var(--bloom-s3_5);
      border-width: 2px;
      background-color: var(--bloom-color-gray-200);
      border-color: var(--bloom-color-gray-500);
      border-radius: var(--bloom-rounded-lg);
    }

    .prepend {
      @apply absolute;
      @apply px-3;
      @apply py-2;
      @apply items-center;
      background: transparent;
      font-size: var(--input-prepend-font-size);
    }

    .prepend + input[aria-invalid="false"] {
      @apply pl-8;
    }

    .prepend + input[aria-invalid="true"] {
      @apply pl-12;
    }

    &.control-narrower {
      max-width: 8rem;
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    opacity: 0;
    position: absolute;
    margin-left: -20px;

    &:focus {
      text-decoration: none;
      // Appears to be for the case of no label
      outline: none;
      box-shadow: 0 0 0 2px #ffffff, 0 0 3px 4px var(--bloom-color-primary);
    }
  }

  input[type="checkbox"] + label,
  input[type="radio"] + label {
    cursor: pointer;
    margin-inline-start: 2rem;
    display: block;
    text-indent: -2rem;
  }

  input[type="checkbox"] + label::before,
  input[type="radio"] + label::before {
    background: white;
    border-radius: 4px;
    box-shadow: 0 0 0 1px white, 0 0 0 2px var(--bloom-color-gray-500);
    content: "\a0";
    display: inline-block;
    height: 1.25rem;
    line-height: 0.8;
    margin-inline-end: 0.8em;
    text-indent: 0.15em;
    vertical-align: 0.2em;
    width: 1.25rem;
  }

  input[type="radio"] + label::before {
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 100%;
  }

  input[type="checkbox"]:checked + label::before,
  input[type="radio"]:checked + label::before {
    background-color: var(--bloom-color-primary);
    box-shadow: 0 0 0 2px var(--bloom-color-primary);
  }

  input[type="radio"]:checked + label::before {
    box-shadow: 0 0 0 2px white, 0 0 0 3px var(--bloom-color-gray-500);
  }

  input[type="checkbox"]:checked + label::before {
    background-image: url("/images/check.png");
    background-image: url("/images/check.svg");
    background-position: 50%;
    background-repeat: no-repeat;
  }

  input[type="radio"]:focus + label::before,
  input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 0 1px white, 0 0 0 2px $tailwind-accent-cool, 0 0 3px 4px $tailwind-accent-cool;
  }

  input[type="checkbox"]:disabled + label {
    color: inherit;
  }

  input[type="checkbox"]:disabled + label::before,
  input[type="radio"]:disabled + label::before {
    background: map-get($tailwind-gray, 400);
    box-shadow: 0 0 0 1px map-get($tailwind-gray, 450);
    cursor: not-allowed;
  }

  select {
    @apply text-gray-950;
    @apply border;
    @apply border-gray-500;
    @apply bg-gray-200;
    @apply text-gray-950;
    @apply leading-tight;
    @apply py-2;
    @apply px-3;
    height: 3em;
    font-family: inherit;
    line-height: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("/images/arrow-down.png");
    background-image: url("/images/arrow-down.svg");
    background-position: right 0.75rem center;
    background-repeat: no-repeat;
    background-size: 0.75rem;
    padding-right: 2.25rem;
    border-radius: var(--bloom-rounded-lg);
    border-width: 2px !important;
  }

  input:disabled,
  select:disabled,
  textarea:disabled,
  .control input:disabled,
  .control select:disabled,
  .control textarea:disabled {
    @apply bg-gray-400;
    cursor: not-allowed;
    @apply text-gray-700;
    @apply border-gray-500;
  }

  select:disabled,
  .control select:disabled {
    opacity: 1;
  }

  &.error {
    label {
      @apply text-alert;
    }

    .control {
      .input,
      .prepend,
      select {
        @apply border-red-500;
        @apply border-2;
      }

      .prepend {
        @apply text-alert;
      }
    }

    input[type="radio"] + label::before {
      box-shadow: 0 0 0 2px #fff, 0 0 0 4px $tailwind-alert;
    }

    input[type="checkbox"] + label::before {
      box-shadow: 0 0 0 1px #fff, 0 0 0 3px $tailwind-alert;
    }
  }
}

input::placeholder,
textarea::placeholder {
  color: var(--bloom-color-gray-650);
}

input[type],
textarea,
select {
  @apply rounded;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 3px 4px $tailwind-accent-cool;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.field-group--inline {
  @apply flex;

  .field {
    @apply mr-5;
    @apply mb-0;
  }
}

.field-label {
  @apply pb-2;
  @apply text-sm;
  @apply text-gray-800;
  font-size: 1.5rem;
}

.field--inline {
  display: inline-block;
}

.field--inline + .field--inline {
  margin-left: 1.5rem;
}

.flex > .field,
.field-group--date .field {
  @apply flex-auto;
  margin-left: 0.325rem;
  margin-right: 0.325rem;
}

.flex > .field,
.field-group--date .field {
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
}

.field-group--date {
  @apply flex;

  .field {
    max-width: 3.5rem;
    margin-bottom: 0;

    select {
      padding-right: 1.75rem;
      background-position: right 0.625rem center;
    }

    &:last-child {
      max-width: 4.5rem;
    }
  }
}

.field-note {
  @apply text-sm;
  color: var(--field-note-font-color);
  white-space: pre-line;
  @apply normal-case;
}

.error-message {
  display: inline-block;
  @apply text-xs;
  @apply text-alert;
  @apply tracking-wide;
  @apply leading-5;
  @apply mt-1;
}

.field-sub-note {
  @apply mt-2;
  @apply text-gray-750;
  @apply text-xs;
  @apply tracking-wide;
  @apply font-sans;
  font-weight: normal;
}

.form-section__title {
  @apply font-alt-sans;
  @apply text-xl;
  @apply text-gray-950;
  @apply font-medium;
  @apply block;
  @apply mb-1;
}

.form-section__description {
  @apply font-sans;
  @apply text-base;
  @apply text-gray-750;
  @apply block;
  @apply mb-8;
}

progress,
::-webkit-progress-bar {
  appearance: none;
  width: 100%;
  @apply bg-gray-400;
  border: 0;
  height: 12px;
  border-radius: 6px;
}
::-webkit-progress-value {
  border-radius: 6px;
  @apply bg-primary;
  transition: width 0.25s;
}
::-moz-progress-bar {
  border-radius: 6px;
  @apply bg-primary;
  transition: width 0.25s;
}
