@media print {
  img,
  button,
  .button,
  button.button,
  .site-footer,
  a.logo:link:after {
    display: none;
  }

  body {
    font: 12px;
    line-height: 1.3;
    text-align: left !important;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 14px;
  }

  small {
    font-size: 12px;
  }

  a:link:after {
    display: block;
    text-transform: none;
    font-size: 12px;
    // add full URL in front of relative links like "/listings"
    content: "/" attr(href);
  }

  a[href^="http"]:link:after {
    // if link already starts with http, then just print that
    content: attr(href);
  }

  .show-for-print {
    display: block;
  }

  .hide-for-print {
    display: none !important;
  }
}
