h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}

h1 {
  @apply text-2xl;

  @screen md {
    @apply text-3xl;
  }
}

h2 {
  @apply text-2xl;

  @screen md {
    @apply text-2xl;
  }
}

h3 {
  @apply text-xl;

  @screen md {
    @apply text-2xl;
  }
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-xl;
}

h6 {
  @apply text-base;
}

a {
  @apply text-primary;

  &:hover {
    @apply text-primary;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 3px 4px $tailwind-accent-cool;
  }

  &.lined {
    @apply underline;
  }

  &.alert {
    @apply text-alert;
  }

  &.darker {
    @apply text-primary-darker;
  }
}

h1.title {
  @apply text-3xl;
}

.text-serif-xl {
  @apply font-serif;
  @apply text-xl;
  @apply mb-4;
}

.info-group__item {
  @apply border-b;
  @apply border-gray-450;
  @apply mb-4;

  &:last-child {
    @apply border-0;
    @apply mb-0;
  }
}

.edit-link {
  @apply underline;
  @apply font-alt-sans;
  @apply text-sm;
  @apply uppercase;
  @apply block;
  @apply text-primary;
  @apply font-semibold;
}

.pill {
  @apply inline-block;
  @apply bg-primary-lighter;
  @apply rounded-full;
  @apply px-2;
  @apply py-1;
  @apply text-xs;
  @apply font-semibold;
  @apply text-gray-700;
  @apply mr-2;
}

.icon-item {
  @apply block;
}
:root {
  --text-large-primary-font-weight: 500;
  --text-large-primary-font-size: var(--bloom-font-size-2xl);
}

.text__large-primary {
  font-family: var(--text-large-primary-font-family, var(--bloom-font-alt-sans));
  font-weight: var(--text-large-primary-font-weight, 600);
  color: var(--text-large-primary--color, var(--bloom-color-primary-dark));
  font-size: var(--text-large-primary-font-size, var(--bloom-font-size-2xl));
  margin-block: var(--text-large-primary-margin-block, 0 var(--bloom-s3));
  line-height: var(--text-large-primary-line-height, var(--bloom-line-height-tight));
}

.text__medium-normal {
  font-family: var(--text-medium-normal-font-family, var(--bloom-font-alt-sans));
  font-weight: var(--text-medium-normal-font-weight, normal);
  color: var(--text-medium-normal-color, var(--bloom-color-black));
  font-size: var(--text-medium-normal-font-size, var(--bloom-font-size-base));
  margin-block: var(--text-medium-normal-margin-block, 0 var(--bloom-s3));
}

.text__small-weighted {
  font-family: var(--text-small-weighted-font-family, var(--bloom-font-alt-sans));
  font-weight: var(--text-small-weighted-font-weight, 600);
  color: var(--text-small-weighted-color, var(--bloom-text-color-dark));
  font-size: var(--text-small-weighted-font-size, var(--bloom-font-size-xs));
  margin-block: var(--text-small-weighted-margin-block, 0 var(--bloom-s1));
}

.text__small-normal {
  font-family: var(--text-small-normal-font-family, var(--bloom-font-alt-sans));
  font-weight: var(--text-small-normal-font-weight, 400);
  color: var(--text-small-normal-color, var(--bloom-text-color));
  font-size: var(--text-small-normal-font-size, var(--bloom-font-size-xs));
  margin-block: var(--text-small-normal-margin-block, 0 var(--bloom-s3));
}

.text__light-weighted {
  font-family: var(--text-light-weighted-font-family, var(--bloom-font-alt-sans));
  font-weight: var(--text-light-weighted-font-weight, 600);
  color: var(--text-light-weighted-color, var(--bloom-text-color-light));
  font-size: var(--text-light-weighted-font-size, var(--bloom-font-size-sm));
}

.text__caps-spaced {
  font-family: var(--text-caps-spaced-font-family, var(--bloom-font-sans));
  text-transform: uppercase;
  color: var(--text-caps-spaced-color, var(--bloom-text-color));
  letter-spacing: var(--text-caps-spaced-letter-spacing, var(--bloom-letter-spacing-widest));
  font-weight: var(--text-caps-spaced-font-weight, 600);
  font-size: var(--text-caps-spaced-font-size, var(--bloom-font-size-sm));
  margin-bottom: var(--text-caps-spaced-margin-bottom, var(--bloom-s3));
  display: inline-block;
}

.text__underline-weighted {
  font-family: var(--text-underline-weighted-font-family, var(--bloom-font-alt-sans));
  text-transform: var(--text-underline-weighted-transform, uppercase);
  font-size: var(--text-underline-weighted-font-size, var(--bloom-font-size-sm));
  margin-bottom: var(--text-underline-weighted-bottom-margin, var(--bloom-s5));
  padding-bottom: var(--text-underline-weighted-bottom-padding, var(--bloom-s2));
  border: var(--text-underline-weighted-border, 0);
  border-bottom: var(--text-underline-weighted-border, 4px solid var(--bloom-color-primary));
  font-weight: var(--text-underline-weighted-font-weight, 600);
  color: var(--text-underline-weighted-color, var(--bloom-text-color-dark));
  letter-spacing: var(--text-underline-weighted-letter-spacing, var(--bloom-letter-spacing-widest));
  display: inline-block;
}

.text__caps-weighted {
  margin-bottom: var(--text-caps-weighted-bottom-margin, var(--bloom-s3));
  color: var(--text-caps-weighted-color, var(--bloom-text-color));
  text-transform: var(--text-caps-weighted-text-transform, uppercase);
  font-family: var(--text-caps-weighted-font-family, var(--bloom-font-sans));
  font-weight: var(--text-caps-weighted-font-weight, 700);
  font-size: var(--text-caps-weighted-font-size, var(--bloom-font-size-sm));
  letter-spacing: var(--text-caps-weighted-letter-spacing, var(--bloom-letter-spacing-wide));
}
