.listings-combined {
  display: flex;
  align-items: stretch;
  height: var(--listings-component-height);

  @media (max-width: $screen-md) {
    position: relative;
    display: block;
  }

  .listings-map {
    flex: 1;
    position: relative;
    display: flex;
    @media (max-width: $screen-md) {
      position: absolute;
      z-index: 0;
      height: var(--listings-component-height);
      width: 100%;
    }
  }

  .listings-map-skip-link {
    @apply sr-only;

    &:focus {
      @apply not-sr-only;
      position: absolute;
      z-index: 20;
      padding: var(--bloom-s2) var(--bloom-s4);
      text-decoration: underline;
      font-size: var(--bloom-font-size-base);
      color: var(--bloom-color-primary);
      background-color: var(--bloom-color-white);
    }
  }

  .listings-map-expanded {
    display: none;

    @media (max-width: $screen-md) {
      position: relative;
      display: block;
      z-index: 0;
      height: var(--listings-component-height);
      width: 100%;
      overflow-y: auto;
    }
  }

  .listings-list {
    overflow-y: auto;
    width: var(--listings-list-width);
    padding-top: var(--listings-list-overscroll);

    @media (max-width: $screen-md) {
      padding-top: 0;
      position: absolute;
      z-index: 1;
      top: var(--swipe-area-height);
      height: calc(var(--listings-component-half-height) - var(--swipe-area-height));
      width: 100%;
      overflow-y: auto;
      background-color: var(--background-color);
    }
  }

  .listings-list-expanded {
    display: none;

    @media (max-width: $screen-md) {
      display: block;
      position: relative;
      z-index: 1;
      height: calc(var(--listings-component-height) - var(--swipe-area-height));
      top: var(--swipe-area-height);
      overflow-y: auto;
      background-color: var(--background-color);
    }
  }

  .listings-outer-container {
    overflow-y: auto;
    width: var(--listings-list-width);

    @media (max-width: $screen-md) {
      position: absolute;
      z-index: 1;
      top: var(--listings-component-half-height);
      height: var(--listings-component-half-height);
      width: 100%;
      overflow-y: hidden;
      border-top-left-radius: var(--bloom-rounded-3xl);
      border-top-right-radius: var(--bloom-rounded-3xl);
    }
  }

  .swipe-area {
    display: none;

    @media (max-width: $screen-md) {
      display: block;
      position: absolute;
      top: 0;
      height: var(--swipe-area-height);
      width: 100%;
      z-index: 2;
      background-color: var(--background-color);
      border-top-left-radius: var(--bloom-rounded-3xl);
      border-top-right-radius: var(--bloom-rounded-3xl);
    }
  }

  // The only difference between this and the above is the top attribute
  .swipe-area-bottom {
    display: none;

    @media (max-width: $screen-md) {
      display: block;
      position: absolute;
      top: calc(var(--listings-component-height) - var(--swipe-area-height));
      height: var(--swipe-area-height);
      width: 100%;
      z-index: 2;
      background-color: var(--background-color);
      border-top-left-radius: var(--bloom-rounded-3xl);
      border-top-right-radius: var(--bloom-rounded-3xl);
    }
  }

  .swipe-area-line {
    display: none;

    @media (max-width: $screen-md) {
      display: block;
      width: 30%;
      margin-left: 35%;
      margin-right: 35%;
      margin-top: var(--bloom-s4);
      border-top: 1px solid var(--line-color);
    }
  }
}

.listings-list-wrapper {
  --padding: var(--seeds-s10);

  /* These attribute selectors are strange, but that's because we want to short-circuit the
     CSS module renaming and use these exact class names */
  [class*="loading-overlay"]::before { 
    background-color: white;
  }

  [class*="loading-overlay__spinner"] {
    color: var(--seeds-color-gray-400) !important;
  }
}
