
// AG Grid
@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin";

.ag-theme-alpine {
  @include ag-theme-alpine((
    // use theme parameters where possible
    header-height: 80px,
    row-height: 50px,
    background-color: #000,
    foreground-color: #333,
    data-color: #333
  ));

  .ag-row {
    height: ag-param(row-height);
  }

  .ag-header {
    @apply whitespace-normal;
    text-overflow: unset;
  }

  .ag-header-cell-text {
    @apply whitespace-normal;
    text-overflow: unset;
  }

  .ag-header-cell-text {
    @apply uppercase;
    @apply font-sans;
    @apply font-semibold;
    @apply tracking-wider;
  }

  .ag-cell-value {
    @apply text-gray-750;
    @apply font-sans;
  }
}