
// AG Grid
@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin";

.ag-theme-alpine.ag-theme-bloom { // would like to remove the local theme class
  @include ag-theme-alpine((
    // use theme parameters where possible
    header-height: 83px,
    row-height: 58px
  ));

  .ag-row {
    height: ag-param(row-height);
  }

  .ag-header {
    @apply whitespace-normal;
    text-overflow: unset;
  }

  .ag-header-cell {
    @apply px-0;
  }

  .ag-cell-label-container {
    @apply px-4;
  }

  .ag-header-cell-sorted-asc,
  .ag-header-cell-sorted-desc {
    box-shadow: inset 0px -3px 0px 0px $tailwind-primary;
  }

  .ag-header-cell-text {
    @apply whitespace-normal;
    text-overflow: unset;
  }

  .ag-header-cell-text {
    @apply uppercase;
    @apply font-sans;
    @apply font-semibold;
    @apply tracking-wider;
  }

  .ag-header-cell-resize::after {
    height: 100%;
    top: 0;
    @apply bg-gray-400;
  }

  .ag-right-aligned-header {
    text-align: right;
  }

  .ag-row {
    @apply border-t-0;
    @apply border-l-0;
    @apply border-r-0;
  }

  .ag-cell-value {
    @apply text-gray-750;
    @apply font-sans;
  }

  .ag-root-wrapper {
    @apply border-b-0;
    @apply rounded-t-md;
    @apply rounded-b-none;
  }
}

.data-pager {
  @apply p-4;
  @apply flex;
  @apply items-center;
  @apply border;
  @apply border-t-0;
  @apply rounded-b-md;
  @apply border-gray-500;
  @apply bg-gray-200;
}

.data-pager__control {
  @apply px-4;

  .field-label {
    @apply mr-2;
  }
}

.data-pager__previous {
  
}

.data-pager__control-group {
  margin-left: auto;
}