.custom-counter_item {
  @screen md {
    @apply mb-12;
    @apply ml-8;
    @apply pl-12;
    @apply relative;
    counter-increment: step-counter;
  }
}

.custom-counter_item::before {
  @screen md {
    @apply absolute;
    @apply font-serif;
    @apply text-gray-850;
    @apply top-0;
    left: -1rem;
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 4.375rem;
    line-height: 0.85;
  }
}

.custom-counter_header {
  @screen md {
    @apply mb-8;
    @apply -ml-4;
    @apply pl-4;
    @apply border-solid;
    @apply border-l-2;
    @apply border-gray-450;
  }
}