
.custom-counter_item {
  @screen md {
    counter-increment: step-counter;
    margin-bottom: 3rem;
    margin-left: 2rem;
    padding-left: 3rem;
    position: relative;
  }
}

.custom-counter_item::before {
  @screen md {
    position: absolute;
    top: 0;
    left: -1rem;
    content: counter(step-counter);
    margin-right: 5px;
    color: #333;
    font-size: 4.375rem;
    line-height: 0.85;
    font-family: "Droid Serif", Georgia, Times, serif;
  }
}

.custom-counter_header {
  @screen md {
    border-left: 2px solid #dedee0;
    margin-bottom: 2rem;
    margin-left: -1rem;
    padding-left: 1rem;
  }
}
