.custom-counter_item {
  @screen md {
    @apply mb-12;
    @apply ml-8;
    @apply pl-12;
    @apply relative;
    counter-increment: step-counter;
  }
}

.custom-counter_item::before {
  @screen md {
    @apply absolute;
    @apply font-serif;
    top: 0;
    left: -1rem;
    content: counter(step-counter);
    margin-right: 5px;
    color: #333;
    font-size: 4.375rem;
    line-height: 0.85;
  }
}

.custom-counter_header {
  @screen md {
    @apply mb-8;
    @apply -ml-4;
    @apply pl-4;
    border-left: 2px solid #dedee0;
  }
}
