@import "tailwindcss/base";
@import "tailwindcss/components";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,900,700");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic");

html {
  @apply antialiased;
}

body {
  @apply font-sans;
  @apply bg-white;
  @apply text-gray-900;
}

.-top {
  top: -0.8rem;
}

main {

}

// Sticky footer
// html {
//   @apply h-full;

//   body,
//   .site-container {
//     @apply table;
//     @apply h-full;
//     @apply w-full;
//     min-height: 100%;
//   }

//   .site-content {
//     @apply table-row;
//     @apply h-full;
//   }

//   .site-footer {
//     @apply table-row;
//     height: 1px;
//   }
// }

// html,
// body {
//   @screen md {
//     @apply overflow-x-hidden;
//   }
// }

.site-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  
  main {
    flex: 1;
    display: flex;
    flex-direction: column;

    > section {
      flex: 1;
    }
  }
}

@import "mixins.scss";
@import "markdown.scss";
@import "navbar.scss";
@import "text.scss";
@import "headers.scss";
@import "blocks.scss";
@import "accordion.scss";
@import "custom_counter.scss";
@import "forms.scss";
@import "lists.scss";
@import "tables.scss";
@import "homepage.scss";
/* ***********/
/* Additional stylesheets are contained within individual component folders */
/* ***********/

@import "tailwindcss/utilities";