// Listing Detail
.detail-header {
  @apply relative;
  @apply pr-4;
  @apply pb-6;
  @apply pl-4;
  @apply pt-4;
  @apply border-b;
  @apply border-gray-400;
  @apply text-primary-darker;

  @screen md {
    @apply pt-0;
    @apply pb-8;
    @apply text-sm;
    @apply border-none;
    @apply text-gray-800;
  }
}

.detail-header__image {
  @apply absolute;
  @apply w-12;
  @apply mr-2;

  @screen md {
    @apply left-0;
  }
}

.detail-header__hgroup {
  @apply ml-12;
  @apply pl-4;

  @screen md {
    @apply border-l-2;
    @apply border-primary;
  }
}

.detail-header__title {
  @apply font-alt-sans;
  @apply uppercase;
  @apply text-tiny;
  @apply tracking-widest;
  @apply text-primary-darker;

  @screen md {
    @apply text-black;
    @apply font-serif;
    @apply text-3xl;
    @apply normal-case;
    @apply tracking-normal;
    @apply text-gray-900;
  }
}

.detail-header__subtitle {
  @apply text-tiny;

  @screen md {
    @apply text-gray-700;
  }
}

// Data lists
.column-definition-list {
  @include clearfix;

  .description__title {
    @apply text-lg;
    @apply text-gray-800;
    @apply mb-3;
    clear: left;

    @screen md {
      margin-top: 0.15rem;
      @apply pl-4;
      @apply border-l-2;
      @apply border-gray-450;
      @apply float-left;
      @apply w-1/3;
      @apply pr-3;
    }
  }

  .description__body {
    @apply text-tiny;
    @apply mb-5;

    @screen md {
      @apply mb-0;
      @apply float-left;
      @apply w-2/3;
    }

    &:last-of-type {
      @apply w-full;
    }
  }

  @screen md {
  }
}

// Description
.description__title {
  @apply font-serif;
  @apply text-xl;
}

.description__body {
  @screen md {
    padding-top: 0.4em;
  }
  @apply mb-4;
}

// Box
.box {
  @apply text-sm;
  @apply text-gray-700;
  @apply rounded;
}

html,
body {
  @screen md {
    overflow-x: hidden;
  }
}

// responsive content spacing
.responsive-content-list {
  .responsive-content-item {
    @screen md {
      @apply pt-12;
      @apply pb-4;
      margin-left: -9999rem;
      margin-right: -9999rem;
      /* add back negative margin value */
      padding-left: 9999rem;
      padding-right: 9999rem;
    }
  }

  .header-hidden {
    @screen md {
      @apply pt-0;
      @apply pb-0;
    }
  }
}

.listing-detail-panel {
  @screen md {
    @apply ml-16;
    @apply p-8;
    @apply pt-0;
    @apply pl-0;
  }
}
