@import "utilities/setup_bulma";
@import "~bulma/sass/utilities/mixins.sass";
@import "~bulma/sass/components/navbar.sass";

.navbar-notice {
  @apply w-full;
  @apply bg-primary;
  @apply text-right;
  @apply text-white;
}

.navbar-notice__text {
  @apply max-w-5xl;
  @apply m-auto;
  @apply text-sm;
  @apply pt-2;
  @apply pb-2;
  @apply pr-1;

  a, a:hover {
    @apply underline;
    color: inherit;
  }
}

.navbar__wrapper {
  @apply border-b;
  @apply border-gray-400;
}

// Custom Navbar Styles
nav.navbar {
  @apply max-w-5xl;
  @apply m-auto;
}

.navbar-brand .logo {
  @apply text-black;
  @apply block;
  @apply text-center;
  @apply z-10;
  @apply items-center;
  @apply justify-center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: -0.75rem;

  &.navbar-item,
  &.navbar-item:hover,
  &.navbar-item:focus {
    @apply bg-white;
    @apply border-b-0;
    @apply pt-1;
    @apply pb-1;
    @apply pl-4;
    @apply pr-4;
    @apply flex;
  }

  @screen md {
    margin-top: -2.75em;
    padding-top: 1em;
  }

  .logo__lockup {

  }

  .logo__image {
    @apply inline-block;
    @apply mt-1;
    @apply mb-1;
    max-height: 1.5rem;

    @screen md {
      @apply mt-3;
      @apply mb-2;
      max-height: 2rem;
    }
  }

  .logo__title {
    @apply uppercase;
    @apply font-bold;
    @apply text-gray-900;
    @apply font-alt-sans;
    @apply tracking-wider;
    @apply text-sm;

    @screen md {
      @apply text-tiny;
    }
  }
}

.navbar-item,
.navbar-link {
  @apply pt-1;
  @apply pb-1;
}

a.navbar-item {
  @apply text-base;
  @apply text-gray-800;
  @apply pt-4;
  @apply pb-4;
  @apply border-b;
  @apply border-gray-400;

  &:hover {
    @apply bg-primary-lighter;
  }

  @screen md {
    @apply text-sm;
    @apply border-b-2;
    @apply uppercase;
    @apply pt-10;
    @apply pb-3;
    border-color: transparent;

    &:hover {
      @apply bg-white;
      @apply border-primary;
      @apply text-gray-800;
    }
  }
}

.navbar-burger {
  &:hover {
    background: transparent;
  }
}

.navbar-burger span {
  height: 2px;
}

.navbar-menu {
  @apply p-0;
}

.navbar-end {
  @apply border-t;
  @apply border-gray-400;
}