table {
  @apply text-gray-750;

  strong {
    @apply font-semibold;
  }

  tr {
    @apply bg-white;
  }
}

table tr:nth-of-type(even) {
  @apply bg-primary-lighter;
}

td.reserved {
  padding-top: 9px;
  padding-bottom: 9px;
  border-bottom: 1px solid $tailwind-splash;
  background-color: $tailwind-splash-bg;
  font-size: 0.6875rem;
  line-height: 1.25;
  color: #555;
  font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border-top: 1px solid $tailwind-splash;
  border-left: 0.4rem solid $tailwind-splash;
  padding-left: 1em;

  .reserved-icon {
    color: $tailwind-splash;
    font-size: 0.9rem;
  }
}
tr.group-reserved td:first-of-type {
  border-left: 0.4rem solid $tailwind-splash;
}

/* Hat tip to this CSS solution:
https://www.cssscript.com/pure-html5-css3-responsive-table-solution/ */

@media screen and (max-width: 639px) {
  table.responsive-collapse {
    thead {
      display: none;
    }
    tr {
      display: block;
      margin-bottom: 1.75em;
    }
    tr:nth-of-type(even) {
      background: inherit;
    }
    td:nth-of-type(even) {
      @apply bg-primary-lighter;
    }

    td {
      display: block;
      text-align: right;
    }

    td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    td:last-child {
      border-bottom: 0;
    }
  }

  tr.group-reserved td {
    border-left: 0.4rem solid #ff6627;
  }
}
