table {
  @apply text-gray-750;

  strong {
    @apply font-semibold;
  }

  tr {
    @apply bg-white;
  }
}

table tr:nth-of-type(even) {
  @apply bg-primary-lighter;
}

td.reserved {
  @apply font-sans;
  @apply font-bold;
  @apply uppercase;
  @apply text-2xs;
  @apply leading-tight;
  padding-top: 9px;
  padding-bottom: 9px;
  border-bottom: 1px solid $tailwind-splash;
  background-color: $tailwind-splash-bg;
  color: #555;
  letter-spacing: 0.1rem;
  border-top: 1px solid $tailwind-splash;
  border-left: 0.4rem solid $tailwind-splash;
  padding-left: 1em;

  .reserved-icon {
    color: $tailwind-splash;
    font-size: 0.9rem;
  }
}

tr.group-reserved td:first-of-type {
  border-left: 0.4rem solid $tailwind-splash;
}

/* Hat tip to this CSS solution:
https://www.cssscript.com/pure-html5-css3-responsive-table-solution/ */

@media screen and (max-width: 639px) {
  table.responsive-collapse {
    thead {
      @apply hidden;
    }
    tr {
      @apply block;
      margin-bottom: 1.75em;
    }
    tr:nth-of-type(even) {
      background: inherit;
    }
    td:nth-of-type(even) {
      @apply bg-primary-lighter;
    }

    td {
      @apply block;
      @apply text-right;
    }

    td:before {
      @apply font-bold;
      @apply uppercase;
      @apply float-left;
      content: attr(data-label);
    }

    td:last-child {
      border-bottom: 0;
    }
  }

  tr.group-reserved td {
    border-left: 0.4rem solid #ff6627;
  }
}
