.card-prototype {
  --border-radius: var(--bloom-rounded-lg);
  --border-width: var(--bloom-border-1);
  --border-color: var(--bloom-color-gray-450);

  --content-padding-block: var(--bloom-s5);
  --content-padding-inline: var(--bloom-s16);

  --header-padding-block: var(--bloom-s5) var(--bloom-s3);
  --header-padding-inline: var(--bloom-s16) var(--bloom-s12);

  .card__container {
    background: white;
    border: var(--border-width) solid var(--border-color);
    overflow: hidden;
    border-radius: var(--border-radius);

    display: flex;
    flex-direction: column;
  }

  .card__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-block: var(--header-padding-block);
    padding-inline: var(--header-padding-inline);
  }
  .card__header::after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 1px solid gray;
  }

  .card__section {
    padding-block: var(--content-padding-block);
    padding-inline: var(--content-padding-inline);
  }

  .card__container.is-dense .card__section {
    padding-block: calc(var(--content-padding-block) - var(--bloom-s3));
  }

  &.card-appendix {
    margin-block-start: var(--bloom-s4);
  }

  .card__container .button-group {
    --padding-inline-desktop: var(--content-padding-inline);
  }

  @media (min-width: $screen-sm) {
    .card__container.flex-row {
      flex-direction: row;
      align-items: center;
    }

    .card__container.flex-row > * {
      flex-grow: 1;
    }

    .card__container.flex-row > *:first-child {
      flex-grow: unset;
      flex-shrink: 1;
    }

    .card__container.flex-row > *:last-child {
      flex-grow: unset;
      flex-shrink: 1;
    }

    .card__container.flex-row .card__image {
      align-self: stretch;
      display: flex;
      padding-inline-end: 1rem;
    }

    .card__container.flex-row .card__header::after {
      display: none;
    }
    .card__container.flex-row .card__header {
      border-inline-start: 3px solid gray;
    }
  }
}
