<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{ subject }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
  <style>
    /* -------------------------------------
        GLOBAL RESETS
    ------------------------------------- */

    /*All the styling goes here*/

    img {
      border: none;
      -ms-interpolation-mode: bicubic;
      max-width: 100%;
    }

    body {
      background-color: #f6f6f6;
      font-family: Open Sans, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      font-size: 14px;
      line-height: 1.4;
      margin: 0;
      padding: 0;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
    }

    table {
      border-collapse: separate;
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
      width: 100%;
    }

    table td {
      font-family: Open Sans, Arial, sans-serif;
      font-size: 14px;
      vertical-align: top;
    }

    /* -------------------------------------
        BODY & CONTAINER
    ------------------------------------- */

    .body {
      background-color: #f6f6f6;
      width: 100%;
    }

    /* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
    .container {
      display: block;
      margin: 0 auto !important;
      /* makes it centered */
      max-width: 580px;
      padding: 0 10px;
      width: 580px;
    }

    /* This should also be a block element, so that it will fill 100% of the .container */
    .content {
      box-sizing: border-box;
      display: block;
      margin: 0 auto;
      max-width: 580px;
      padding: 0 10px;
    }

    /* -------------------------------------
        HEADER, FOOTER, MAIN
    ------------------------------------- */
    .main {
      background: #f6f6f6;
      border-radius: 3px;
      width: 100%;
    }

    .wrapper {
      box-sizing: border-box;
      padding: 0 20px;
    }

    .content-block {
      padding-bottom: 10px;
      padding-top: 10px;
    }

    .footer {
      background-color: #f6f6f6;
      clear: both;
      margin-top: 0;
      padding-bottom: 40px;
      text-align: center;
      width: 100%;
    }

    .footer td,
    .footer p,
    .footer span,
    .footer a {
      color: #30383a;
      font-size: 13px;
      text-align: center;
    }

    .inset {
      margin: 0 auto !important;
      max-width: 380px;
    }

    /* -------------------------------------
        TYPOGRAPHY
    ------------------------------------- */
    h1,
    h2,
    h3,
    h4 {
      color: #000000;
      font-family: Open Sans, Arial, sans-serif;
      font-weight: 400;
      line-height: 1.4;
      margin: 0;
      margin-bottom: 30px;
    }

    h1 {
      font-size: 40px;
      font-weight: 400;
      text-align: center;
      font-family: Lora, Georgia, Times, serif;
      margin-top: 20px;
    }

    h2 {
      font-size: 17px;
      font-weight: 600;
      margin-bottom: 16px;
      margin-top: 32px;
    }

    h3 {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 6px;
      margin-top: 16px;
    }

    p,
    ul,
    ol {
      font-family: Open Sans, Arial, sans-serif;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
      margin-bottom: 15px;
      padding-left: 0px;
    }

    p li,
    ul li,
    ol li {
      list-style-position: inside;
      margin-left: 5px;
      margin-bottom: 16px;
    }

    ul,
    ol {
      padding-left: 8px;
    }

    a {
      color: #3498db;
      text-decoration: underline;
    }

    .bordered,
    .bordered td {
      background-color: #ffffff;
      border-color: #dedee0;
      border-style: solid;
      color: #555555;
    }

    .intro {
      font-size: 24px;
      font-family: Open Sans, Arial, sans-serif;
    }

    .steps {
      width: 380px;
    }

    .step {
      text-align: center;
    }

    .step-indicator {
      display: block;
      height: 32px;
      width: 32px;
      background: #dedee0;
      border-radius: 32px;
      margin-bottom: 16px;
      margin-left: auto;
      margin-right: auto;
    }

    .step-complete {
      font-weight: 600;
    }

    .step-indicator-complete {
      background: #2e8540;
    }

    .number {
      font-family: Georgia, Times, serif;
      font-size: 22px;
    }

    /* -------------------------------------
        BUTTONS
    ------------------------------------- */
    .btn {
      box-sizing: border-box;
      width: auto;
      background-color: #ffffff;
      border: solid 1px #0067be;
      border-radius: 5px;
      box-sizing: border-box;
      color: #0067be;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.375;
      letter-spacing: 1px;
      margin: 24px auto 16px auto;
      padding: 16px 24px;
      text-decoration: none;
      text-transform: uppercase;
    }

    .btn-primary {
      background-color: #0067be;
      border-color: #0067be;
      color: #ffffff;
    }

    /* -------------------------------------
        OTHER STYLES THAT MIGHT BE USEFUL
    ------------------------------------- */
    .last {
      margin-bottom: 0;
    }

    .first {
      margin-top: 0;
    }

    .align-center {
      text-align: center;
    }

    .align-right {
      text-align: right;
    }

    .align-left {
      text-align: left;
    }

    .clear {
      clear: both;
    }

    .mt0 {
      margin-top: 0;
    }

    .mb0 {
      margin-bottom: 0;
    }

    .mb1 {
      margin-bottom: 1rem;
    }

    .mb2 {
      margin-bottom: 2rem;
    }

    .mt1 {
      margin-top: 1rem;
    }

    .mt2 {
      margin-top: 2rem;
    }

    .mt3 {
      margin-top: 3rem;
    }

    .preheader {
      color: transparent;
      display: none;
      height: 0;
      max-height: 0;
      max-width: 0;
      opacity: 0;
      overflow: hidden;
      mso-hide: all;
      visibility: hidden;
      width: 0;
    }

    .powered-by a {
      text-decoration: none;
    }

    hr {
      border: 0;
      border-bottom: 1px solid #f6f6f6;
      margin: 20px 0;
    }

    .sr-only {
      position: absolute;
      left: -999em;
      right: auto;
    }

    /* -------------------------------------
        RESPONSIVE AND MOBILE FRIENDLY STYLES
    ------------------------------------- */
    @media only screen and (max-width: 620px) {
      table[class="body"] h1 {
        font-size: 28px !important;
        margin-bottom: 10px !important;
        margin-top: 0 !important;
      }
      table[class="body"] p,
      table[class="body"] ul,
      table[class="body"] ol,
      table[class="body"] td,
      table[class="body"] span,
      table[class="body"] a {
        font-size: 16px !important;
      }
      table[class="body"] .wrapper,
      table[class="body"] .article {
        padding: 0 10px !important;
      }
      table[class="body"] .content {
        padding: 0 !important;
      }
      table[class="body"] .container {
        padding: 0 !important;
        width: 100% !important;
      }
      table[class="body"] .main {
        border-left-width: 0 !important;
        border-radius: 0 !important;
        border-right-width: 0 !important;
      }
      table[class="body"] .img-responsive {
        height: auto !important;
        max-width: 100% !important;
        width: auto !important;
      }
    }

    /* -------------------------------------
        PRESERVE THESE STYLES IN THE HEAD
    ------------------------------------- */
    @media all {
      .ExternalClass {
        width: 100%;
      }
      .ExternalClass,
      .ExternalClass p,
      .ExternalClass span,
      .ExternalClass font,
      .ExternalClass td,
      .ExternalClass div {
        line-height: 100%;
      }
      .apple-link a {
        color: inherit !important;
        font-family: inherit !important;
        font-size: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
        text-decoration: none !important;
      }
      #MessageViewBody a {
        color: inherit;
        text-decoration: none;
        font-size: inherit;
        font-family: inherit;
        font-weight: inherit;
        line-height: inherit;
      }
      .btn-primary:hover {
        background-color: #205493 !important;
        border-color: #205493 !important;
      }
    }
  </style>
</head>
