.input-section {
  display: flex;
  flex-direction: column;
  @apply mb-4;
  @media (min-width: $screen-md) {
    flex-direction: row;
  }
}

.input-section_title {
  @apply text-gray-800;
  @apply font-semibold;
  @apply text-sm;

  @media (min-width: $screen-md) {
    @apply text-xl;
  }
}
