.input-section {
  display: flex;
  flex-direction: column;
  padding: var(--bloom-s4);
  @media (min-width: $screen-md) {
    flex-direction: row;
  }
}

.input-section_title {
  @apply text-gray-800;
  @apply font-semibold;
  @apply text-sm;
  min-width: auto;

  @media (min-width: $screen-md) {
    @apply text-xl;
    min-width: var(--bloom-s40);
  }
}
