.listings-vars {
  // This is a not-ideal way to do "fill window minus header and filter modal" however
  // I can't find another way to do this.
  // TODO: update header + filter modal to a not-magic number
  --listings-component-height: calc(100vh - 183px);
  --listings-component-half-height: calc(var(--listings-component-height) / 2);
  --listings-list-width: 600px;
  --listings-list-overscroll: calc(var(--seeds-s14) + var(--seeds-s1));
  --swipe-area-height: var(--seeds-s14);
  --background-color: var(--seeds-bg-color-surface);
  --line-color: var(--seeds-color-gray-650);
}

.search-filter-bar {
  width: calc(var(--listings-list-width) - var(--seeds-s6));
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 0px;
  z-index: calc(var(--seeds-z-index-overlay) - 1);
  background: white;
  padding-inline-end: var(--seeds-s4);
  padding-block: var(--seeds-s2);
  gap: var(--seeds-s4);
  color: var(--seeds-text-color);
  border-block-end: 1px solid var(--seeds-border-color);

  @media (max-width: $screen-md) {
    position: static;
    width: 100%;
    font-size: var(--seeds-font-size-sm);
    padding-inline: var(--seeds-s4);
    border-block-end: none;
  }

  strong {
    font-weight: var(--seeds-font-weight-semibold);
  }
}

.search-total-results {
  font-size: var(--seeds-font-size-xl);

  @media (max-width: $screen-md) {
    font-size: var(--seeds-font-size-sm);
  }
}

.search-filters-button {
  --button-font-family: inherit;
  --button-font-weight: var(--seeds-font-weight-regular);
  --button-interior-gap: var(--seeds-s1_5);

  line-height: var(--seeds-line-height-4);

  @media (max-width: $screen-md) {
    --button-border-width: 0 !important;
    --button-padding-sm: var(--seeds-s2) !important;

    margin-inline-end: calc(0px - var(--seeds-s2));
  }
}
