.filter-drawer {
  --drawer-width: var(--seeds-width-xl);
  font-family: var(--seeds-font-alt-sans);
  .filter-section {
    padding-block-end: var(--seeds-spacer-content);
    border-bottom-width: var(--seeds-border-1);
  }
  .filter-section-label {
    font-size: var(--seeds-type-label-size);
    padding-block-end: var(--seeds-spacer-label);
  }
  .filter-checkbox-label {
    color: var(--seeds-text-color-darker);
    font-weight: 400;
  }

  .rent-input-section {
    column-gap: var(--seeds-s4);
    padding-block-end: var(--seeds-spacer-label);
  }
}
