.filter-drawer {
  --drawer-width: var(--sizes-width-xl);
  .filter-section-label {
    font-family: var(--seeds-font-alt-sans);
    padding-block-end: var(--seeds-spacer-label);
  }
  .filter-checkbox-label {
    color: var(--seeds-text-color-darker);
    font-weight: 400;
  }
  .filter-section {
    padding-block-end: var(--seeds-spacer-content);
    border-bottom-width: var(--seeds-border-1);
  }
}
