.doorway-field {
  width: 100%;
  margin: 0;
  font-size: 0.75rem;
  font-weight: 500;

  input.typed-input {
    border-radius: 12px;
    border-width: 2px;
    background-color: white;
    height: 3.5rem;
  }

  ::-webkit-input-placeholder {
    color: var(--doorway-blue-800);
    font-family: var(--bloom-font-alt-sans);
    text-transform: uppercase;
  }
}
