.county-checkbox-group {
  .field input[type="checkbox"]:checked + label::before {
    background-color: var(--bloom-color-primary-lighter);
    background-image: url("/images/check.svg");
    box-shadow: 0 0 0 1px var(--bloom-color-primary-lighter);
  }
}
