.account-card {
  --card-header-padding-inline-desktop: var(--seeds-s12);
  --card-header-padding-inline-mobile: var(--seeds-s4);
  --card-content-padding-inline-mobile: var(--seeds-s4);
  --card-border-width: 0rem;
  width: 100%;
  @media (max-width: theme("screens.sm")) {
    --card-spacing-lg: var(--seeds-s6);
    --card-border-radius: 0rem;
  }
}

.acccount-card-icon {
  margin-bottom: var(--seeds-s3);
}

.account-card-heading-group {
  --subheading-margin: var(--seeds-s3);
  --heading-margin: var(--seeds-s3);
}

.account-card-heading {
  margin-top: var(--seeds-s3);
}
