.card {
  &-footer {
    margin: var(--seeds-spacer-section);
  }
}

.select-all {
  padding-block-end: var(--seeds-s4);
  border-block-end: var(--card-divider-width) solid var(--card-divider-color);

  &-label {
    font-size: var(--seeds-font-size-sm);
    font-weight: 600;
  }

  & > p {
    margin-inline-start: var(--seeds-s8);
    color: var(--bloom-color-gray-700);
    margin-top: unset;
  }
}

.notification-preferences-field-group {
  margin-block-start: var(--seeds-s4);

  & > div:not(:first-child) {
    margin-block-start: var(--seeds-spacer-content);
  }

  & span {
    margin-inline-start: var(--seeds-s8);
    font-family: var(--bloom-font-sans);
    font-size: var(--bloom-font-size-xs);
  }
}

.collapsible-field-group {
  display: flex;
  flex-direction: column;
  gap: var(--seeds-s2);
  margin-block-start: var(--seeds-spacer-content);
  margin-inline-start: var(--seeds-s8);

  .button {
    &-header {
      display: flex;
      flex-direction: column;
      gap: var(--seeds-s1);
    }

    &-label-container {
      display: flex;
      flex-direction: row;
      gap: var(--seeds-s1);
    }

    &-label {
      font-size: var(--seeds-font-size-sm);
      font-weight: 600;
    }

    &-icon {
      width: 100%;
      height: 100%;
      font-size: var(--seeds-font-size-sm);
      line-height: normal;
      font-weight: lighter;
      @media (--sm-only) {
        padding-inline: var(--seeds-s4);
      }
      display: flex;
      align-items: center;
      color: var(--seeds-color-primary);
    }
  }

  .regions-field-group {
    &-hidden {
      display: none;
    }
  }

  &-note {
    font-size: var(--bloom-font-size-sm);
    color: var(--bloom-color-gray-700);
    white-space: pre-line;
  }
}
