.sign-up-benefits-container {
  display: flex;
  flex-direction: column;
  padding-block-start: var(--seeds-s6);
  padding-block-end: var(--seeds-s4);
  padding-inline: var(--seeds-s4);
  @media (min-width: theme("screens.md")) {
    padding: 0;
  }
}

.sign-up-benefits-item {
  display: flex;
  flex-direction: row;
  margin-block-end: var(--seeds-s3);
  align-items: center;

  .icon {
    border: 1px solid var(--seeds-color-white);
    background-color: var(--seeds-color-white);
    border-radius: var(--seeds-rounded-full);
    padding: var(--seeds-s2_5);
  }

  .text {
    margin-inline-start: var(--seeds-s3);
  }
}
