.status-item {
  position: relative;
  padding: var(--seeds-s4);
  background-color: var(--seeds-bg-color-muted);
  color: var(--seeds-color-gray-900);
  border-bottom-width: 0.0625rem;
  border-style: solid;
  border-color: var(--seeds-color-gray-450);
}

.status-item__header {
  display: flex;
  padding-bottom: var(--seeds-s4);
  justify-content: space-between;
  border-bottom-width: 0.0625rem;
  border-style: solid;
  border-color: var(--seeds-color-gray-450);
  margin-bottom: var(seeds-s4);
  @media (max-width: theme("screens.sm")) {
    padding-bottom: var(--seeds-s2);
    display: block;
  }
}

.status-item__title {
  font-size: var(--seeds-font-size-lg);
  margin-bottom: 0;
}

.status-item__due {
  text-align: right;
  align-self: center;
  font-size: var(--seeds-font-size-sm);
  color: var(--seeds-color-gray-750);
  @media (max-width: theme("screens.sm")) {
    text-align: left;
    padding-top: var(--seeds-s2_5);
  }
}

.status-item__due-date {
  font-weight: var(--seeds-font-weight-semibold);
}

.status-item__content {
  display: flex;
  justify-content: space-between;
  padding-top: var(--seeds-s4);
  @media (max-width: theme("screens.sm")) {
    display: grid;
  }
}

.status-confirmation__number {
  padding-top: var(--seeds-s4);
}

.status-item__action {
  padding-top: 0;
  text-align: right;

  @media (max-width: theme("screens.sm")) {
    text-align: center;
    padding-top: var(seeds-s4);
  }
}

.status-item__footer {
  display: flex;
  gap: var(--seeds-s4);
  flex-direction: row;
  justify-content: flex-start;
  padding-top: var(--seeds-s4);
  width: fit-content;
  flex-wrap: wrap;
  @media (max-width: theme("screens.sm")) {
    flex-direction: column;
    padding-top: var(--seeds-s6);
  }
}

.status-item__status {
  padding-block: 0;
  font-size: var(--seeds-font-size-sm);
  color: var(--seeds-color-gray-750);
  @media (max-width: theme("screens.sm")) {
    padding-block: var(--seeds-s4);
  }
}

.status-item__confirm-text {
  font-size: var(--seeds-font-size-sm);
  margin-bottom: var(--seeds-s4);
}

.status-item__confirm-number {
  font-size: var(--seeds-font-size-lg);
  font-weight: var(--seeds-font-weight-semibold);
  padding-top: var(--seeds-s2);
}
