.dash-blocks {
  @apply w-full;

  @screen md {
    @apply flex;
    @apply flex-wrap;
  }
}

.dash-block {
  @screen md {
    @apply px-2;
    flex: 50%;
  }
}

.dash-item {
  @apply text-gray-800;
  @apply border-solid;
  @apply border-b;
  @apply border-gray-450;
  @apply text-center;
  @apply block;
  @apply bg-white;
  @apply p-4;
  @apply pt-8;
  @apply text-tiny;

  @screen md {
    @apply rounded-lg;
    @apply border;
    @apply p-8;
    @apply mb-8;
  }

  p {
    @apply mb-0;
  }

  .dash-item__content {
    @apply border-t;
    @apply border-gray-450;
    @apply -mx-8;
    @apply -mb-8;
    @apply bg-gray-300;
    @screen md {
      @apply rounded-b-lg;
      @apply border-t;
    }
  }
}

.dash-item__name {
  @apply text-2xl;
  @apply mb-3;
}
