.form-card {
  @apply bg-white;

  @screen md {
    @apply mb-6;
    @apply border;
    @apply border-gray-450;
    @apply rounded-lg;
  }

  @screen print {
    @apply border-0;
  }

  hr,
  .border-b {
    @apply border-gray-450;
  }

  .hr {
    @apply my-6;
  }
}

.form-card__title {
  @apply text-center;
  width: fit-content;
  @apply mt-4;
  @apply mx-auto;
  @apply pt-4;
  @apply px-3;
  @apply border-t-4;
  @apply border-primary;
  @apply leading-tight;
  @apply text-2xl;

  @screen md {
    @apply mx-auto;
    @apply px-0;
  }

  &.is-borderless {
    @apply pt-0;
    @apply mt-0;
    @apply border-t-0;
  }
}

.form-card__back {
  @apply ml-8;
  @apply -mb-5;

  @screen md {
    @apply mt-5;
  }

  a {
    @apply underline;
  }
}

.form-card__lead,
.form-card__group {
  @apply py-8;
  @apply px-6;

  @screen md {
    @apply mx-8;
  }

  @screen print {
    @apply py-2;
  }
}

.form-card__lead {
  @apply pt-12;
  @apply pb-8;

  @screen md {
    @apply px-0;
  }

  @screen print {
    @apply py-2;
  }
}

.form-card__group {
  @apply px-8;
}

.form-card__header {
  @apply text-white;
  @apply text-center;

  @screen md {
    @apply rounded-b-lg;
  }
}

.form-card__header_group {
  @apply flex justify-center items-center;
  @apply bg-primary;
  @apply p-4;
  @apply h-16;

  @screen md {
    @apply rounded-t-lg;
  }

  @screen print {
    @apply py-0;
  }
}

.form-card__header_title {
  @apply text-xl;
  @apply font-alt-sans;
  @apply font-bold;
  @apply uppercase;
  @apply mb-0;
}

.form-card__header_nav {
  @apply py-4;
  @apply bg-white;
  @apply rounded-b-lg;
  @apply overflow-auto;

  @screen md {
    @apply p-4;
  }

  @screen print {
    @apply py-0;
  }
}

.form-card__pager {
  @apply text-center;

  button,
  .button {
    @apply mb-0;
  }
}

.form-card__pager-row {
  @apply px-8;
  @apply py-4;

  &.primary {
    @apply bg-primary-lighter;
    @apply py-8;
  }

  &.border-t,
  &.border-b {
    @apply border-gray-450;
  }
}

.form--card__sub-header {
  @apply py-4;
  @apply px-8;
  @apply bg-gray-300;
  @apply flex;
  @apply justify-between;
  @apply border-solid;
  @apply border-t;
  @apply border-gray-450;

  .edit-link {
    @apply self-center;
  }

  @screen print {
    @apply px-0;
    @apply py-1;
  }
}

.form-card__sub-title {
  @apply mb-0;
  @apply text-gray-700;
  @apply py-3;
}

.form-card__paragraph-title {
  @apply uppercase;
  @apply text-gray-750;
  @apply tracking-widest;
  @apply font-semibold;
  @apply font-sans;
  @apply text-sm;
  @apply mb-2;
  @apply inline-block;
}

.form-card__header-icon {
  @apply pr-4;
  @apply pl-4;
  @apply pb-4;
  @apply inline-block;
  @apply border-b-4;
  @apply border-primary;
  @apply mb-4;
}
