@import "../global/mixins.scss";

.image-card__wrapper {
  @apply relative;
}

.image-card {
  @apply relative;
  @include has-image-skeleton();

  img {
    @apply w-full;
    min-height: 3rem;
  }
}

.image-card-tag__wrapper {
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply absolute;
  @apply z-10;
  @apply w-full;
  @apply mt-4;

  @screen md {
    @apply items-start;
    @apply justify-start;
    @apply ml-4;
  }
}

.image-card__figcaption {
  @apply absolute;
  @apply inset-x-0;
  @apply bottom-0;
  @apply py-1;

  &:before {
    @include overlay-image;
    @include custom-linear-gradient(transparent, rgba(0, 0, 0, 0.8));
  }
}

.image-card__tag {
  @apply absolute;
  @apply top-0;
  @apply p-3;
  @apply m-5;
}

.image-card__title {
  @apply text-white;
  @apply text-left;
  @apply text-3xl;
  @apply uppercase;
  @apply font-alt-sans;
  @apply relative;
  @apply z-10;
  @apply tracking-wider;
  @apply px-5;
  @apply pb-1;
}

.image-card__subtitle {
  @apply text-white;
  @apply text-left;
  @apply uppercase;
  @apply font-alt-sans;
  @apply text-sm;
  @apply px-5;
  @apply pb-3;
  @apply relative;
  @apply z-10;
  @apply tracking-widest;
}

.image-card--leader {
  @apply w-full;

  @screen md {
    @apply w-2/3;
    @apply pr-8;
    @apply pt-8;
  }

  .image-card__title {
    @apply text-4xl;
    @apply text-center;
  }
}
