@import "../global/mixins.scss";

.image-card {
  /* Component Variables */
  --default-background-color: var(--bloom-color-gray-500);
  --border-radius: 0px;
  --image-height: auto;
  --tags-justify-mobile: center;
  --tags-justify-desktop: flex-start;

  position: relative;
}

.image-card__inner {
  position: relative;
  background-color: var(--default-background-color);
  border-radius: var(--border-radius);

  img {
    border-radius: var(--border-radius);
    width: 100%;
    height: var(--image-height);
    object-fit: cover;
  }
}

.image-card-tag__wrapper {
  --tags-justify: var(--tags-justify-mobile);

  display: flex;
  align-items: center;
  justify-content: var(--tags-justify);
  position: absolute;
  z-index: 10;
  width: 100%;
  margin-block-start: var(--bloom-s1);
  padding-inline: var(--bloom-s4);
  flex-wrap: wrap;
  max-width: 100%;

  @media (min-width: $screen-sm) {
    --tags-justify: var(--tags-justify-desktop);
  }

  .tag {
    margin-top: var(--bloom-s3);
    margin-inline: var(--bloom-s2);

    .ui-icon {
      margin-inline-end: var(--bloom-s2);
    }
  }
}

.image-card__placeholder {
  height: 300px;
}

.image-card--leader {
  width: 100%;

  @media (min-width: $screen-sm) {
    width: var(--bloom-width-2-3rd);
    padding-block-start: var(--bloom-s8);
    padding-inline-end: var(--bloom-s8);
  }
}
