@import "../global/mixins.scss";

.image-card__wrapper {
  @apply relative;
}

.image-card {
  @apply relative;
  @apply bg-gray-500;
  img {
    @apply w-full;
  }
}

.image-card-tag__wrapper {
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply absolute;
  @apply z-10;
  @apply w-full;
  @apply mt-1;
  @apply px-4;
  @apply flex-wrap;

  @screen md {
    @apply items-start;
    @apply justify-start;
  }
}

.image-card__figcaption {
  @apply absolute;
  @apply inset-x-0;
  @apply bottom-0;
  @apply py-1;
}

.image-card__placeholder {
  height: 300px;
}

.image-card__tag {
  @apply absolute;
  @apply top-0;
  @apply p-3;
  @apply m-5;
}

.image-card__title {
  @apply text-white;
  @apply text-left;
  @apply text-lg;
  @apply uppercase;
  @apply font-alt-sans;
  @apply relative;
  @apply z-10;
  @apply tracking-wider;
  @apply px-5;
  @apply pb-1;
  @screen md {
    @apply text-3xl;
  }
}

.image-card__subtitle {
  @apply text-white;
  @apply text-left;
  @apply uppercase;
  @apply font-alt-sans;
  @apply text-sm;
  @apply px-5;
  @apply pb-3;
  @apply relative;
  @apply z-10;
  @apply tracking-widest;
}

.image-card--leader {
  @apply w-full;

  @screen md {
    @apply pe-8;
    @apply pt-8;
  }

  .image-card__title {
    @apply text-4xl;
    @apply text-center;
  }
}
