.info-card {
  @apply p-6;
  @apply rounded;
  @apply border;
  @apply border-gray-450;
  @apply mb-4;
  @apply bg-white;
}

.info-card.is-normal-primary-lighter,
.markdown .info-card {
  @apply bg-primary-lighter;

  .info-card__title {
    @apply text-base;
    @apply normal-case;
    @apply tracking-normal;
  }
}

.info-card__title {
  @apply text-gray-800;
  @apply uppercase;
  @apply font-sans;
  @apply font-bold;
  @apply text-sm;
  @apply tracking-wide;
}

.info-card__header {
  &:not([class*="mb-"]) {
    @apply mb-4;
  }
}

.info-card__columns {
  @apply flex;
}

.info-card__column {
  @apply flex-1;
  @apply flex-wrap;
}
.info-card__column-2 {
  flex: 1 1 100%;
  @apply mt-4;
  @apply mr-4;
  @media (min-width: 440px) {
    flex: 1 1 45%;
  }
}
