.info-card {
  --padding: var(--bloom-s6);
  --margin-bottom: var(--bloom-s4);
  --border-color: var(--bloom-color-gray-450);
  --background-color: var(--bloom-color-white);
  --background-color-lighter: var(--bloom-color-primary-lighter);
  --title-color: var(--bloom-color-gray-800);
  --title-font-size: var(--bloom-font-size-sm);
  --title-font-size-lighter: var(--bloom-font-size-base);
  --title-font-family: var(--bloom-font-sans);
  --title-text-transform: uppercase;
  --title-text-transform-lighter: none;
  --title-letter-spacing: 0.025em;
  --title-letter-spacing-lighter: 0;

  padding:var(--padding);
  border-color:var(--border-color);
  margin-bottom:var(--margin-bottom);
  border-radius: 0.25rem;
  border-width:1px;
  background-color:var(--background-color);
}

.info-card.is-normal-primary-lighter,
.markdown .info-card {
  background-color:var(--background-color-lighter);

  .info-card__title {
    font-size: var(--title-font-size-lighter);
    text-transform: var(--title-text-transform-lighter);
    letter-spacing: var(--title-letter-spacing-lighter);
  }
}

.info-card__title {
  color: var(--title-color);
  text-transform: var(--title-text-transform);
  font-weight: bold;
  font-size: var(--title-font-size);
  font-family: var(--title-font-family);
  letter-spacing: var(--title-letter-spacing);
}

.info-card__header {
  &:not([class*="mb-"]) {
    margin-bottom:var(--bloom-s4);
  }
}

