.media-card {
  @apply bg-gray-450;
  @apply w-64;
  @apply rounded;
  @apply border-none;
}
.media-block {
  @apply py-6;
  @apply w-full;
  @apply rounded;
  background-color: #1a5049;
}

.media-description {
  @apply p-6;
}
.media-card__title {
  color: #1a5049;
  @apply font-sans;
  @apply font-bold;
  @apply text-sm;
  @apply tracking-wide;
  @apply cursor-pointer;
}

.media-card__subtitle {
  @apply pt-6;
  @apply text-sm;
}

.media-modal {
  @apply rounded-sm;
  @apply border-none;
  min-width: 50vw;

  header {
    @apply px-6;
    h1 {
      @apply pr-4;
      @apply text-sm;
      @screen md {
        @apply text-xl;
      }
    }
  }
  button {
    top: 0.75rem;
    right: 0.75rem;
    margin-left: 1rem;
  }
}

.media-modal-inner {
  padding: 0 !important;
  padding-top: 66.6% !important;
  position: relative;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}
