.media-card {
  --header-height: var(--bloom-s24);
  --title-color: var(--bloom-color-primary-dark);
  --title-font-size: var(--bloom-font-size-base);
  --title-font-family: var(--bloom-font-sans);
  --title-font-spacing: var(--bloom-letter-spacing-wide);
  --subtitle-font-size: var(--bloom-font-size-tiny);
  --content-bg-color: var(--bloom-color-gray-200);
  --card-border: var(--bloom-border-1) solid var(--bloom-color-gray-450);
  --card-border-rounded: var(--bloom-rounded);
  --card-padding: var(--bloom-s6);
  border: var(--card-border);
  border-radius: var(--card-border-rounded);
  background-color: var(--content-bg-color);
}

.media-card__header {
  height: var(--header-height);
  border-top-right-radius: calc(var(--card-border-rounded) - var(--bloom-border-1));
  border-top-left-radius: calc(var(--card-border-rounded) - var(--bloom-border-1));
  background-color: var(--title-color);
  cursor: pointer;
  position: relative;
  svg {
    position: absolute;
    // Explicit values since reflective of icon size
    top: calc(50% - 1.5rem);
    left: calc(50% - 1.5rem);
  }
}

.media-card__header-container {
  width: 100%;
}

.media-card__body {
  padding: var(--card-padding);
}

.media-card__title {
  color: var(--title-color);
  font-size: var(--title-font-size);
  font-family: var(--title-font-family);
  letter-spacing: var(--title-font-spacing);
  text-align: left;
  font-weight: 700;
}

.media-card__subtitle {
  padding-top: var(--card-padding);
  font-size: var(--subtitle-font-size);
}
