@import "../global/mixins.scss";

.view-item {
  @apply relative;
  @apply text-base;
  @apply mb-4;

  &:last-of-type {
    @apply mb-0;
  }

  &.is-flagged {
    @apply bg-warn-light;
    @apply -my-1;
    @apply py-1;
    @apply -ml-8;
    @apply pl-8;
    box-shadow: inset 2px 0px 0px 0px $tailwind-warn;
  }

  .edit-link {
    @apply absolute;
    right: 0;
    top: 0;
  }
}

.view-item__label {
  @apply text-gray-800;
  @apply font-sans;
  @apply text-tiny;
  @apply block;
}

.view-item__value {
  @apply font-alt-sans;
  @apply tracking-wide;
  @apply font-semibold;
  @apply block;
  padding-top: 10px;

  &.is-truncated {
    @include ellipsis;
  }

  // do not change font-family for inputs
  .field .control .input,
  .error-message {
    @apply font-sans;
    @apply font-normal;
  }
}

.view-item__helper {
  @apply text-gray-750;
  @apply font-sans;
  @apply text-tiny;
  @apply block;
}
