.info-cards__header {
  @apply mb-3;

  @screen md {
    margin-right: 1rem;
  }
}

.info-cards__title {
  @apply font-alt-sans;
  @apply uppercase;
  @apply text-tiny;
  @apply mb-5;
  @apply pb-2;
  @apply border-0;
  @apply border-b-4;
  @apply border-primary;
  @apply font-semibold;
  @apply text-gray-800;
  @apply tracking-widest;
  @apply inline-block;
}

.info-cards__subtitle {
  @apply font-serif;
  @apply mb-5;
}

.info-cards__grid {
  @screen md {
    @apply flex;
    @apply flex-wrap;
    column-gap: 1rem;
  }

  .info-card {
    & > :not(.info-card__title) {
      @apply text-tiny;
    }

    @screen md {
      width: calc(50% - 0.5rem);
      margin-right: auto;
    }
  }
}

// These will be removed as we sync this component
.info-card {
  @apply p-6;
  @apply rounded;
  @apply border;
  @apply border-gray-450;
  @apply mb-4;
  @apply bg-white;
}

.info-card.is-normal-primary-lighter,
.markdown .info-card {
  @apply bg-primary-lighter;

  .info-card__title {
    @apply text-base;
    @apply normal-case;
    @apply tracking-normal;
  }
}

.info-card__title {
  @apply text-gray-800;
  @apply uppercase;
  @apply font-sans;
  @apply font-bold;
  @apply text-sm;
  @apply tracking-wide;
}

.info-card__header {
  &:not([class*="mb-"]) {
    @apply mb-4;
  }
}

.info-card__columns {
  @apply flex;
  @apply flex-wrap;
}

.info-card__column {
  @apply flex-1;
}

.info-card__column-2 {
  flex: 1 1 100%;
  @apply mt-4;
  @apply mr-4;
  @media (min-width: 440px) {
    flex: 1 1 45%;
  }
}
