
.resource-section-header {
  margin-block-end: var(--seeds-spacer-content);
  .resource-section-title {
    font-family: var(--seeds-font-sans);
    font-size: var(--seeds-type-heading-size-2xl);
    font-weight: var(--seeds-font-weight-semibold);
  }
  
  .resource-section-subtitle {
    margin-block-start: var(--seeds-spacer-header);
  }
}
