.site-layout {
  --page-header-layout-content-bg-color: var(--seeds-bg-color-canvas);

  .site-content {
    margin-inline: auto;
    display: flex;
    flex-direction: column;

    .resources-section-wrapper {
      display: flex;
      flex-direction: column;
      gap: var(--seeds-spacer-section);
    }

    .contact-card {
      padding: var(--seeds-spacer-content);
      display: flex;
      flex-direction: column;
      gap: var(--seeds-spacer-content);
      margin-bottom: var(--seeds-spacer-section);

      .contact-card-subsection {
        display: flex;
        flex-direction: column;
        gap: var(--seeds-s4);
      }

      .contact-card-title {
        font-weight: var(--seeds-font-weight-semibold);
      }

      .contact-card-description {
        color: var(--seeds-text-color-light);
      }

      .contact-card-info {
        font-weight: var(--seeds-font-weight-bold);
      }
    }

    .aside-section {
      margin-block-start: var(--seeds-spacer-content);
      width: var(--seeds-width-6xl);
      @media (--md-and-up) {
        padding-inline-start: var(--seeds-s8);
        margin-block-start: unset;
      }
    }
  }
}
