.data-table {
  border-spacing: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-collapse: separate;
  overflow: hidden;
  border: var(--seeds-border-1) solid var(--seeds-border-color);
  border-bottom: 0;
  width: 100%;
  thead {
    border-radius: var(--seeds-rounded-md);
    tr {
      th {
        text-transform: none;
        letter-spacing: normal;
        background-color: var(--seeds-bg-color-canvas);
        color: var(--seeds-text-color-dark);
      }
    }
  }
  tbody {
    td {
      padding: var(--seeds-s4);
      border-bottom: var(--seeds-border-1) solid var(--seeds-border-color);
    }
    tr:last-child > td {
      border-bottom: 0;
    }
  }

  tr:nth-of-type(even) {
    background-color: var(--seeds-color-white);
  }

  .loading-row {
    height: 100%;
    .loading-spinner {
      height: 100%;
      > div {
        height: 100%;
        background-color: var(--seeds-color-white);
        border-radius: 0;
      }
      .loading-content {
        height: 200px;
        width: 100%;
      }
    }
  }
}

.pagination {
  display: flex;
  gap: var(--seeds-s4);
  padding: var(--seeds-s4);
  width: 100%;
  justify-content: space-between;
  border: var(--seeds-border-1) solid var(--seeds-border-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--seeds-bg-color-canvas);
  .pagination-info-right {
    display: flex;
    align-items: center;
    gap: var(--seeds-s8);
  }
  .show-numbers-container {
    .show-label {
      font-size: var(--seeds-font-size-sm);
      margin-inline-end: var(--seeds-s2);
    }
    .show-select {
      font-size: var(--seeds-font-size-base);
      border: var(--seeds-border-1) solid var(--seeds-border-color);
      padding: var(--seeds-s2);
    }
  }
}
