.export-terms-field {
  overflow: hidden;
  padding-top: var(--seeds-s6);
}

.export-terms-header {
  h1 {
    font-family: var(--seeds-font-serif);
  }
}

.terms-of-use-text {
  font-size: var(--seeds-font-size-lg);
  font-weight: var(--seeds-font-weight-semibold);
  font-family: var(--seeds-font-sans);
}
