.status-bar {
  border: 1px solid var(--seeds-border-color);
  background-color: var(--seeds-bg-color-surface);

  .status-bar__row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 1rem auto;
    justify-content: space-between;
    padding-inline: var(--seeds-s5);
    align-items: center;
    margin-block: var(--seeds-s3);
    max-width: var(--seeds-screen-xl);

    &.tag-only {
      justify-content: flex-end;
    }

    .status-bar__tag {
      @media (--md-and-up) {
        width: calc(3 / 12 * 100%);
        padding-left: var(--seeds-s6);
      }
    }
  }
}

.status-bar-no-content {
  border-bottom: 0;
}
