.editor {
  padding: var(--seeds-s2);
  border: 1px solid var(--seeds-color-gray-500);
  border-radius: var(--seeds-s1);
  :first-child {
    margin-top: 0;
  }

  ol {
    list-style: decimal;
  }
  ul {
    list-style: disc;
  }
  p:not(li *) {
    padding-block: 0.25em;
  }

  ul,
  ol {
    margin-left: var(--seeds-s5);
    margin-block-end: 0.5em;
  }

  hr {
    border: none;
    border-top: 1px solid var(--seeds-color-gray-500);
    margin: var(--seeds-spacer-label) 0;
  }

  .editor-menu {
    button {
      border: 1px solid var(--seeds-color-gray-500);
      border-radius: var(--seeds-s1);
      padding: var(--seeds-s1);
      &:hover {
        background-color: var(--seeds-color-gray-100);
        outline: 2px solid var(--seeds-color-gray-500);
      }
    }
    margin-bottom: var(--seeds-s1);
    display: flex;
    flex-wrap: wrap;
    gap: var(--seeds-s1);
  }
  [role="textbox"] {
    border: 1px solid var(--seeds-color-gray-500);
    border-radius: var(--seeds-s1);
    background-color: var(--seeds-color-gray-200);
    padding: var(--seeds-s2);
  }
}
