.editor {
  padding: var(--seeds-s3);
  border: 1px solid var(--seeds-color-gray-500);
  border-radius: var(--seeds-s1);
  :first-child {
    margin-top: 0;
  }

  ol {
    list-style: decimal;
  }
  ul {
    list-style: disc;
  }
  p:not(li *) {
    padding-block: 0.25em;
  }

  ul,
  ol {
    margin-left: var(--seeds-s5);
    margin-block-end: 0.5em;
  }

  hr {
    border: none;
    border-top: 1px solid var(--seeds-color-gray-500);
    margin: var(--seeds-spacer-label) 0;
  }

  a {
    color: var(--seeds-color-blue-500);
    text-decoration: underline;
    &:hover {
      cursor: pointer;
    }
  }

  .editor-menu {
    button {
      border: 2px solid var(--seeds-color-primary);
      border-radius: var(--seeds-s1);
      padding: var(--seeds-s1);
      background-color: var(--seeds-color-white);
      svg {
        color: var(--seeds-color-primary);
      }
      &:hover {
        background-color: var(--seeds-color-primary);
        svg {
          color: var(--seeds-color-white);
        }
      }
      &:focus-visible {
        outline: var(--seeds-focus-ring-outline);
        box-shadow: var(--seeds-focus-ring-box-shadow);
      }
      &[disabled],
      &[disabled]:hover {
        background-color: var(--seeds-color-bg-color-surface);
        border-color: var(--seeds-color-gray-450);
        color: var(--seeds-color-gray-450);
        svg {
          color: var(--seeds-color-gray-450);
        }
        cursor: default;
      }
    }
    margin-bottom: var(--seeds-s2);
    display: flex;
    flex-wrap: wrap;
    gap: var(--seeds-s1);
  }
  [role="textbox"] {
    border: 1px solid var(--seeds-color-gray-500);
    border-radius: var(--seeds-s1);
    background-color: var(--seeds-color-gray-200);
    padding: var(--seeds-s2);
    &:focus {
      outline: var(--seeds-focus-ring-outline);
      box-shadow: var(--seeds-focus-ring-box-shadow);
    }
  }
}
