:root {
  --bloom-s0_5: 0.125rem;
  --bloom-s1: 0.25rem;
  --bloom-s1_5: 0.375rem;
  --bloom-s2: 0.5rem;
  --bloom-s2_5: 0.625rem;
  --bloom-s3: 0.75rem;
  --bloom-s3_5: 0.875;
  --bloom-s4: 1rem;
  --bloom-s5: 1.25rem;
  --bloom-s6: 1.5rem;
  --bloom-s7: 1.75rem;
  --bloom-s8: 2rem;
  --bloom-s9: 2.25rem;
  --bloom-s10: 2.5rem;
  --bloom-s11: 2.75rem;
  --bloom-s12: 3rem;
  --bloom-s14: 3.5rem;
  --bloom-s16: 4rem;
  --bloom-s20: 5rem;
  --bloom-s24: 6rem;
  --bloom-s28: 7rem;
  --bloom-s32: 8rem;
  --bloom-s36: 9rem;
  --bloom-s40: 10rem;
  --bloom-s44: 11rem;
  --bloom-s48: 12rem;
  --bloom-s52: 13rem;
  --bloom-s56: 14rem;
  --bloom-s60: 15rem;
  --bloom-s64: 16rem;
  --bloom-s72: 18rem;
  --bloom-s80: 20rem;
  --bloom-s96: 24rem;

  --bloom-width-xs: 20rem;
  --bloom-width-sm: 24rem;
  --bloom-width-md: 28rem;
  --bloom-width-lg: 32rem;
  --bloom-width-xl: 36rem;
  --bloom-width-2xl: 42rem;
  --bloom-width-3xl: 48rem;
  --bloom-width-4xl: 56rem;
  --bloom-width-5xl: 64rem;
  --bloom-width-6xl: 72rem;
  --bloom-width-7xl: 80rem;
  --bloom-width-prose: 65ch;
}
