.collapsible-section {
  border-block-start: 1px solid var(--seeds-border-color);
  .header {
    display: flex;
    flex-direction: row;
    background-color: var(--seeds-bg-color-muted);

    .header-content {
      width: 100%;
      color: var(--seeds-text-color);
      padding-inline: var(--seeds-spacer-section);
      padding-block: var(--seeds-spacer-content);
      @media (--sm-only) {
        padding-inline: var(--seeds-s4);
      }
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: start;

      .heading {
        font-size: var(--seeds-type-heading-size-2xl);
        font-family: var(--seeds-font-alt-sans);
        margin-block-end: var(--seeds-spacer-label);
      }
    }

    .button-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .header-button {
    width: 100%;
    height: 100%;
    font-size: var(--seeds-s10);
    line-height: normal;
    font-weight: lighter;
    padding-inline: var(--seeds-spacer-section);
    @media (--sm-only) {
      padding-inline: var(--seeds-s4);
    }
    display: flex;
    align-items: center;
    color: var(--seeds-color-primary);
  }

  .content {
    margin-block-end: var(--seeds-spacer-section);
  }
}

.collapsible-button {
  width: 100%;
}

.collapsed-section {
  margin-block-end: var(--seeds-spacer-section);
}
