.collapsible-section {
  border-top: 1px solid var(--seeds-border-color);
  .header {
    display: flex;
    flex-direction: row;
    background-color: var(--seeds-bg-color-muted);
    margin-bottom: var(--seeds-spacer-section);

    .header-content {
      width: 100%;
      color: var(--seeds-text-color);
      padding: var(--seeds-s6);
      .heading {
        font-size: var(--seeds-type-heading-size-2xl);
        font-family: var(--seeds-font-alt-sans);
        margin-bottom: var(--seeds-spacer-label);
      }
    }

    .button-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .header-button {
    width: 100%;
    height: 100%;
    font-size: var(--seeds-s10);
    line-height: normal;
    font-weight: lighter;
    padding-inline: var(--seeds-s8);
    display: flex;
    align-items: center;
    color: var(--seeds-color-primary);
  }

  .content {
    margin-bottom: var(--seeds-spacer-section);
  }
}
