.content-page {
  --content-page-padding-desktop: var(--seeds-spacer-container);
  --content-page-padding-mobile: var(--seeds-s8);

  .header-container {
    background-color: var(--seeds-bg-color-surface-primary-inverse);
  }

  .header {
    padding: var(--content-page-padding-desktop);
    margin: auto;
    max-width: var(--seeds-width-3xl);

    @media (--md-down) {
      padding: var(--content-page-padding-mobile);
    }
  }

  .header-text-group {
    --subheading-font-size: var(--seeds-font-size-lg);
    --heading-color: var(--seeds-color-on-inverse);
    --subheading-color: var(--seeds-color-on-inverse);
    --subheading-margin: var(--seeds-s6) 0;

    h1,
    p {
      font-family: var(--seeds-font-alt-sans);
    }

    h1 {
      font-weight: var(--seeds-font-weight-semibold);
    }
  }

  .header-text {
    color: var(--seeds-color-on-inverse);
    font-family: var(--seeds-font-alt-sans);
  }

  .body {
    font-family: var(--seeds-font-alt-sans);
    padding: var(--content-page-padding-desktop);
    margin: auto;
    max-width: var(--seeds-width-3xl);
    @media (--md-down) {
      padding: var(--content-page-padding-mobile);
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--seeds-font-alt-sans);
      font-weight: var(--seeds-font-weight-semibold);
      padding-top: var(--seeds-spacer-content);
    }

    h2:first-child {
      padding-top: 0;
    }

    h2 {
      font-size: var(--seeds-type-heading-size-3xl);
      @media (--md-down) {
        font-size: var(--seeds-type-heading-size-3xl-mobile);
      }
    }
    h3 {
      font-size: (--seeds-type-heading-size-2xl);
      @media (--md-down) {
        font-size: var(--seeds-type-heading-size-2xl-mobile);
      }
    }
    h4 {
      font-size: (--seeds-font-size-xl);
      @media (--md-down) {
        font-size: var(--seeds-type-heading-size-lg);
      }
    }
    h5 {
      font-size: var(--seeds-font-size-lg);
    }
    h6 {
      font-size: var(--seeds-type-heading-size-md);
    }

    ol,
    ul,
    p {
      padding-top: var(--seeds-spacer-header);
    }

    ul {
      list-style: disc;
      list-style-position: inside;
    }

    ol {
      list-style: decimal;
      list-style-position: inside;
    }

    li + li,
    p + p {
      padding-top: var(--seeds-spacer-text);
    }

    hr {
      margin-block: var(--seeds-s4);
    }
  }
}
