.ordered-section {
  display: flex;
  flex-direction: row;
  font-size: var(--seeds-font-size-base);
  margin-block: var(--seeds-spacer-section);
  width: 100%;

  @media (--sm-only) {
    flex-direction: column;
  }

  .number-container {
    @media (--sm-only) {
      margin-block-end: var(--seeds-s4);
    }
    @media (--sm-and-up) {
      margin-inline-end: var(--seeds-s4);
    }

    .number-circle {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--seeds-bg-color-muted);
      font-size: var(--seeds-s8);
      width: var(--seeds-s14);
      height: var(--seeds-s14);
      border-radius: var(--seeds-rounded-full);
      color: var(--seeds-text-color-darker);
    }
  }

  .content {
    width: 100%;

    .heading {
      --heading-color: var(--seeds-text-color-darker);
      p {
        color: var(--seeds-text-color);
        margin-block-end: 0;
      }
    }

    .note {
      margin-block-start: var(--seeds-s4);
    }
  }
}
