.read-more {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .read-more-button {
    // TODO: Pull in new seeds link color token
    color: var(--seeds-color-blue-500);
    text-decoration: underline;
  }
}
