.read-more {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-wrap: anywhere;

  .read-more-button {
    color: var(--seeds-color-primary);
    text-decoration: underline;
  }
}
