.drawer {
  @apply flex;
  @apply flex-col;
  @apply bg-gray-200;
  @apply max-w-5xl;
  @apply border-l;
  @apply w-full;
  @apply absolute;
  @apply top-0;
  @apply right-0;
  @apply bottom-0;
  @apply left-auto;
  @apply overflow-y-auto;
}

.fixed-overlay.has-drawer {
  &.overlay-effect-enter,
  &.overlay-effect-exit-active {
    .fixed-overlay__inner {
      opacity: 0.5;
      transform: translate(100px, 0px);
    }
  }
  &.overlay-effect-exit-active {
    .fixed-overlay__inner {
      opacity: 0;
    }
  }
  &.overlay-effect-enter-active {
    .fixed-overlay__inner {
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }

  .fixed-overlay__inner {
    @apply w-full;
    @apply h-full;
    @apply max-w-5xl;
    @apply mr-0;
  }

  &.is-direction-left {
    .fixed-overlay__inner {
      @apply ml-0;
      @apply mr-auto;
    }
    &.overlay-effect-enter,
    &.overlay-effect-exit-active {
      .fixed-overlay__inner {
        transform: translate(-100px, 0px);
      }
    }
    &.overlay-effect-enter-active {
      .fixed-overlay__inner {
        transform: translate(0px, 0px);
      }
    }
  }
}

.drawer__header {
  @apply flex;
  @apply items-center;
  @apply relative;
  @apply bg-white;
  @apply p-5;
  @apply border-b;
  flex: 0 0 4.625rem;
}

.drawer__close {
  @apply absolute;
  top: 1.625rem;
  left: 1.5rem;
}

.drawer__title {
  @apply font-alt-sans;
  @apply text-xl;
  @apply ml-10;
}

.is-direction-left {
  .drawer__title {
    @apply ml-0;
  }
  .drawer__close {
    left: auto;
    right: 1.5rem;
  }
}

.drawer__body {
  @apply overflow-y-auto;
  @apply relative;
  @apply h-full;
  //  flex: 1 1 auto;
}

.drawer__content {
  @apply m-auto;
  @apply px-4;
  @apply pt-8;
  @apply pb-4;
  @apply overflow-y-visible;
}
