.modal {
  --title-color: var(--bloom-color-gray-900);
  --background-color: var(--bloom-color-white);
  --footer-background-color: var(--bloom-color-primary-lighter);
  --footer-align: normal;
  --modal-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --modal-border: 1px solid var(--bloom-color-gray-400);

  position: relative;
  max-width: var(--bloom-width-5xl);
  margin: auto;
  border: var(--modal-border);
  background-color: var(--background-color);
  border-radius: var(--bloom-rounded-md);
  box-shadow: var(--modal-shadow);

  @media (min-width: $screen-md) {
    min-width: var(--bloom-width-lg);
  }
}

// Content containers
.modal__header,
.modal__inner,
.modal__footer {
  @apply py-4;
  @apply px-8;
}

.modal__header {
  @apply pt-8;
}

.modal__title {
  color: var(--title-color);
  font-size: var(--bloom-font-size-xl);
}

.modal__inner {
  &:last-of-type {
    @apply rounded-b;
  }

  &.is-scrollable {
    max-height: calc(100vh - 200px);
    @apply overflow-y-auto;
  }
}

.modal__footer {
  background-color: var(--footer-background-color);
  border-bottom-right-radius: var(--bloom-rounded);
  border-bottom-left-radius: var(--bloom-rounded);
  display: flex;
  flex-direction: row-reverse;
  gap: var(--bloom-s5);
  justify-content: var(--footer-align);
}

.modal__close {
  @apply absolute;
  top: 1.5rem;
  right: 2rem;
  cursor: pointer;
}

// Loading container for modal
.modal__loading {
  @apply w-full;
  @apply flex;
  @apply text-center;
  @apply items-center;
  @apply justify-center;
  min-height: 12rem;
}
