.modal {
  @apply relative;
  @apply max-w-5xl;
  @apply m-auto;
  @apply border;
  @apply border-solid;
  @apply border-gray-400;
  @apply bg-white;
  @apply rounded-md;
  @apply shadow-md;
  min-width: 25rem;
}

// Content containers
.modal__header,
.modal__inner,
.modal__footer {
  @apply py-4;
  @apply px-8;
}

.modal__header {
  @apply pt-8;
}

.modal__title {
  @apply text-xl;
}

.modal__inner {
  &:last-of-type {
    @apply rounded-b;
  }
}

.modal__footer {
  @apply rounded-b;
}

.modal__close {
  @apply absolute;
  top: 1.5rem;
  right: 2rem;
  cursor: pointer;
}

// Loading container for modal
.modal__loading {
  @apply w-full;
  @apply flex;
  @apply text-center;
  @apply items-center;
  @apply justify-center;
  min-height: 12rem;
}
