.modal {
  /* Component Variables */
  --title-font-size: var(--bloom-font-size-base-alt);
  --title-font-family: var(--bloom-font-sans);
  --content-font-color: var(--bloom-color-gray-700);
  --max-width: var(--bloom-width-5xl);
  --desktop-min-width: var(--bloom-width-lg);
  --footer-background-color: var(--bloom-color-primary-lighter);
  --border-radius: var(--bloom-rounded);

  position: relative;
  max-width: var(--max-width);
  margin: auto;
  border: var(--bloom-border-1) solid var(--border-color);
  background-color: var(--bloom-color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--bloom-shadow-md);

  @media (min-width: $screen-md) {
    min-width: var(--desktop-min-width);
  }
}

.modal__header,
.modal__inner,
.modal__footer {
  padding: var(--bloom-s4) var(--bloom-s6) var(--bloom-s4) var(--bloom-s6);
}

.modal__header {
  padding-top: var(--bloom-s8);
}

.modal__title {
  padding: var(--bloom-s6) var(--bloom-s6) 0 var(--bloom-s6);
  font-size: var(--title-font-size);
  font-family: var(--title-font-family);
}

.modal__inner {
  padding-top: var(--bloom-s8);
  padding-bottom: var(--bloom-s8);

  &:last-of-type {
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }

  &.is-scrollable {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
  }
  p {
    color: var(--content-font-color);
  }
}

.modal__footer {
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  background-color: var(--footer-background-color);
}

.modal__close {
  position: absolute;
  top: var(--bloom-s5);
  right: var(--bloom-s5);
  cursor: pointer;
}

.modal__loading {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: var(--bloom-s48);
}
