.modal {
  @apply relative;
  @apply max-w-5xl;
  @apply m-auto;
  @apply border;
  @apply border-solid;
  @apply border-gray-400;
  @apply bg-white;
  @apply rounded;
  @apply shadow-md;

  @screen md {
    min-width: 32rem;
  }
}

.modal__header,
.modal__inner,
.modal__footer {
  @apply py-4;
  @apply px-6;
}

.modal__header {
  @apply pt-8;
}

.modal__title {
  @apply pt-6;
  @apply px-6;
  font-size: var(--bloom-font-size-base-alt);
  font-family: var(--bloom-font-sans);
}

.modal__inner {
  @apply pt-6;
  @apply pb-6;
  padding-bottom: var(--bloom-s8);
  padding-top: var(--bloom-s5);

  &:last-of-type {
    @apply rounded-b;
  }

  &.is-scrollable {
    max-height: calc(100vh - 200px);
    @apply overflow-y-auto;
  }
  p {
    color: var(--bloom-color-gray-700);
  }
}

.modal__footer {
  @apply rounded-b;
  background-color: var(--bloom-color-primary-lighter);
}

.modal__close {
  @apply absolute;
  top: var(--bloom-s5);
  right: var(--bloom-s5);
  cursor: pointer;
}

// Loading container for modal
.modal__loading {
  @apply w-full;
  @apply flex;
  @apply text-center;
  @apply items-center;
  @apply justify-center;
  min-height: 12rem;
}
