.modal {
  /* Component Variables */
  --title-color: var(--bloom-color-gray-900);
  --title-font-size: var(--bloom-font-size-base-alt);
  --title-font-family: var(--bloom-font-sans);
  --content-font-color: var(--bloom-color-gray-700);
  --content-padding-block: var(--bloom-s6);
  --max-width: var(--bloom-width-5xl);
  --desktop-min-width: var(--bloom-width-lg);
  --footer-background-color: var(--bloom-color-primary-lighter);
  --border-radius: var(--bloom-rounded);
  --mobile-border-radius: 0;
  --background-color: var(--bloom-color-white);
  --modal-shadow: var(--bloom-shadow-md);
  --modal-border: var(--bloom-border-1) solid var(--bloom-color-gray-400);
  --footer-justify: normal;
  --footer-height: 150px;
  overflow: auto;

  position: relative;
  max-width: var(--max-width);
  max-height: 100vh;
  margin: auto;
  border: var(--modal-border);
  background-color: var(--background-color);
  box-shadow: var(--modal-shadow);
  width: 100vw;
  border-radius: var(--mobile-border-radius);

  @media (min-width: $screen-sm) {
    border-radius: var(--border-radius);
    min-width: var(--desktop-min-width);
    width: auto;
  }

  max-height: 100vh;
  max-width: 100vw;
  @media (min-width: $screen-md) {
    max-height: calc(100vh - var(--bloom-s6));
    max-width: calc(100vw - var(--bloom-s6));
  }
}

.modal__header {
  min-height: var(--bloom-s14);
}

.modal__title {
  padding-block: var(--bloom-s6) var(--bloom-s3);
  padding-inline: var(--bloom-s6) var(--bloom-s12);
  padding-bottom: 0;
  color: var(--title-color);
  font-size: var(--title-font-size);
  font-family: var(--title-font-family);
}

.modal__inner {
  padding-block: var(--content-padding-block);
  padding-inline: var(--bloom-s6);

  &:last-of-type {
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }

  &.is-scrollable {
    max-height: calc(100vh - var(--footer-height));
    max-width: 100vw;
    @media (min-width: $screen-md) {
      max-height: calc(100vh - (var(--footer-height) + var(--bloom-s6)));
      max-width: calc(100vw - var(--bloom-s6));
      margin-bottom: auto;
    }
    overflow-y: auto;
  }

  p {
    color: var(--content-font-color);
  }
}

.modal__footer {
  padding: var(--bloom-s6);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  background-color: var(--footer-background-color);

  display: flex;
  flex-direction: row-reverse;
  gap: var(--bloom-s5);
  justify-content: var(--footer-justify);
  align-items: center;
}

.modal__close {
  position: absolute;
  top: var(--bloom-s5);
  right: var(--bloom-s5);
  cursor: pointer;
}

.modal__loading {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: var(--bloom-s48);
}
