@import "@bloom-housing/ui-components/styles/mixins.scss";

.image-card {
  @apply relative;
  
  img {
    @apply w-full;
  }
}

.image-card__figcaption {
  @apply absolute;
  @apply inset-x-0;
  @apply bottom-0;

  &:before {
    @include overlay-image;
    @include custom-linear-gradient(transparent, rgba(0, 0, 0, 0.8));
  }
}

.image-card__title {
  @apply text-white;
  @apply text-left;
  @apply text-3xl;
  @apply uppercase;
  @apply font-alt-sans;
  @apply relative;
  @apply z-10;
  @apply tracking-wider;
  @apply py-3;
  @apply px-5;
}

.image-card--leader {
  @apply w-full;
  
  @screen md {
    @apply w-2/3;
    @apply pr-8;
    @apply pt-8;
  }

  .image-card__title {
    @apply text-4xl;
    @apply text-center;
  }
}