.info-card {
  @apply p-6;
  @apply rounded;
  @apply border;
  @apply border-gray-400;
  @apply mb-4;
  @apply bg-white;

  &.is-normal-primary-lighter {
    @apply bg-primary-lighter;

    .info-card__title {
      @apply text-base;
      @apply normal-case;
      @apply tracking-normal;
    }
  }
}

.info-card__title {
  &:not([class*="mb-"]) {
    @apply mb-4;
  }

  @apply text-gray-800;
  @apply uppercase;
  @apply font-sans;
  @apply font-bold;
  @apply text-sm;
  @apply tracking-wide;
}

.info-card__columns {
  @apply flex;
}

.info-card__column {
  @apply flex-1;
}