.doorway-linkable-card-group {
  max-width: var(--bloom-width-5xl);
  display: flex;
  flex-direction: row;
  @media (max-width: $screen-lg) {
    flex-direction: column;
  }
  a {
    text-decoration: underline;
    color: var(--bloom-color-primary-lighter);

    &:hover {
      color: var(--bloom-color-primary-light);
    }
  }
}

.doorway-linkable-card-group_nav {
  min-width: var(--bloom-width-sm);

  @media (max-width: $screen-lg) {
    // TODO: add responsive styling here instead of hiding.
    padding: var(--doorway-standard-spacing);
  }
}
