.listing-directory {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  font-family: var(--seeds-font-alt-sans);

  ul {
    list-style-type: none;
  }

  .content-wrapper {
    width: 100%;
    max-width: var(--seeds-screen-lg);
    display: flex;
    flex-direction: column;
    padding-inline: var(--seeds-s2);
    padding-block: var(--seeds-s6);
    @media (--sm-and-up) {
      margin-inline: var(--seeds-spacer-content);
      padding-block: var(--seeds-spacer-container);
    }

    .content {
      width: 100%;
      max-width: var(--seeds-screen-lg);
      display: flex;
      flex-direction: column;
    }

  }

  .empty-state {
    @media (--sm-only) {
      padding: var(--seeds-spacer-content);
    }
  }

  .empty-heading {
    font-size: var(--seeds-font-size-2xl);
    @media (--md-down) {
      font-size: var(--seeds-font-size-xl);
    }
  }
  
  .pagination-container {
    width: 100%;
    padding-inline: var(--seeds-s12);
    padding-block: var(--seeds-s4);
    background-color: var(--seeds-bg-color-canvas);

    @media (--md-down) {
      padding-inline: var(--seeds-s4);
    }

    .pagination-content-wrapper {
      margin-inline: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      max-width: var(--seeds-screen-lg);
  
      @media (--md-down) {
        grid-template-columns: repeat(2, 1fr);
      }
  
      .previous-button {
        @media (--md-down) {
          grid-row-start: 2;
        }
      }
  
      .page-info {
        display: inline;
        justify-self: center;
        align-self: center;
        font-weight: var(--seeds-font-weight-bold);
  
        @media (--md-down) {
          grid-row-start: 1;
          justify-self: start;
          align-self: center;
          padding-bottom: var(--seeds-spacer-container);
        }
      }
  
      .next-button {
        justify-self: end;
  
        @media (--md-down) {
          grid-row-start: 2;
        }
      }
    }
  }
}
