<p>{{t "singleUseCodeEmail.greeting"}} {{> user-name}},</p>
<p>
    {{t "singleUseCodeEmail.message" singleUseCodeOptions }}
</p>
<p>
    {{t "singleUseCodeEmail.singleUseCode" singleUseCodeOptions}}
</p>
{{> simple-footer }}
