<p>{{t "singleUseCodeUpdateEmail.greeting"}} {{> user-name}},</p>
<p>
    {{t "singleUseCodeUpdateEmail.message" singleUseCodeOptions }}
</p>
<p>
    {{t "singleUseCodeUpdateEmail.singleUseCode" singleUseCodeOptions}}
</p>
{{> simple-footer }}
