.forgot-password {
  float: right;
  font-size: var(--seeds-font-size-sm);
}

.sign-in-error-container {
  margin-inline: var(--seeds-s4);

  @media (min-width: theme("screens.sm")) {
    margin-inline: var(--seeds-s12);
  }
}

.create-account-header {
  font-weight: var(--seeds-font-weight-semibold);
  margin-bottom: var(--seeds-s6);
}

.sign-in-error {
  margin-top: var(--seeds-s6);
  width: 100%;
}

.sign-in-email-input {
  margin-bottom: var(--seeds-s6);
}

.sign-in-password-input {
  margin-bottom: var(--seeds-s6);
}

.sign-in-action {
  margin-top: var(--seeds-s6);
  color: var(--seeds-color-blue-500);
}

.create-account-copy {
  padding-bottom: var(--seeds-s6);
  color: var(--seeds-text-color-light);
  font-size: var(--seeds-type-label-size);
}

.pwdless-header {
  margin-bottom: var(--seeds-s3);
}

.default-header {
  margin-bottom: var(--seeds-s6);
}
