.page-header {
  /* Component Variables */
  --background-color: var(--bloom-color-primary-lighter);
  --border-color: var(--bloom-color-gray-450);
  --text-color: inherit;
  --inverse-background-color: var(--bloom-color-primary-dark);
  --inverse-border-color: var(--bloom-color-primary);
  --inverse-text-color: var(--bloom-color-white);
  --title-font-size: var(--bloom-font-size-5xl);

  /* Base Styles */
  padding: var(--bloom-s8) 0;
  background-color: var(--background-color);
  border-top: var(--bloom-border-1) solid var(--border-color);
  color: var(--text-color);

  @media (min-width: $screen-sm) {
    padding: var(--bloom-s10) 0;
  }

  /* Variants */
  &.is-inverse {
    --background-color: var(--inverse-background-color);
    --border-color: var(--inverse-border-color);
    --text-color: var(--inverse-text-color);
  }
}

.page-header__group {
  padding: 0 var(--bloom-s5);
  margin: auto;
  max-width: var(--bloom-width-5xl);
}

.page-header__title {
  text-align: center;

  @media (min-width: $screen-md) {
    font-size: var(--title-font-size);
    text-align: left;
  }
}

.page-header__lead {
  margin: auto;
  max-width: var(--bloom-width-5xl);
}
