.page-header {
  /* Component Variables */
  --background-color: var(--bloom-color-gray-300);
  --border-color: var(--bloom-color-gray-450);
  --text-color: inherit;
  --text-font-family: var(--bloom-font-serif);
  --inverse-background-color: var(--bloom-color-primary-darker);
  --inverse-border-color: var(--bloom-color-primary);
  --inverse-text-color: var(--bloom-color-white);
  --title-font-size: var(--bloom-font-size-5xl);

  /* Base Styles */
  padding: var(--bloom-s4) 0 var(--bloom-s8);
  background-color: var(--background-color);
  border-top: var(--bloom-border-1) solid var(--border-color);
  color: var(--text-color);

  @media (min-width: $screen-md) {
    padding: var(--bloom-s6) 0 var(--bloom-s10);
  }

  /* Variants */
  &.is-inverse {
    --background-color: var(--inverse-background-color);
    --border-color: var(--inverse-border-color);
    --text-color: var(--inverse-text-color);
  }
}

.page-header__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--bloom-s5);
  margin: auto;
  max-width: var(--bloom-width-5xl);

  @media (min-width: $screen-sm) {
    align-items: flex-start;
  }
}

.page-header__breadcrumbs {
  margin-bottom: var(--bloom-s5);
}

.page-header__title {
  text-align: center;
  font-family: var(--text-font-family);
  word-break: break-all;

  @media (min-width: $screen-md) {
    font-size: var(--title-font-size);
    text-align: left;
  }
}

.page-header__lead {
  font-family: var(--text-font-family);
  max-width: var(--bloom-width-5xl);
}
