.page-header {
  padding: var(--bloom-s8) 0;
  background-color: var(--bloom-color-primary-lighter);
  border-top: 1px solid var(--bloom-color-gray-450);

  @media (min-width: $tailwind-screen-sm) {
    padding: var(--bloom-s10) 0;
  }

  &.is-inverse {
    color: var(--bloom-color-white);
    background-color: var(--bloom-color-primary-dark);
    border-color: var(--bloom-color-primary);
  }
}

.page-header__group {
  padding: 0 var(--bloom-s5);
  margin: auto;
  max-width: var(--bloom-width-5xl);
}

.page-header__title {
  text-align: center;

  @media (min-width: $tailwind-screen-md) {
    font-size: var(--bloom-font-size-5xl);
    text-align: left;
  }
}

.page-header__lead {
  margin: auto;
  max-width: var(--bloom-width-5xl);
}
