.step-header {
  display: flex;
  flex-wrap: wrap;
  .circle-number {
    background-color: var(--bloom-color-primary);
    color: var(--bloom-color-white);
    width: var(--bloom-s6);
    height: var(--bloom-s6);
    margin-right: var(--bloom-s1_5);
    border-radius: 50%;
    text-align: center;
  }
  .step-title {
    margin-left: var(--bloom-s1_5);
    font-weight: bold;
  }
}
