.step-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .circle-number {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bloom-color-primary);
    color: var(--bloom-color-white);
    border-radius: 50%;
    min-width: var(--bloom-s6);
    height: var(--bloom-s6);
    margin-right: var(--bloom-s1_5);
  }
  .step-title {
    margin-left: var(--bloom-s1_5);
    font-weight: bold;
    align-items: center;
  }
}
