@import "tailwindcss/base";
@import "tailwindcss/components";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,900,700");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic");

html {
  -webkit-font-smoothing: antialiased;
}

body {
  @apply font-sans;
  @apply bg-white;
}



.-top {
  top: -0.8rem;
}

details.disclosure {
  position: relative;
  min-height: 3em;
  margin-bottom: 1em;
  &[open] {
    margin-bottom: 4em;
  }

  & > summary {
    @apply text-primary;

    padding: 0 3px 6px 0;
    list-style: none;
    position: absolute;
    bottom: 0;
    outline: none;
    cursor: pointer;
    &:after {
      font-size: 0.8em;
      content: "⌃";
      font-weight: bold;
      margin-left: 7px;
      transform: rotate(180deg) translateY(3px);
      display: inline-block;
    }
  }

  &[open] > summary {
    bottom: -3em;
    &:after {
      transform: rotate(0deg) translateY(2px);
    }
  }

  & > summary::-webkit-details-marker {
    display: none;
  }

  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

// Sticky footer\
html {
  height: 100%;

  body {
    display: table;
    height: 100%;
    width: 100%;
  }

  .site-container {
    display: table-row;
    height: 100%;
  }

  .footer-section {
    display: table-row;
    height: 1px;
  }
}

@import "mixins.scss";
@import "text.scss";
@import "markdown.scss";
@import "atoms.scss";
@import "homepage.scss";
@import "custom_counter.scss";
@import "hero.scss";
@import "image_card.scss";
@import "lists.scss";
@import "tables.scss";

@import "tailwindcss/utilities";
