@import "tailwindcss/base";
@import "tailwindcss/components";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,900,700");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic");

$primary-color: #0077da;
$sans-font: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
$alt-sans-font: "Lato", Helvetica, Arial, Verdana, sans-serif;
$serif-font: "Droid Serif", Georgia, Times, serif;

.t-sans {
  font-family: $sans-font;
}
.t-alt-sans {
  font-family: $alt-sans-font;
}
.t-serif {
  font-family: $serif-font;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $sans-font;
  @apply bg-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif-font;
}

a {
  color: $primary-color;
  &:hover {
    color: $primary-color;
  }
}

h1.title {
  @apply text-4xl;
}

.text-primary {
  color: $primary-color;
}
.border-primary {
  border-color: $primary-color;
}

.custom-counter_item {
  counter-increment: step-counter;
  margin-bottom: 3rem;
  margin-left: 2rem;
  padding-left: 3rem;
  position: relative;
}

.custom-counter_item::before {
  position: absolute;
  top: 0;
  left: -1rem;
  content: counter(step-counter);
  margin-right: 5px;
  color: #333;
  font-size: 4.375rem;
  line-height: 0.85;
  font-family: "Droid Serif", Georgia, Times, serif;
}

.custom-counter_header {
  border-left: 2px solid #dedee0;
  margin-bottom: 2rem;
  margin-left: -1rem;
  padding-left: 1rem;
}

table tr:nth-of-type(even) {
  background: #f5f8f9;
}

/* Hat tip to this CSS solution:
https://www.cssscript.com/pure-html5-css3-responsive-table-solution/ */

@media screen and (max-width: 639px) {
  table.responsive-collapse {
    thead {
      display: none;
    }
    tr {
      display: block;
      margin-bottom: 1.75em;
    }
    tr:nth-of-type(even) {
      background: inherit;
    }
    td:nth-of-type(even) {
      background: #f5f8f9;
    }

    td {
      display: block;
      text-align: right;
    }

    td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    td:last-child {
      border-bottom: 0;
    }
  }
}

details.disclosure {
  position: relative;
  min-height: 3em;
  margin-bottom: 1em;
  &[open] {
    margin-bottom: 4em;
  }

  & > summary {
    padding: 0 3px 6px 0;
    list-style: none;
    position: absolute;
    bottom: 0;
    outline: none;
    color: $primary-color;
    cursor: pointer;
    &:after {
      font-size: 0.8em;
      content: "⌃";
      font-weight: bold;
      margin-left: 7px;
      transform: rotate(180deg) translateY(3px);
      display: inline-block;
    }
  }
  &[open] > summary {
    bottom: -3em;
    &:after {
      transform: rotate(0deg) translateY(2px);
    }
  }

  & > summary::-webkit-details-marker {
    display: none;
  }

  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

@import "markdown.scss";
@import "homepage.scss";
@import "atoms.scss";

@import "tailwindcss/utilities";
