// Listing Detail
.detail-header {
  @apply text-blue-800;
  @apply pr-4;
  @apply pb-8;
  @apply pl-4;
  @apply pt-0;

  @screen sm {
    @apply text-sm;
  }
}

.detail-header__image {
  @apply float-left;
  @apply w-12;
  @apply mr-2;
}

.detail-header__title {
  @apply font-sans;
  @apply uppercase;

  @screen md {
    @apply text-black;
    @apply font-serif;
    @apply text-2xl;
    @apply normal-case;
  }
}

.detail-header__subtitle {
  @screen md {
    @apply text-gray-700;
  }
}

// Data lists
.column-definition-list {
  @apply float-left;

  .description__title {
    @screen md {
      @apply float-left;
      @apply w-1/3;
    }
  }

  .description__body {
    @screen md {
      @apply float-left;
      @apply w-2/3;
    }

    &:last-of-type {
      width: 100%;
    }
  }

  @screen md {
    @apply ml-20;
  }
}

// Description
.description__title {
  @apply font-serif;
  @apply text-xl;
}

.description__body {
  @apply mb-4;
}

// Box
.box {
  @apply text-sm;
  @apply text-gray-700;
  @apply rounded;
}
