table {
  @apply text-gray-750;

  strong {
    @apply font-semibold;
  }

  tr {
    @apply bg-white;
  }
}

table tr:nth-of-type(even) {
  @apply bg-primary-lighter;
}

/* Hat tip to this CSS solution:
https://www.cssscript.com/pure-html5-css3-responsive-table-solution/ */

@media screen and (max-width: 639px) {
  table.responsive-collapse {
    thead {
      display: none;
    }
    tr {
      display: block;
      margin-bottom: 1.75em;
    }
    tr:nth-of-type(even) {
      background: inherit;
    }
    td:nth-of-type(even) {
      @apply bg-primary-lighter;
    }

    td {
      display: block;
      text-align: right;
    }

    td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    td:last-child {
      border-bottom: 0;
    }
  }
}