@import "../global/mixins.scss";

.button {
  @apply bg-white;
  @apply text-primary;
  @apply border-2;
  @apply border-primary;
  @apply rounded;
  @apply px-6;
  @apply py-4;
  @apply text-lg;
  @apply text-center;
  @apply uppercase;
  @apply font-alt-sans;
  @apply inline-block;
  @apply tracking-widest;
  @apply text-sm;
  @apply font-bold;
  @apply leading-snug;

  &:hover {
    @apply bg-primary-dark;
    @apply text-white;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 3px 4px $tailwind-attention;
  }

  &.is-filled,
  &.is-primary {
    @apply bg-primary-dark;
    @apply text-white;

    &:hover {
      @apply bg-primary-darker;
    }
  }

  &.is-alert {
    @apply bg-alert;
    @apply border-alert;
    @apply text-white;

    &:hover {
      @apply bg-alert;
    }
  }

  &.is-small {
    @apply text-xs;
    @apply px-6;
    @apply py-3;
  }

  &.is-big {
    @apply px-6;
    @apply py-6;
  }

  &.is-normal-case {
    @apply normal-case;
  }

  &.is-borderless {
    @apply text-primary-darker;
    border-color: transparent;
    background: transparent;

    &:hover {
      @apply text-primary-darker;
    }
  }

  &.is-unstyled {
    @apply normal-case;
    @apply border-0;
    @apply p-0;
    @apply font-sans;
    @apply tracking-normal;
    @apply font-normal;
    @apply underline;
    @apply m-4;
    @apply text-tiny;

    &:hover {
      @apply text-primary;
      background: transparent;
    }
  }

  &.is-text-caps {
    @apply text-primary-dark;
    @apply normal-case;
    @apply border-0;
    @apply p-0;
    @apply font-sans;
    @apply tracking-normal;
    @apply font-normal;
    @apply underline;
    @apply m-4;
    @apply uppercase;
    @apply text-tiny;
    @apply block;

    &:hover {
      @apply text-primary-dark;
      background: transparent;
    }
  }
}

button {
  &.has-toggle {
    @include has-toggle;
  }
}
