name: Listings import

# This is mostly copied from the root lint action (lint.yml)

# It's kept separate to: 
# 1) make it easy to remove when no longer needed;
# 2) make it easy to break out into a separate repo before then if needed;
# 3) avoid any unecessary cross-package dependencies on node version; and
# 4) take advantage of parallelization due to long lint run durations

on:
  # Trigger the workflow on pull request,
  # but only for the main branch
  pull_request:
    branches:
      - main

jobs:
  run-etl-linter:
    name: Lint
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: tasks/import-listings

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 18

      # ESLint and Prettier must be in `package.json`
      - name: Install Node.js dependencies
        run: yarn install

      - name: Run linters
        run: yarn lint
  
  run-etl-tests:
    name: Run unit tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: tasks/import-listings

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 18

      - name: Install Node.js dependencies
        run: yarn install

      - name: Run tests
        run: yarn test
