.alert-box {
  --vertical-padding: var(--bloom-s3);
  --horizontal-padding: var(--bloom-s4);
  --background-color: var(--bloom-color-primary-light);
  --alert-background-color: var(--bloom-color-alert-light);
  --alert-invert-background-color: var(--bloom-color-alert);
  --notice-background-color: var(--bloom-color-primary-light);
  --notice-invert-background-color: var(--bloom-color-primary);
  --success-background-color: var(--bloom-color-success-light);
  --success-invert-background-color: var(--bloom-color-success);
  --warn-background-color: var(--bloom-color-warn-light);
  --warn-invert-background-color: var(--bloom-color-warn);
  --text-color: var(--bloom-color-gray-900);
  --close-icon-color: var(--bloom-color-gray-900);
  --font-weight: 600;
  --max-width: var(--bloom-width-5xl);
  --line-height: 1.375;

  padding: var(--vertical-padding) var(--horizontal-padding);
  background-color: var(--background-color);
  color: var(--text-color);
  font-weight: var(--font-weight);
  position: relative;
  display: flex;
  align-items: center;
  line-height: var(--line-height);

  .alert-box_inner {
    margin: auto;
    max-width: var(--max-width);
    padding-right: var(--horizontal-padding);
    padding-left: var(--horizontal-padding);
    flex: 1;
    display: flex;
    align-items: center;
  }

  &.narrow {
    padding-top: var(--bloom-s1_5);
    padding-bottom: var(--bloom-s1_5);
  }

  &.invert {
    color: var(--bloom-color-white);
    a {
      color: var(--bloom-color-white);
      text-decoration: underline;
    }
  }

  &.alert {
    background-color: var(--alert-background-color);

    &.invert {
      background-color: var(--alert-invert-background-color);
    }
  }

  &.primary {
    background-color: var(--notice-background-color);

    &.invert {
      background-color: var(--notice-invert-background-color);
    }
  }

  &.success {
    background-color: var(--success-background-color);

    &.invert {
      background-color: var(--success-invert-background-color);
    }
  }

  &.warn {
    background-color: var(--warn-background-color);
  }
}

.alert-box__head {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.alert-box__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-box__body {
  font-weight: var(--font-weight);
  font-size: var(--bloom-font-size-tiny);
}

.alert-box__close {
  font-size: var(--bloom-font-size-3xl);
  right: var(--horizontal-padding);
  margin-left: var(--bloom-s3);
  padding: 0;
  line-height: var(--bloom-s4);
  color: var(--close-icon-color);
}

.alert-box__icon {
  margin-right: var(--bloom-s3);
}

.alert-box__sticky {
  position: sticky;
  top: var(--bloom-s3);
  margin-top: var(--bloom-s3);
  margin-right: var(--bloom-s3);
  z-index: 10;
  margin-left: auto;
  width: fit-content;
}

.alert-box__sticky + * {
  --alert-box-height: -3.6rem;
  margin-top: var(--alert-box-height);
}
