.breadcrumbs {
  ol {
    @apply flex;
    @apply items-center;
    line-height: 1.5rem;
  }

  li {
    @apply text-sm;
    @apply flex;
    @apply tracking-wider;
    @apply self-center;

    &:not(:last-child)::after {
      content: '\203A';
      @apply text-lg;
      @apply px-2;
      line-height: 1.4rem;
    }
  }

  a.is-active {
    color: inherit;
  }
}
