.language-bar {
  @apply bg-gray-800;
}

.language-bar__inner {
  @apply w-full;
  @apply flex;
  @apply justify-end;
  margin: auto;

  @screen md {
    padding: 0 12px;
  }

  @screen lg {
    padding: 0 50px;
  }
}

.language-nav__list {
  @apply flex;
}

.language-nav__list-button {
  @apply py-2;
  @apply px-3;
  @apply text-gray-500;
  @apply font-semibold;
  @apply cursor-pointer;
  @apply bg-none;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 3px 4px $tailwind-accent-cool;
  }

  &.is-active {
    @apply text-white;
  }
}
