.progress-nav {
  display: table;
  width: 100%;
}

.progress-nav__bar {
  border-spacing: 0.125rem;
  table-layout: fixed;
}

.progress-nav__dot-item {
  font-size: var(--bloom-font-size-2xs);
  padding: 0.75rem 0.5rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  display: table-cell;
  white-space: nowrap;
  float: none;
  max-width: 20%;

  @screen md {
    font-size: var(--bloom-font-size-sm);
    padding: 0rem;
  }

  &:before {
    position: absolute;
    height: 0.75rem;
    width: 0.75rem;
    background-color: var(--bloom-color-lush);
    border-style: solid;
    border-radius: 50%;
    border-color: var(--bloom-color-white);
    top: 0;
    left: 50%;
    content: "";
    transform: translateX(-50%);
    z-index: 2;
  }

  &:after {
    position: absolute;
    background-color: var(--bloom-color-gray-450);
    width: 100%;
    left: 0;
    top: 0.4rem;
    content: "";
    height: 1px;
  }

  &:first-of-type {
    &:after {
      left: 50%;
    }
  }

  &:last-of-type {
    &:after {
      left: auto;
      right: 50%;
    }
  }

  &.is-active {
    &:before {
      height: 0.75rem;
      width: 0.75rem;
      background-color: var(--bloom-color-primary);
      top: 0;
    }

    a {
      color: var(--bloom-color-black);
      font-weight: bold;
    }
  }

  &.is-disabled {
    &:before {
      height: 0.75rem;
      width: 0.75rem;
      background-color: var(--bloom-color-gray-450);
      top: 0;
    }

    a {
      pointer-events: none;
      cursor: default;
    }
  }

  a {
    @apply pt-4;
    padding-top: 1rem;
    padding-left: 0.25rem;
    color: var(--bloom-color-gray-700);
    display: block;
    position: relative;
    z-index: 3;
  }
}

.progress-nav__bar-item {
  font-size: 0;
  padding-top: 0.5rem;
  padding-left: 0.125rem;
  position: relative;
  display: table-cell;
  white-space: nowrap;
  float: none;
  max-width: 20%;
  border-top-width: 1rem;
  border-top-color: var(--bloom-primary);
  @screen md {
    font-size: var(--bloom-font-size-base);
  }
  &.is-active {
    border-top-color: var(--bloom-color-primary);
    font-weight: 600;
  }
  &.is-disabled {
    border-top-color: var(--bloom-color-gray-450);
  }
  a {
    color: var(--bloom-color-primary-darker);
  }
}
