.side-nav {
  --border: solid var(--bloom-border-1) var(--bloom-color-gray-450);
  --border-radius: var(--bloom-rounded-lg);
  --current-padding-inline: var(--bloom-s6);
  --current-padding-block: var(--bloom-s4);
  --link-color: var(--bloom-color-gray-700);
  --current-selection-color: var(--bloom-color-gray-900);
  --selection-parent-accent: var(--bloom-color-gray-450);
  --hover-link-color: var(--bloom-color-primary);
  --hover-background-color: var(--bloom-color-primary-lighter);

  border: var(--border);
  border-radius: var(--border-radius);

  & > ul {
    & > li:first-child > a {
      border-top-right-radius: var(--border-radius);
      border-top-left-radius: var(--border-radius);
    }

    & > li:last-child > a {
      border-bottom-right-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
    }

    & > li > ul > li:first-child {
      border-top: var(--border);
    }
  }

  li:not(:last-child) {
    border-bottom: var(--border);
  }

  a {
    display: flex;
    justify-content: space-between;
    color: var(--link-color);
    padding-inline: var(--current-padding-inline);
    padding-block: var(--current-padding-block);

    &[aria-current] {
      color: var(--current-selection-color);
    }

    &[aria-current]:not(:focus) {
      box-shadow: inset 3px 0px 0px 0px var(--hover-link-color);
    }

    &.has-current-child {
      color: var(--current-selection-color);
    }

    &.has-current-child:not(:focus) {
      box-shadow: inset 3px 0px 0px 0px var(--selection-parent-accent);
    }

    &:hover,
    &:focus {
      background-color: var(--hover-background-color);
      color: var(--hover-link-color);
    }

    span:last-of-type {
      color: var(--link-color);
    }
  }

  ul ul a {
    padding-inline-start: calc(var(--current-padding-inline) + var(--current-padding-block));
  }
}
