.tab-nav ul {
  @apply flex;
  @apply items-center;
  @apply font-alt-sans;
  @apply uppercase;
  @apply text-sm;
  @apply font-semibold;
  @apply tracking-wider;
}

.tab-nav__tab {
  a {
    @apply block;
    @apply px-6 pb-3;
    @apply border-b-2;
    @apply text-gray-700;
    @apply items-center;
    border-color: transparent;
    line-height: 1.5rem;

    @screen md {
      @apply pb-3;
    }

    &:hover {
      @apply text-gray-900;
      @apply border-gray-450;
    }

    &.is-active {
      @apply border-primary;
      @apply text-gray-900;
    }

    .tag {
      @apply ml-2;
      @apply text-xs;
      line-height: 1rem;
    }
  }
}
